<!--  ---------------->
<!-- BOOKING SYSTEMS-->
<!--  ---------------->
<article class="invert booking-engines-section title-row">
<h2 class="sub-heading-two">Short on time?</h2>
<div class="two">


<h4>Activity provider quick start</h4>
<p>Reach more customers. Search our list of booking and listing systems to see if yours is already OpenActive-enabled.</p>
<p><img src="{{ site.baseurl }}/resources/images/home_tick.svg"></p>
  
  
</div>
<div class="two">
<form id="live-search" action="" class="styled" method="post">
<fieldset>
<label for="booking-filter"></label>
<input type="text" class="text-input noEnterSubmit" id="booking-filter" value="" placeholder="Search Our Booking Systems..." />
<span id="filter-count"></span>
</fieldset>
</form>
<nav class="freegrid-four">
{% for post in site.bookingsystems %}
{% assign theImage = post.thumbnail_image %}
{% if post.member %}
{% assign theMember = site.members | where:"title", post.member  | first %}
{% assign theImage = theMember.thumbnail_image %}
{% endif %}
<div class="booking-tab" markdown="0" >
<a href="{{ post.url | relative_url }}"><img role="logo" src="{{ theImage  | relative_url}}"/></a>
<span class="hidden">{{post.title}}</span>
<span class="hidden">{{post.title | downcase}}</span>
</div>
{% endfor %}
<div class="booking-tab marker" markdown="0">
{% if site.bookingsystems %}
{% for post in site.bookingsystems %}
{% assign num = forloop.length %}
{% endfor %}
{% endif %}

<img class="logo" src="{{ site.baseurl }}/resources/images/blank.svg"/>
<a href="{{ site.baseurl }}{% link bookingsystems.md %}"></a>
<h4>+{{ num | minus:7 }}</h4>
</div>
</nav>
<span class="notListed"><a class="button-primary" href="mailto:hello@openactive.io?subject=Add this booking system please">My booking system is not listed</a></span>
<p><a class="button-primary" href="{{ site.baseurl }}{% link bookingsystems.md %}">I don't have a booking system</a></p>
<p><a class="button-primary" href="{{ site.baseurl }}{% link getting-started.md %}#booking-systems">I have a custom-built system</a></p>
</div>
</article>

