<div class="one case-study-slim title-row" markdown="0">

{% for post in site.case_studies %}
{% assign theImage = post.thumbnail_image %}

{% if post.member %}
{% assign theMember = site.members | where:"title", post.member | first %}
{% assign theImage = theMember.thumbnail_image %}
{% endif %}

{% if post.is_featured %}
<div class="one subgrid case-tab" data-tab="case-{{ forloop.index }}">
<div class="two tworight">
<a href="{{ post.url | relative_url }}">
<figure role="group" aria-labelledby="fig-{{ forloop.index }}">
<img src="{{ theImage  | relative_url}}" alt="{{ post.title | escape }} icon"/>
<figcaption aria-hidden="true" id="fig-{{ forloop.index }}" class="hidden" >{{ post.title | escape }}</figcaption>
</figure>
</a>
</div>
<div class="two tworight">
<a href="{{ post.url}}"><h4>{{ post.title | escape }}</h4></a>
<!--<p>{{ post.strapline }}</p>-->

<figure>
<blockquote class="featured--alt">
<!--<p>{{ post.quote }}</p>-->
<i class="quote">{% include quote.svg %}</i>
<p>{{ post.strapline }}</p>
</blockquote>
</figure>

</div>

</div>

{% endif %}
{% endfor %}

</div>
<div class="block-overlay"></div>
<aside class="right-col">
{% for post in site.case_studies %}
{% if post.is_featured %}
{% assign isdata = post.exposedData %}
	{% if isdata %}
<div class="case-content" data-id="case-{{ forloop.index }}">
	
<h6>DATA EXPOSED</h6>
<div class="exposedData">
{% for data in post.exposedData %}
<img src="{{ site.baseurl }}/resources/images/icons/{{ data | split: ' ' | first | downcase }}.svg" title="{{ data }}" alt="{{ data }} icon"/> 
{% endfor %}

</div>

</div>
{% endif %}
{% endif %}
{% endfor %}
</aside>
