<section class="case-studies">
    <div class="block two subgrid">
        {% for post in site.case_studies %}
        {% if post.is_featured %}
        <div class="block three case-tab" data-tab="{{ forloop.index }}">
            <img src="{{post.thumbnail_image | relative_url}}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="block two">
        {% for post in site.case_studies %}
        {% if post.is_featured %}
        <div class="block three case-content" id="{{ forloop.index }}">
            <img src="{{post.thumbnail_image | relative_url}}">
            <h6>{{ post.title | escape }}</h6>
            {{post.content}}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
