<footer>
    <article>
        <div class="intro">
            <h4>Some of our members</h4>&nbsp;<a class="link" href="{{ site.baseurl }}{% link members-page.md %}">All Members</a>
        </div>
        <div class="members">
            <div class="subgrid">
                {% for post in site.case_studies %}
                {% if post.is_featured %}
                <div class="six " id="member-{{ forloop.index }}">
                    <figure class="">
                        <img src="{{post.thumbnail_image | relative_url}}">
                        <a class="post-title post-link" href="{{ post.website }}" target="_blank"><span class="hidden" aria-hidden="true">{{ post.title | escape }}</span></a>
                    </figure>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        <nav role="navigation">
            <ul class="nav-style">
                {% assign navigation_pages = site.html_pages | sort: 'position' %}
                {% for p in navigation_pages %}
                {% if p.is_secondary_navigation %}
                {% if p.position %}
                <li>
                    <a role="menuitem" {% if p.url== page.url %}class="active" {% endif %}
                       href="{{ p.url | relative_url }}">{{ p.title }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li><a href="{{" styleguide/index.html" |relative_url}}">StyleGuide</a></li>
            </ul>
            {% include social.html %}
        </nav>

    </article>
</footer>


