<footer>
    <div class="subgrid">
        <h2>{{ site.title | escape }}</h2>
        {% if site.author %}
        <p>{{ site.author | escape }} </p>
        {% endif %}
        {% if site.email %}
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {% endif %}
        <nav role="navigation">
            <ul>
                {% assign navigation_pages = site.html_pages | sort: 'position' %}
                {% for p in navigation_pages %}
                {% if p.is_secondary_navigation %}
                {% if p.position %}
                <li>
                    <a role="menuitem" class="{% if p.url== page.url %}active {% endif %}"
                       href="{{ p.url | relative_url }}">{{ p.title
                        }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li><a href="{{" styleguide/index.html" |relative_url}}">StyleGuide</a></li>

            </ul>
        </nav>
        {% include social.html %}
    </div>
</footer>
