<footer>
    <article>
        <div class="left-border">
            <div></div>
        </div>

        <div class="wrapper">
            <div class="intro">
                <h4>Some of our members</h4>&nbsp;<a class="link" href="{{ site.baseurl }}{% link members-page.md %}">All
                Members</a>
            </div>
            <div class="members">
                <div class="subgrid">
                     {% assign posts = site.members  | sample:6 %} 
                    {% for post in posts %}
                     
                    <div class="six-members" id="member-{{ forloop.index }}">
                        <figure role="group">
                            <a href="{{ site.baseurl }}{% link members-page.md %}">
                                <img role="logo" src="{{post.thumbnail_image | relative_url}}" alt="{{ post.title | escape }}">
                                <span class="hidden" aria-hidden="true">{{ post.title | escape }}</span>
                            </a>
                        </figure>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>

        <nav>
            <ul class="nav-style" role="menubar">
                {% assign navigation_pages = site.html_pages | sort: 'position' %}
                {% for p in navigation_pages %}
                {% if p.is_secondary_navigation %}
                {% if p.position %}
                <li>
                    <a role="menuitem" {% if p.url== page.url %}class="active" {% endif %}
                       href="{{ p.url | relative_url }}" aria-label="Go to Page {{ p.title }}">{{ p.title }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li>
                    <a role="menuitem" {% if p.url== page.url %}class="active" {% endif %}
                       href="mailto:hello@openactive.io" aria-label="email hello@openactive.io">Contact</a>
                </li>
                <li>
                    <a role="menuitem" {% if p.url== page.url %}class="active" {% endif %}
                       target="_blank" href="http://openactive.us13.list-manage1.com/subscribe?u=9e6648557f84731796a4ac873&id=1665f95799" aria-label="sign up to newsletter">Newsletter</a>
                </li>
            </ul>
            {% include social.html %}
        </nav>
        <div class="right-border">
            <div class="supporters">
                <h6>Stewarded by: </h6>
                <a href="https://theodi.org/"target="_blank" rel="noopener"><img  alt="The Open Active logo" src="{{ site.baseurl }}/resources/images/basic-72-K-80px.svg"/></a>
            </div>
            <div class="supporters">
                <a href="https://www.sportengland.org/" target="_blank" rel="noopener" ><img alt="Sport England Logo" src="{{ site.baseurl }}/resources/images/sport_england.svg"/></a>
            </div>
        </div>
        </div>
    </article>
</footer>


