<head>
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = 'AKGPP';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
y="rec";g.shutdown=function(i,v){g(y,!1)};g.restart=function(i,v){g(y,!0)};
g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
</script>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
      window.addEventListener("load", function(){
          window.cookieconsent.initialise({
              "palette": {
                  "popup": {
                      "background": "#0067b1"
                  },
                  "button": {
                      "background": "#931e80",
                      "text": "#ffffff",
                      "padding" : "10px 30px"

                  }
              },
              "theme": "edgeless",
              "content": {
                  "href": "/cookie-policy"
              }
          })});
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>


    {% include google-analytics.html %}
    
    
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAve4AEkValx9zayo_Gip6-wtvGJXtRxks",
    authDomain: "openactive-live.firebaseapp.com",
    databaseURL: "https://openactive-live.firebaseio.com",
    projectId: "openactive-live",
    storageBucket: "openactive-live.appspot.com",
    messagingSenderId: "407830799725"
  };
  firebase.initializeApp(config);
</script>

<script src="https://static.filestackapi.com/v3/filestack.js"></script>
  
<script src="https://cdn.firebase.com/libs/firebaseui/2.7.0/firebaseui.js"></script>
<!--<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.7.0/firebaseui.css" />-->

<script>                            
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
</script>

<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#3B3089">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#3B3089">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#3B3089">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

  <link rel="stylesheet" href="{{ "/resources/main.css" | relative_url }}">
  <script  src="{{ "/resources/js/siema.min.js" | relative_url }}"></script>
  <script  src="{{ "/resources/js/ycp.js" | relative_url }}"></script>
  <script  src="{{ "/resources/main.js" | relative_url }}"></script>


  <script src="{{ "/resources/js/highlight.min.js" | relative_url }}"></script>
  <script src="{{ "/resources/js/odometer.js" | relative_url }}"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href={{ "../favicon/apple-touch-icon-57x57.png" | relative_url }}   />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href={{ "../favicon/apple-touch-icon-114x114.png" | relative_url }} />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href={{ "../favicon/apple-touch-icon-72x72.png"| relative_url }}  />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ "../favicon/apple-touch-icon-144x144.png"| relative_url }}  />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href={{ "../favicon/apple-touch-icon-60x60.png"| relative_url }}  />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href={{ "../favicon/apple-touch-icon-120x120.png"| relative_url }}  />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href={{ "../favicon/apple-touch-icon-76x76.png" | relative_url }} />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href={{ "../favicon/apple-touch-icon-152x152.png" | relative_url }} />
  <link rel="icon" type="image/png" href={{ "../favicon/favicon-196x196.png"| relative_url }}  sizes="196x196" />
  <link rel="icon" type="image/png" href={{ "../favicon/favicon-96x96.png"| relative_url }}  sizes="96x96" />
  <link rel="icon" type="image/png" href={{ "../favicon/favicon-32x32.png"| relative_url }}  sizes="32x32" />
  <link rel="icon" type="image/png" href={{ "../favicon/favicon-16x16.png"| relative_url }}  sizes="16x16" />
  <link rel="icon" type="image/png" href={{ "../favicon/favicon-128.png"| relative_url }}  sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content={{ "../favicon/mstile-144x144.png"| relative_url }}  />
  <meta name="msapplication-square70x70logo" content={{ "../favicon/mstile-70x70.png"| relative_url }}  />
  <meta name="msapplication-square150x150logo" content={{ "../favicon/mstile-150x150.png"| relative_url }}  />
  <meta name="msapplication-wide310x150logo" content={{ "../favicon/mstile-310x150.png"| relative_url }}  />
  <meta name="msapplication-square310x310logo" content={{ "../favicon/mstile-310x310.png"| relative_url }}  />
  <meta name="theme-color" content="#FFFFFF" >

  <meta content="{{ site.title }}" property="og:site_name">
  <!-- {% if page.title %}
          <meta content="{{ page.title }}" property="og:title">
        {% else %}
          <meta content="{{ site.title }}" property="og:title">
        {% endif %}
        {% if page.title %}
          <meta content="article" property="og:type">
        {% else %}
          <meta content="website" property="og:type">
        {% endif %}
        {% if page.description %}
          <meta content="{{ page.description }}" property="og:description">
        {% else %}
          <meta content="{{ site.description }}" property="og:description">
        {% endif %}
        {% if page.url %}
          <meta content="{{ site.url }}{{ page.url }}" property="og:url">
        {% endif %}
        {% if page.date %}
          <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
          <meta content="{{ site.url }}/about/" property="article:author">
        {% endif %}
        {% if page.image %}
          <meta content="/resources/{{ page.image }}" property="og:image">
        {% else %}
          <meta content="http://www.sushkelly.co.uk/assets/twitter.jpg" property="og:image">
        {% endif %} -->
  {% if page.categories %} {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section"> {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag"> {% endfor %} {% endif %} {% if page.tipue_search_active or layout.tipue_search_active %}

  <link rel="stylesheet" href="{{ "resources/tipuesearch/css/normalize.css " | relative_url }}">
  <script src="{{ "resources/tipuesearch/tipuesearch_content.js " | relative_url }}"></script>
  <link rel="stylesheet" href="{{ "resources/tipuesearch/css/tipuesearch.css " | relative_url }}">
  <script src="{{ "resources/tipuesearch/tipuesearch_set.js " | relative_url }}"></script>
  <script src="{{ "resources/tipuesearch/tipuesearch.min.js " | relative_url }}"></script> {% endif %} 

  <script>
    // Inject YouTube API script
      var tag = document.createElement('script');
      tag.src = "//www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


      var player;

      function onYouTubePlayerAPIReady() {
        // create the global player from the specific iframe (#video)
        player = new YT.Player('video', {
          events: {
            // call this function when player is ready to use
            'onReady': onPlayerReady
          }
        });
      }


      function onPlayerReady(event) {
  
        // bind events
        var playButton = document.getElementById("play-button");
      //  playButton.preventDefault();
        playButton.addEventListener("click", function() {
          player.playVideo();
          $('#play-button').fadeOut();
          $('.mask').fadeOut();
        });
        
        
      }


  </script>
</head>
