<header id="mainHeader">

    <figure id="logo" class="g-item logo" role="group">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        <a href="{{ "/" | relative_url }}">

        {% include openactivelogostacked.svg %}

        </a>
    </figure><!--

    --><h1 class="g-item headline">Using data to help people get active</h1><!--

    -->
    <nav tabindex="-1" class="g-item navigation">
        <div class="mobile_button" onclick="openNav()">
            <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="mobile-nav nav-style" role="menubar">

            <li>
                <a role="menuitem"
                   href=" {{ site.baseurl }}{% link home.markdown %}" aria-label="Go to Home page">Overview</a>
            </li>
            {% assign navigation_pages = site.html_pages | sort: 'position' %}
            {% for p in navigation_pages %}
            {% if p.is_main_navigation %}
            {% if p.position %}
            <li {% if p.url== page.url %}class="active" {% endif %}>
                <a role="menuitem"
                   href="{{ p.url | relative_url }}" aria-label="Go to Page {{ p.title }}">{{ p.title }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>

        <!--{% assign links = site.data.menu %}-->

        <!--<ul class="mobile-nav nav-style">-->
        <!--{% for link in links %}-->
        <!--<li class="{% if link.url== page.url %}active {% endif %}">-->
        <!--<a role="menuitem" href="{{ link.url }}">-->
        <!--{{ link.name }}-->
        <!--</a>-->
        <!--</li>-->
        <!--{% endfor %}-->
        <!--</ul>-->


    </nav><!--

    -->
    <aside class="g-item button">
        <div class="social-button">
            {% include social.html %}
            <div>
                <a class="button-primary " href="{{ site.baseurl }}{% link use-data.md %}" onclick="gtag('event', 'top level ctas', {'header': 'clicked', 'event_label': 'use-data'});"><span class="label">Use data</span><span class="icon">{% include tick.svg %}</span></a>
                <a class="button-primary startup" href="{{ site.baseurl }}{% link join.md %}" onclick="gtag('event', 'top level ctas', {'header': 'clicked', 'event_label': 'join'});"><span class="label">Join Now</span><span class="icon">{% include join.svg %}</span></a>
            </div>
        </div>
    </aside>
</header>
<div id="sticky-phantom"></div>






