<header role="banner">

    <div>
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        <a href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/images/logo-placeholder.jpg" | relative_url }}" title="{{ site.title | escape }}"
        alt="Logo">
        </a>
    </div>
    {% if page_paths %}

    {% include social.html %}

    {% endif %}

    <nav>
        <ul>
            {% assign navigation_pages = site.html_pages | sort: 'position' %}
            {% for p in navigation_pages %}
            {% if p.is_main_navigation %}
            {% if p.position %}
            <li>
                <a class="{% if p.url== page.url %}active {% endif %}" href="{{ p.url | relative_url }}">{{ p.title
                    }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

</header>
<hr>

