<header role="banner">

    <div id="logo" role="logo" style="background: url({{ "/assets/images/logo-placeholder.jpg" | relative_url }})no-repeat center/cover;">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        <a class="abs" href="{{ "/" | relative_url }}">
        <!--<img src="{{ "/assets/images/logo-placeholder.jpg" | relative_url }}" title="{{ site.title | escape }}"alt="Logo">-->
        </a>
    </div>
    {% if page_paths %}

    {% include social.html %}

    {% endif %}

    <nav tabindex="-1" role="navigation">
        <ul>
            {% assign navigation_pages = site.html_pages | sort: 'position' %}
            {% for p in navigation_pages %}
            {% if p.is_main_navigation %}
            {% if p.position %}
            <li>
                <a role="menuitem" class="{% if p.url== page.url %}active {% endif %}" href="{{ p.url | relative_url }}">{{ p.title
                    }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

</header>
<hr>


