<article id="post-nav" class="up_next title-row" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 class="sub-heading-two">Further Reading</h2>

    <div class="two">
        {% if page.previous.url %}
        <div class="blue-gradient-bc subgrid">
            <div class="left"
                 style="background: url({{ site.baseurl }}{{ page.previous.thumbnail_image }})center center / cover no-repeat;">

            </div>
            <div class="right">
                <h3>Previous</h3>
                <p>{{page.previous.title}}</p>
                <p><a class="button-primary" href="{{ site.baseurl }}{{page.previous.url}}">Read</a></p>
            </div>
        </div>
        {% else %}
        <div class="blue-gradient-bc subgrid">

            <div class="left no-post">
                <h3>Return to the blog home</h3>
                <p>All out of posts, return home to read all about the other things happening at OpenActive</p>
                <p><a class="button-primary"  href="{{ site.baseurl }}{% link blog.md %}">Blog Home</a></p>
                <!--<p><a class="button-primary" href="{{ site.baseurl }}{{page.previous.url}}">Read</a></p>-->
            </div>
        </div>
        {% endif %}
    </div>

    <div class="two">
        {% if page.next.url %}
        <div class="purple-gradient-bc subgrid">
            <div class="left">
                <h3>Up Next</h3>
                <p>{{page.next.title}}</p>
                <p><a class="button-primary" href="{{ site.baseurl }}{{page.next.url}}">Read</a></p>
            </div>
            <div class="right"
                 style="background: url({{ site.baseurl }}{{ page.next.thumbnail_image }})center center / cover no-repeat;">
            </div>

        </div>
        {% else %}
        <div class="purple-gradient-bc subgrid">
            <div class="right no-post">
                <h3>Return to the blog home</h3>
                <p>All out of posts, return home to read all about the other things happening at OpenActive</p>
                <p><a class="button-primary"  href="{{ site.baseurl }}{% link blog.md %}">Blog Home</a></p>
                <!--<p><a class="button-primary" href="{{ site.baseurl }}{{page.previous.url}}">Read</a></p>-->
            </div>
        </div>
        {% endif %}
    </div>


</article>