<header class="accelerator-header">

    <figure id="logo-accelerator" class="g-item logo-accelerator" role="group">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        <a>
        {% include acel-logo.svg %}
        </a>
    </figure><!--
    --><h1 class="g-item headline-accelerator">Using data to help people get active</h1><!--

    --><aside class="g-item social-button-accelerator">
        <div class="social-button">
            {% include social.html %}
        </div>
    </aside><!--

    --><aside class="g-item button-accelerator">
        <div>
            <a class="button-primary" target="_blank" rel="noopener" href="https://www.f6s.com/openactiveaccelerator/apply"
               onclick="gtag('event', 'accelerator ctas', {'header': 'clicked', 'event_label': 'apply now'});"><span
                    class="label">APPLY NOW</span><span class="icon">{% include accelerator.svg %}</span></a>
        </div>
    </aside>
</header>
<div id="sticky-phantom-accelerator"></div>