<footer class="slim">
    <article>
        <div class="two">
            <div class="right-border">
                <div class="supporters">
                    <a href="https://theodi.org/" target="_blank" rel="noopener"><img
                            src="{{ site.baseurl }}/assets/images/basic-72-K-80px.svg"/></a>
                </div>
            </div>
        </div>
        <div class="two">
            <div class="supporters">
                <a href="https://www.sportengland.org/" target="_blank" rel="noopener"><img
                        src="{{ site.baseurl }}/assets/images/sport_england.svg"/></a>
            </div>
        </div>
    </article>
</footer>


