<aside id="social">
    <ul>
        {% if site.twitter_username %}
        <li>
            {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.youtube_username %}
        <li>
            {% include icon-youtube.html username=site.youtube_username %}
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
            {% include icon-facebook.html username=site.facebook_username %}
        </li>
        {% endif %}

        {% if site.instagram_username %}
        <li>
            {% include icon-instagram.html username=site.instagram_username %}
        </li>
        {% endif %}

        {% if site.pinterest_username %}
        <li>
            {% include icon-pinterest.html username=site.pinterest_username %}
        </li>
        {% endif %}
    </ul>
</aside>