<article id="hover-blocks" class="title-row">
<h2 class="sub-heading-two">What startups get</h2>
<div class="one">
<div class="inline-block-five">
<figure>
{% include opendata.svg %}
<strong>Open data</strong>
<figcaption>Unique access from key physical activity providers.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include officespace.svg %}
<strong>Office space</strong>
<figcaption>Including day-to-day business support.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include mentorship.svg %}
<strong>Mentorship</strong>
<figcaption>Matched with industry leaders that are the best fit for your startup.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include workshops.svg %}
<strong>Workshops</strong>
<figcaption>From business modelling to marketing, you’ll hone skills to succeed.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include oneonone.svg %}
<strong>1:1s</strong>
<figcaption>Weekly sessions with the OpenActive Accelerator team.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include perks.svg %}
<strong>Perks</strong>
<figcaption>Access to professional services inc. data hosting.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include networking.svg %}
<strong>Networking</strong>
<figcaption>Weekly opportunities to grow your network</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include partners.svg %}
<strong>Partners</strong>
<figcaption>Supporters and business leads.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include investors.svg %}
<strong>Investors</strong>
<figcaption>We’ll connect you with the right people and advice at the right time.</figcaption>
</figure>
</div>
<div class="inline-block-five">
<figure>
{% include demo.svg %}
<strong>Demo Day</strong>
<figcaption>Demonstrate your products and services at an invite-only pitch to investors.
</figcaption>
</figure>
</div>
</div>
</article>