
<article class="title-row people" markdown="0">
<h2 class="sub-heading-two">Start-Ups</h2>
<div class="one">

{% for post in site.startups %}
{% assign theImage = post.thumbnail_image %}

<div class="inline-block-five">
<figure>
<a href="{{ post.url | relative_url }}">
<img src="{{ theImage  | relative_url}}" alt="{{ post.title | escape }} Icon"/>
</a>
<figcaption>
<p><strong>{{ post.title | escape }}</strong></p>
<p>{{ post.second-name | escape }} </p>
<p>{{ post.company | escape }} </p>
<p>{{ post.role | escape }} </p>
</figcaption>

<div class="social-links">

{% if post.twitter %}
<a target="_blank" rel="noopener" href="{{ post.twitter }}">
<span class="icon icon--twitter">
{% include twitter.svg %}
</span>
<span class="hidden" aria-hidden="true">
Twitter
</span>
</a>

{% endif %}

{% if post.linkedin %}

<a href="{{ post.linkedin }}" target="_blank">
<span class="icon icon--twitter">
{% include linkedin.svg %}
</span>
<span class="hidden" aria-hidden="true">
LinkedIn
</span>
</a>

{% endif %}

</div>
</figure>

</div>


{% endfor %}

</div>
</article>