<div class="two stats">
<div class="subgrid">
<div class="three">
<figure>
<div class="wrap">
<div class="odometer years">0</div>
</div>
<figcaption>Years</figcaption>
</figure>
</div>
<div class="three">
<figure>
<div class="wrap">
<div class="odometer startups">0</div>
</div>
<figcaption>startups</figcaption>
</figure>
</div>
<div class="three">
<figure>
<div class="wrap">
<div class="odometer world">0</div>
</div>
<figcaption>countries worldwide</figcaption>
</figure>
</div>
<div class="three">
<figure>
<div class="wrap">
<div class="odometer cohorts">0</div>
</div>
<figcaption>cohorts</figcaption>
</figure>
</div>
<div class="three">
<figure>
<div class="wrap">
<div class="odometer jobs">0</div>
</div>
<figcaption>jobs</figcaption>
</figure>
</div>
<div class="three">
<figure>
<div class="wrap">
<span class="sterling">£</span>
<div class="odometer investment">0</div>
<span class="million">m</span>
</div>
<figcaption>investment raised</figcaption>
</figure>
</div>
</div>
</div>