<section id="staticman">
    <form method="POST" action="https://api.staticman.net/v2/entry/{{site.repository}}/{{ site.staticman.branch }}">
        <fieldset>
            <legend>{{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }}</legend>
            <input name="options[redirect]" type="hidden" value="https://my-site.com">
            <!-- e.g. "2016-01-02-this-is-a-post" -->
            <input name="options[slug]" type="hidden" value="{{ page.slug }}">

            <label for="form-name">{{ site.data.ui-text[site.locale].comment_form_name_label | default: "Name" }}</label>
            <input name="fields[name]" type="text" id="form-name">

            <label for="form-email">{{ site.data.ui-text[site.locale].comment_form_email_label | default: "Email" }}</label>
            <input name="fields[email]" type="email" id="form-email">

            <label for="form-message">{{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }}</label>
            <textarea name="fields[message]" id="form-message"></textarea>

            <button type="submit">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit" }}</button>
        </fieldset>
    </form>
</section>
