<article markdown="0" class="tabs invert">
<h2 class="sub-heading-two">Where to start?</h2>
<div id="tabs">
<div class="tabsList " role="tablist">

<!-- <h3 class="tablink" role="tab presentation" aria-selected="true"> -->
<!-- <a href="#how-it-works">How it Works</a> -->
<!-- <i class="icon_wrap_accordian"> -->
<!-- <i class="icon"></i> -->
<!-- </i> -->
<!-- </h3> -->

<!-- <div markdown="1" role="tabpanel" id="how-it-works" class="tabPanel" aria-hidden="false" aria-labelledby="how-it-works"> -->

<!-- #### How it Works -->
<!-- OpenActive makes discovering and taking part in  sport and fitness activities easier than ever before. With open data, your activities can be available to people across the country,  on websites and apps that attract millions of users, to communities and services that engage local people. -->

<!-- [Discover More]( {{ site.baseurl }}{% link how-it-works.md %}){: .button-primary} -->

<!-- </div> -->

<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#booking-systems">Booking Systems</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="booking-systems" class="tabPanel" aria-hidden="true"
aria-labelledby="booking-systems">


<div>

#### Booking Systems

</div>
<div>

<h5>To get started, add an open data tick-box to your system so your customers can begin publishing
open data.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)

</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)
<h5>Build in simple data tools to allow your customers to publish activity listings, and use
OpenActive data standards to improve existing datasets.</h5>

</div>
<div>

<h5>Datasets will be listed in our directory for anyone to access, use, and share.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)

</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)
<h5>Now, your customers’ activities will be available everywhere, from high-traffic online
platforms,, to local community services.</h5>

</div>
<div>

<h5>Publish your activity listing and join the open data revolution.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


</div>
<div>

[Get Started]( {{ site.baseurl }}{% link getting-started.md %}){: .button-primary--large}

</div>
</div>

<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#activity-provider">Activity Providers</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="activity-provider" class="tabPanel" aria-hidden="true"
aria-labelledby="activity-provider">


<div>

#### Activity Providers

</div>
<div>

<h5>List your activity details on your existing website or booking system.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


<h5>Publish your activity information using our OpenActive data standards.</h5>

</div>
<div>

<h5>Your dataset will be listed in our directory for anyone to access, use, and share.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)

<h5>Now, your activities will be available everywhere, from high-traffic online platforms, to local
community services.</h5>

</div>
<div>

<h5>Publish your activity listing and join the open data revolution.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


</div>
<div>

[Get Started]( {{ site.baseurl }}{% link getting-started.md %}){: .button-primary--large}

</div>

</div>

<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#use-data">Use Data</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="use-data" class="tabPanel" aria-hidden="true"
aria-labelledby="use-data">


<div>

#### Use Data

</div>
<div>

<h5>Pick a data source from the list available on OpenActive.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)

</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)

<h5>Join their mailing list and review the documentation.</h5>

</div>
<div>

<h5>Pull in the data to your website or app. If you need help reach out to the OpenActive
Community.</h5>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


</div>
<div>

[Get Started]( {{ site.baseurl }}{% link getting-started.md %}){: .button-primary--large}
</div>


</div>
</div>
</div>
<i class="line-graphic">{% include line-graphic-side.svg %}</i>
</article>
