<article markdown="0" class="tabs invert">
<h2 class="sub-heading-two">Where to start?</h2>
<div id="tabs">
<div class="tabsList " role="tablist">

<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#activity-provider">Activity Providers</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="activity-provider" class="tabPanel" aria-hidden="true"
aria-labelledby="activity-provider">


<div>

#### Activity Providers

</div>
<div>

{% include magnifying-glass.svg %}


<div class="step-text">

##### Find out if your booking system is OpenActive-enabled [booking systems]({{ site.baseurl }}{% link bookingsystems.md %}).

###### If your booking system isn't listed here then you may need to ask them to create your OpenActive feed, or you may need to build your own.

</div>
</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


<div class="step-text">

##### Once your feed is set up we will publicise it via our status dashboard.
</div>

</div>
<div>


{% include pick-data.svg %}

<div class="step-text">

##### 3rd parties can now use your data. They may from time to time provide feedback or suggestions on how you can improve it.

</div>
</div>

<div>

</div>
</div>


<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#booking-systems">Booking Systems</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="booking-systems" class="tabPanel" aria-hidden="true"
aria-labelledby="booking-systems">


<div>

#### Booking Systems

</div>

<!--STEP ONE-->
<div>

{% include data-spec.svg %}

<div class="step-text">

##### Familiarise yourself with the OpenActive technical specifications and example implementations.

</div>
</div>

<!--STEP TWO-->
<div>

{% include list.svg %}

<div class="step-text">

##### Set up your feed and get it listed on the OpenActive site.
###### You may decide to have one feed for all your customers, or multiple feeds for each.

</div>
</div>

<!--STEP THREE-->
<div>

{% include devices.svg %}

<div class="step-text">

##### 3rd parties can now use your data. They may from time to time provide feedback or suggestions on how you can improve it.

</div>
</div>
<div>

[Get Started]( {{ site.baseurl }}{% link getting-started.md %}){: .button-primary}

</div>
</div>



<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#use-data">Use Data</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="use-data" class="tabPanel" aria-hidden="true"
aria-labelledby="use-data">


<div>

#### Use Data

</div>
<div>

{% include signup.svg %}

<div class="step-text">

##### Have a look at the data that has been published to open standards data [Status Dashboard](http://status.openactive.io/){:target="_blank"}
</div>
</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)

<div class="step-text">

##### Join their mailing list and review the documentation.

</div>

</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)

<div class="step-text">

##### Provide feedback on the data via GitHub or reach out directly to the activity provider or booking system.</h5>

</div>
</div>
<div>

[Get Started]( {{ site.baseurl }}{% link getting-started.md %}){: .button-primary}

</div>

</div>
</div>
</div>
<i class="line-graphic">{% include line-graphic-side.svg %}</i>
</article>
