<article markdown="0" class="tabs invert">
<h2 class="sub-heading-two">Where to start?</h2>
<div id="tabs">
<div class="tabsList " role="tablist">

<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#activity-provider">Activity Providers</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="activity-provider" class="tabPanel" aria-hidden="true"
aria-labelledby="activity-provider">


<div>

#### Activity Providers

</div>
<!--STEP ONE-->
<div>

![Booking Systems]({{ site.baseurl }}/assets/images/icons/booking-system.svg)



<div class="step-text">


##### Get your activities online
You may already use a system to list your activities online. If you don't have one, it's quick and easy to get one.

[Get a Booking System]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost " }


</div>
</div>
<!--STEP TWO-->
<div>

![Open Data]({{ site.baseurl }}/assets/images/icons/open-data.svg)



<div class="step-text">

##### Tick the box to open your data
Find out if your booking system is [OpenActive-enabled]
If your booking system isn't listed then you may need to ask them to create an OpenActive feed, or you may need to build your own.

[Search instructions for your Booking System]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost " }

</div>

</div>

<!--STEP THREE-->
<div>



![Booking Systems]({{ site.baseurl }}/assets/images/icons/data-spec.svg)


<div class="step-text">

##### Your data is now open
Your activities are now being published as a "dataset" via a page on your system's website, for anyone to access, use or share.

[See open datasets]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost " }


</div>
</div>


<!--STEP FOUR-->
<div>


![what_open_data.png]({{ site.baseurl }}/assets/images/icons/devices.svg)


<div class="step-text">

##### Your activities are available everywhere
From websites and apps that attract millions of users, through to communities and services that engage local people.

They may from time to time provide feedback or suggestions on how you can improve your data.
We'll publicise your data to make sure that as many people use it as possible.

[See Examples]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }


</div>
</div>

<div>

[Get Started]( {{ site.baseurl }}{% link getting-started.md %}){: .button-primary}


</div>
</div>


<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#booking-systems">Booking Systems</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="booking-systems" class="tabPanel" aria-hidden="true"
aria-labelledby="booking-systems">


<div>

#### Booking Systems

</div>

<!--STEP ONE-->
<div>

![Booking Systems]({{ site.baseurl }}/assets/images/icons/data-spec.svg)


<div class="step-text">

##### Create Simple API
You build a simple open API to allow customers to publish their activity listings information openly using the OpenActive data standards as a " *dataset* "

[See Instructions]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }
[See Existing implimentations]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }


</div>
</div>

<!--STEP TWO-->
<div>

![Open Data]({{ site.baseurl }}/assets/images/icons/open-data.svg)



<div class="step-text">

##### Amend your terms and build an opt-out
If you don't own the data, either include some text in your T&Cs or add a tick-box in your system to allow your customers to turn open data publishing on and off.

[See Guidance]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }


</div>
</div>

<!--STEP THREE-->
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/placeholder.png)


<div class="step-text">

##### Make a dataset page so people can find your customers' data
Create a "dataset" page on your website, making your data available for anyone to access, use or share. This page is automatically indexed by Google and included in the OpenActive dataset directory.

[Instructions to create a dataset site]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }
[See open dataset]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }


</div>
</div>
<!--STEP FOUR-->
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/icons/devices.svg)


<div class="step-text">

##### Your customers' activities are available everywhere
From websites and apps that attract millions of users, through to communities and services that engage local people.

Data users may from time to time provide feedback or suggestions on how you can improve the data you allow your customers to publish.
We'll publicise your data to make sure that as many people use it as possible.

[See Examples]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }


</div>
</div>

<div>

[Go to Developer area]( {{ site.baseurl }}{% link developer.md %}){: .button-primary}

</div>
</div>



<h3 class="tablink" role="tab presentation" aria-selected="false">
<a href="#use-data">Use Data</a>
<i class="icon_wrap_accordian">
<i class="icon"></i>
</i>
</h3>

<div markdown="1" role="tabpanel" id="use-data" class="tabPanel" aria-hidden="true"
aria-labelledby="use-data">

<!--STEP ONE-->
<div>

#### Use Data

</div>
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/icons/dash-map.svg)



<div class="step-text">

##### Understand what open data is available and how you can help
Browse our status dashboard and map to understand the kinds of data available, and read our advocacy guidance to find out how to create more open data.

[Status Dashboard]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }
[Open data Map]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }
[Advocacy Guidance]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }



</div>
</div>

<!--STEP TWO-->
<div>


![what_open_data.png]({{ site.baseurl }}/assets/images/icons/devices.svg)


<div class="step-text">

##### Decide where you want to put the data
From websites and apps that attract millions of users, through to communities and services that engage local people, there are lots of ways of using OpenActive data.

If you already have a website that engages an audience or an app or a tool, it might make sense to include the data there. It might also make sense for you to build a whole new app, website or service, depending on whether you're a long-term business or a short-term campaign.

[See examples of where data has been used]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }



</div>

</div>

<!--STEP THREE-->
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/icons/decide.svg)


<div class="step-text">

##### Decide how you want to consume the open data
There are many white-label widgets available from organisations who make it easy for you to feature open data on any website.

There are also aggregators that provide one API to access all the data, and of course you can collect and display the data directly yourself.

[See procurement Guide]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }
[Visit active//choice]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }
[Developer Area]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }


</div>
</div>

<!--STEP FOUR-->
<div>

![what_open_data.png]({{ site.baseurl }}/assets/images/icons/comment.svg)


<div class="step-text">

##### Engage with activity providers and the community
Provide feedback on the data via GitHub or reach out directly to the activity provider or booking system.

Join the OpenActive community and help use your local or commercial influence to get more data

[Feedback guidance]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }
[Join the community]( {{ site.baseurl }}{% link developer.md %}){:class="button-secondary--ghost" }


</div>
</div>


<div>

[Visit Active//choice]( {{ site.baseurl }}{% link getting-started.md %}){: .button-primary} [Go to developer area]( {{ site.baseurl }}{% link developer.md %}){: .button-primary}

</div>

</div>
</div>
</div>
<i class="line-graphic">{% include line-graphic-side.svg %}</i>
</article>
