@import "base/reset.scss";
@import "base/mixins.scss";
@import "base/demo.scss";
@import "base/kss.scss";

// Colours
//
// Weight: 2
//
// Styleguide colours
@import "common/variables";
@import "common/global";
// Typography
//
// Weight: 1
//
// Styleguide typography
@import "common/typography";
// Buttons
//
// Weight: 3
//
// Styleguide buttons
@import "components/buttons";
// Forms
//
// Weight: 4
//
// Styleguide forms
@import "common/form";

@import "components/grid";

@import "components/footer";
@import "components/social";
@import "components/header";
@import "pages/page";
@import "pages/blog";
@import "pages/home";
@import "pages/faqs";
@import "pages/events";
@import "pages/faq";
@import "pages/case-studies";
@import "pages/collections";

// Components
//
// Weight: 5
//
// Styleguide components
//@import "components/components";
