@import "base/reset.scss";
@import "base/mixins.scss";
@import "base/demo.scss";
@import "base/kss.scss";

// Colours
//
// Weight: 2
//
// Styleguide colours
@import "common/variables";
@import "common/global";

// Typography
//
// Weight: 1
//
// Styleguide typography
@import "style-guide/typography";
@import "common/typography";
// Buttons
//
// Weight: 3
//
// Styleguide buttons
@import "components/buttons";
// Forms
//
// Weight: 4
//
// Styleguide forms
@import "common/form";

@import "components/grid";

@import "components/footer";
@import "components/social";
@import "components/header";
@import "pages/page";
@import "pages/blog";
@import "pages/home";
@import "pages/faqs";
@import "pages/events";
@import "pages/faq";
@import "pages/case-studies";
@import "pages/collections";
@import "pages/booking-engine-detail";
@import "pages/start-ups";
@import "pages/publish";
@import "pages/profile";

// Components
//
// Weight: 5
//
// Styleguide components
@import "style-guide/components";
@import "components/components";


// VENDOR
@import "vendor/odometer";
//@import "vendor/codepen-embed";
//@import "vendor/darcula";
@import "vendor/agate";
@import "vendor/ycp";