
#blog-page {
  article{
    &.post-list{
      &:nth-child(1){}
      &:nth-child(2){
        margin-top:2rem;
      }
      &:nth-child(3){
        margin-top:2rem;
      }
    }
  }
  .button-primary{
    margin-top: 1rem;
  }
  .subgrid{
    .date{
      margin-top: 0.5rem;
    }

  }
}