#events {
  article {
    grid-column: col / span 8;
    header {
    }
    #content {
    }
  }
  aside {
    grid-column: col 9 / span 4;
  }
}



// EVENT DETAIL
#event {
  header {
    grid-column: col / span 12;
  }
  div {
    grid-column: col / span 12;
  }
}