

.home {
  .hero--home {

    nav {
      grid-column-start: 1;
      grid-column-end: 2;
      align-self: center;
      justify-content: flex-end;
      display: grid;
      div {
        border: 1px solid $darkgray;
        width: 10px;
        height: 10px;
        margin-bottom: 0.5rem;
        border-radius: 50%;
        display: block;

      }
      div.current {
        border: 1px solid $darkgray;
        background-color: $brand-seven;
      }
    }
    div {
      grid-column-start: 2;
      grid-column-end: 7;
      h1{
        margin-top: 0;
      }
      @media only screen and (max-width: 900px) {
        grid-column-start: 2;
        grid-column-end: 14;
      }
      .hero_tab_content {
        margin: 2rem 0;
        .hero-content {
          display: none;
          &.current {
            display: block;
          }
          p {
            line-height: 1.8;
            font-size: $base-font-size * 1.3;
          }
        }
      }
    }
    figure {
      grid-column-start: 7;
      grid-column-end: 14;
      margin: 0;
      iframe{
        width: 560px;
        height: 315px;
      }
      @media only screen and (max-width: 900px) {
        grid-column-start: 2;
        grid-column-end: 14;
      }
    }

  }

  .case-studies {
  }
  .tabs {
    position: relative;
    #tabs {
      grid-column-start: 2;
      grid-column-end: 14;
      text-align: center;
      .tabsList {
        margin: 0 auto;
        position: relative;
        width: 96%;

        .slider {
          display: inline-block;
          width: 30px;
          height: 100%;
          position: absolute;
          z-index: 1;
          bottom: 0;
          transition: all .4s linear;
          background-color: $brand-five;
          grid-row: 1 / span 1;
        }
        .tablink {
          display: inline-block;
          list-style: none;
          margin: 0;
          grid-row: 1;
          text-align: center;
          cursor: pointer;
          transform: skew(-30deg);
          background-color: $brand-one;
          padding: 1rem 2rem;
          font-size: $base-font-size;

          .icon_wrap_accordian {
            position: absolute;
            right: 0;
            top: 0;
            width: 5%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 10px;
            .icon {
              color: $brand-one;
              right: 20px;
              width: 10px;
              height: 10px;
              background-image: url("../assets/images/right_arrow_white.svg");
              background-size: cover;
              background-position: center;
              transition: transform 0.5s;
              cursor: pointer;
              align-self: center;
            }
            @media only screen and (min-width: 1000px) {
              display: none;
            }
          }
          &:nth-child(1) {
            grid-column: col / span 3;
          }
          &:nth-child(3) {
            grid-column: col 4 / span 3;
          }
          &:nth-child(5) {
            grid-column: col 7 / span 3;
          }
          &:nth-child(7) {
            grid-column: col 10/ span 3;
          }
          &:hover {
            background-color: $brand-two;
          }
          &.current {
            background: $brand-three;
            .icon {
              transform: rotate(90deg);
              transition: transform 0.5s;
            }
          }
          a {
            font-weight: bold;
            color: $white;
            transform: skew(30deg);
            display: inline-block;
            z-index: 17;
            position: relative;
            @media only screen and (max-width: 900px) {
              padding: 1rem 0.5rem;
              font-size: $base-font-size / 1.2
            }
            @media only screen and (max-width: 1000px) {
              padding: 0;
            }
          }
        }
        .tabPanel {
          grid-column: col / span 12;
          grid-row: 2;
          text-align: left;
          margin-bottom: 1rem;

          h4 {
            font-size: 2.7rem;
            font-weight: 600;
            color: $brand-blue;
          }
          p {
            text-align: left;
            margin-top: 20px;
          }
          .button-primary {
            margin-top: 1rem;
          }
          ol{
            margin-bottom:0;
          }
        }
        .tabPanel {
          display: none;
          &.current {
            display: block;
          }
        }
        @media only screen and (min-width: 1000px) {
          display: grid;
          grid-template-columns: repeat(12, unquote("[col]") 1fr);
          grid-gap: 0;

        }
        @media only screen and (max-width: 1000px) {
          width: 100%;
          .tablink {
            transform: skew(0deg);
            width: 100%;
            text-align: left;
            box-sizing: border-box;
            a {
              transform: skew(0deg);
            }
          }
        }
      }

      //@media only screen and (max-width: 700px) {
      //  .tabsList{
      //    width: 100%;
      //    transform: skew(0deg);
      //    flex-direction: column;
      //    li a{
      //      transform: skew(0deg);
      //    }
      //  }
      //  .tabs-wrap{}
      //}
    }
    &.blue {
      padding:4rem 0;
      background-color: $brand-blue;
      h2{
        color: $white;
      }
      #tabs{
        .tabsList{
          .tablink{
            &.current{
              background-color: $white;
              a{
                color: $brand-blue;
                font-weight: normal;
              }
            }
          }
          .tabPanel{
            *{
              color: $white;
            }
            h4{
              color: $brand-one;
            }
          }
        }
      }
      .line-graphic{
        right: 0;
        position: absolute;
        height: 100%;
        width: 130px;
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 8rem;
        svg{
          right: 0;
        }
      }
    }
  }
  .call_to_action {
  }
  .opportunity-data {
    align-items: center;
  }
  .accelerator {
  }

}

// Sush getting jiggy in George's code.. lets discuss a plan! post-list being moved into compontents.. this might be the wrong approach! 

.page {

}
.html.no-cssgrid {}