#home-page {
  header {
    grid-column: col / span 12;
  }
  .content{
      grid-column: col / span 12;
  }
  .home-cases{
    .case-small{
      margin-bottom: 1em;
    }
    .case-large{
      display: none;
      &:nth-child(1){
        display: block;
      }
    }
  }
}