// START OF GRID LAYOUT
/*********************************/
/*********************************/
html.cssgrid {
  .home {

    .hero--home {

      nav {
        grid-column-start: 14;
        grid-column-end: 14;
        align-self: center;
        justify-content: flex-start;
        display: grid;
        grid-row: 1;
        div {
          border: 1px solid $darkgray;
          width: 10px;
          height: 10px;
          margin-bottom: 0.5rem;
          border-radius: 50%;
          display: block;

        }
        div.current {
          border: 1px solid $darkgray;
          background-color: $brand-five;
        }
      }
      div.content {
        grid-column-start: 9;
        grid-column-end: 14;
        grid-row: 1;
        h1 {
          margin: 0;
          font-size: 2rem;
          line-height: 1.2;
        }
        @media only screen and (max-width: 900px) {
          grid-column-start: 2;
          grid-column-end: 14;
        }
        .hero_tab_content {
          margin: 1rem 0;

          @media only screen and (max-width: 900px) {
            min-height: 50px;
          }
          .hero-content {
            display: none;
            &.current {
              display: block;
            }
            p {
              line-height: 1.2;
              font-size: $base-font-size * 1.3;
            }
          }
        }
      }
      figure {
        grid-column-start: 2;
        grid-column-end: 9;
        margin: 0;
        grid-row: 1;

        @media only screen and (max-width: 900px) {
          grid-column-start: 2;
          grid-column-end: 14;
          grid-row: 2;
        }
      }
      .one{
        text-align: center;
      }

    }

    .case-studies {
    }

    .call_to_action {
    }
    .opportunity-data {
      align-items: center;
    }
    .accelerator {
    }

  }
}
// END OF GRID LAYOUT
/*********************************/
/*********************************/



/*********************************/
/*********************************/
// DECORATIVE STYLES ONLY
.home{
  .hero--home{

  }

}
// END OF DECORATIVE STYLES ONLY
/*********************************/
/*********************************/


/*********************************/
/*********************************/
// NON_GRID STYLES ONLY
html.no-cssgrid {
  .home {
    .hero--home {
      position: relative;
      nav {
        position: absolute;
        right:0;
        top:50%;
      }
      div.content {
        width: 49.5%;
        vertical-align: top;
        display: inline-block;

      }
      figure {
        width: 49.5%;
        vertical-align: top;
        display: inline-block;

      }
    }
    .tabs{
      margin-bottom: 2rem;
      .sub-heading-two{
        max-width: 1400px;
        padding-right: 5%;
        padding-left: 5%;
        margin: auto;
        margin-bottom:2rem;
      }
      #tabs{
        width:100%;
        max-width: 1400px;
        padding-right: 5%;
        padding-left: 5%;
        margin: auto;
        margin-bottom:2rem;
        .tabsList{
          .tablink{
            width:24%;
            vertical-align: top;
            display: none;
          }
          .tabPanel{
            opacity: 1;
          }
        }
      }
      &.blue{
        #tabs{
          .tabsList{
            .tablink{}
            .tabPanel{
            }
          }
        }
      }
    }
  }
}
// END NON_GRID STYLES ONLY
/*********************************/
/*********************************/