.loading-hide {
  row-gap: 0;
}

.success-message-styling {
  display: none;
  margin-top: 1rem;
  h4 {
    color: $brand-five;
    margin-top: 1rem;
    border-left: 5px solid $brand-five;
    padding-left: 1rem;
  }
}

.profile-tabs {
  padding-left: 1rem;
  h3 {
    display: inline-block;
    list-style: none;
    margin: 0;
    text-align: center;
    cursor: pointer;
    transform: skew(-30deg);
    background-color: $brand-three;
    padding: 1rem 2rem;
    font-size: $base-font-size;
    &:hover {
      background-color: $brand-two;
    }
    &.current {
      background: $brand-four;
    }
    a {
      font-weight: bold;
      color: $white;
      transform: skew(30deg);
      display: inline-block;
      z-index: 16;
      text-decoration: none;
      position: relative;
      @media only screen and (max-width: 900px) {
        padding: 1rem 0.5rem;
        font-size: $base-font-size / 1.2
      }
      @media only screen and (max-width: 1000px) {
        padding: 0;
      }
    }
  }
}

.profilePanel {
  padding-top: 1rem;
  display: none;

  &.current {
    display: block;
    pointer-events: initial;
  }
}

.form_wrap {
  width: 49%;
  margin-top: 1rem !important;
  display: inline-block;
  vertical-align: top;
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}