.startup-template {
  #hover-blocks {
    .one {
      .five {
        text-align: center;
        figure {
          position: relative;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;

          figcaption {
            position: absolute;
            top: 20px;
            padding-top: 20px;
            bottom: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: #ffffff;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
            transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
            transition: transform 0.4s, opacity 0.1s 0.3s;
            transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
            display: inline-flex;
            align-items: center;
            box-sizing: border-box;
            text-align: center;
            margin: 0;
          }
        }
        &:hover figure {
          -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
        }
        &:hover figure figcaption {

          opacity: 1;
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
          transition: opacity 0.1s, -webkit-transform 0.4s;
          transition: transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
        }
      }
    }
  }

  #mentors {

    .four {
      .svg.twitter  {
        width: 30px;
        fill: $brand-one;
      }

      .svg.linkedin {
        width: 25px;
        fill: $brand-one;
      }

      figcaption {
        font-size: 1rem;
      }
    }

  }
}