.accelerator-template {
  .large-screen-side-nav.on-scroll {
    display: none;
  }
}

.start-up-components {
  //article{
  //  padding: 4rem 0;
  //}

  #hover-blocks {
    .one {
      text-align: center;
      figure {
        margin: 0;
        position: relative;
        svg {
          max-width: 100%;
          display: block;
          position: relative;
          transition: transform 0.4s;
          .opendata-1, .officespace-1, .mentorship-1, .mentorship-2, .workshop-1, .oneonone-1, .perks-1, .networking-1, .partners-1, .investors-1, .demo-1 {
            //fill: $brand-five;
            //stroke: $brand-five;
          }
          .opendata-3 {
            fill: $global;
          }
          .officespace-3 {
            fill: $global;
          }
          .mentorship-3 {
            fill: $global;

          }
          .workshops-3 {
            fill: $global;
          }
          .oneonone-3 {
            fill: $global;
          }
          .perks-3 {
            fill: $global;
          }
          .networking-3 {
            fill: $global;
          }
          .partners-3 {
            fill: $global;
          }
          .investors-3 {
            fill: $global;
          }
          .demo-3 {
            fill: $global;
          }
        }
        figcaption {
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px;
          background: $global;
          color: $white;
          display: inline-flex;
          align-items: center;
          border-radius: 30px;
          //position: absolute;
          //top: 0;
          //left: 0;
          //background: #2c3f52;
          //padding: 1rem;
          //font-size: .9em;
          //bottom: 0;
          //opacity: 0;
          //left: 0;
          //width: 100%;
          //height: 100px;
          //transition-property: opacity;
          //transition-duration: 0.2s;
          //transition-timing-function: ease-in-out;
          //display: inline-flex;
          //align-items: center;
          //box-sizing: border-box;
          //text-align: center;
          //margin: 0;
          //border-radius: 50%;
          //background-color: rgba($brand-five, 0.8);
          //color: white;
        }
        figure {
          overflow: hidden;
        }
        figcaption {
          height: 150px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          top: 0;
          bottom: 0;
          opacity: 0;
        }
        &:hover figcaption {
          opacity: 1;
        }
      }
      &:hover figure figcaption {
        //opacity: 1;
      }
    }
  }
  .featured {
    padding: 0;
    .quote {
      margin-top: 0;
      //svg {
      //  opacity: 0;
      //}
    }
  }
  .stats {
    .two {
      &.stats {
        .three {
          figure {
            position: relative;
            .wrap {
              color: $brand-blue;
              font-family: $heading-font-family;
              font-size: $header-size;
              font-weight: 800;
              span {
                font-family: $heading-font-family;
                font-size: $header-size /1.2;
              }

              .sterling {
                margin-right: -8px;
              }
              .million {
                margin-left: -5px;
              }
            }
            figcaption {
              font-family: $heading-font-family;
              color: $white;
              font-size: 1rem;
            }
          }
          @media only screen and (max-width: 1000px) {
            &:nth-child(2n+1) {
              grid-column: col / span 6;
            }
            &:nth-child(2n+2) {
              grid-column: col 7 / span 6;
            }
          }
        }
      }
    }
    blockquote {
      border-left: 1px solid white;
      padding-left: 2rem;
    }
  }
  .faq-title {
    padding: 4rem 0 0 0;
  }

  .steps {
    .firstcharacter {
      color: $white;
      float: left;
      font-size: $header-size;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
    .one {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .five-steps {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        figure {
          display: inline-block;
          width: 20%;
        }
        figcaption {
          display: inline-block;
          width: 80%;
        }
        &:nth-child(5n+1) {
          margin-left: 0;
          margin-right: 1%;
        }
        &:nth-child(5n+2) {
          margin-left: 1%;
          margin-right: 1%;
        }
        &:nth-child(5n+3) {
          margin-left: 1%;
          margin-right: 1%;
        }
        &:nth-child(5n+4) {
          margin-left: 1%;
          margin-right: 1%;
        }
        &:nth-child(5n+5) {
          margin-left: 1%;
          margin-right: 0;
        }

        &:nth-child(1) {
          align-self: start;
        }
        &:nth-child(2) {
          width: 10%;
        }
        &:nth-child(3) {
          align-self: start;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:nth-child(5) {
          align-self: start;
        }
      }
      @media only screen and (max-width: 700px) {
        display: inline-block;
        .five-steps {
          width: 100%;
          margin: 2rem 0;
          text-align: center;
          &:nth-child(1) {
          }
          &:nth-child(2) {
            display: none;
            svg {
              transform: rotate(90deg);
            }
          }
          &:nth-child(3) {
          }
          &:nth-child(4) {
            display: none;
            svg {
              transform: rotate(90deg);
            }
          }
          &:nth-child(5) {
          }
        }
      }
      figure.five-steps {
        svg {
          max-width: 60px;
          margin: 0 auto;
          display: block;
          fill: $white;
        }
      }

    }
  }
  #mentors {
    text-align: center;
    .inline-block-six {
      text-align: center;
      position: relative;
      img {
        border-radius: 50%;
        display: inline-block;
        transition-property: all;
        width: 100%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        &:hover {
          transition-property: all;
          transition-duration: 0.2s;
          transition-timing-function: ease-in-out;
          transform: scale(1.1);
        }
        @media only screen and (max-width: 900px) {
          max-width: 150px;
        }
      }
      .social-links {
        width: 100%;
        display: inline-flex;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 0.5rem;
        border-top: 1px solid;
        padding-top: 0.5rem;
      }
      .svg.twitter {
        width: 20px;
        height: 20px;
        fill: $brand-one;
      }

      .svg.linkedin {
        width: 17px;
        height: 17px;
        fill: $brand-one;
      }

      figcaption {
        font-size: .9rem;
        line-height: 1.2;
        p {
          &:nth-child(1) {
            margin-top: 0;
            font-size: $header-size / 4;
            text-transform: uppercase;
            letter-spacing: 0;
            font-weight: 800;
            line-height: 1;
          }
          &:nth-child(2) {
            margin-top: 0;
            font-size: $header-size / 4;
            text-transform: uppercase;
            margin-bottom: .5rem;
            letter-spacing: 0;
            font-weight: 800;
            line-height: 1;
          }
          &:nth-child(3) {
            margin-top: 0;
            font-size: $header-size /4;
            min-height: 30px;
          }
          @media only screen and (max-width: 900px) {
            font-size: $header-size / 3 !important;
          }
        }
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(2n+2) {
          grid-column-start: 2;
          grid-column-end: 8;
        }
        &:nth-child(2n+3) {
          grid-column-start: 8;
          grid-column-end: 14;
        }
      }
      @media only screen and (max-width: 550px) {
        &:nth-child(2n+2) {
          grid-column-start: 2;
          grid-column-end: 14;
        }
        &:nth-child(2n+3) {
          grid-column-start: 2;
          grid-column-end: 14;
        }

      }
    }
  }
  #selection {
    align-items: stretch;
    .three {
      background-color: $globalTwo;
      border-radius: 10px;
      padding: 1rem;

      figcaption {
        font-weight: 700;
      }
    }
  }
  .intro-text {

    position: relative;
    .line-graphic {
      display: inline-block;
      right: 0;
      bottom: 0;
      width: 380px;
      svg {
        position: absolute;
        height: 50%;
        bottom: 0;
        /* max-height: 250px; */
        right: 0;
      }
      @media only screen and (max-width: 1000px) {
        display: none;
      }
      a {
        margin-top: 1rem;
      }
    }
    .one {
      &:nth-child(2) {
      }
    }
  }
  .partners {
    .four {
      figure {
        text-align: center;
        img {
          display: inline-block;
        }
      }
    }
  }
}

