// Link Styles
//
// Weight: 1
// A normal Anchor tag
//
// Markup:
// <a class="{{modifier_class}}">Link</a>
//
// :hover             - Subtle hover highlight.
//
// Styleguide buttons.link
a {
  transition: color .4s;
  color: $link-color;
  font-weight: 300;
  cursor: pointer;
  text-decoration: underline;
}

a:link,
a:visited {
  color: darken($link-color, 10%);
}

a:hover {
  color: lighten($link-color, 30%)
}

a:active {
  transition: color .3s;
  color: lighten($link-color, 40%)
}

.link {
  text-decoration: none;
}

// Primary Styles
//
// Primary call to action
//
// Weight: 2
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <a class="button-primary {{modifier_class}}">Button</a>
//
// Styleguide buttons.primary

a.primary_cta,
span.primary_cta > a,
input[type=submit],
button[type=submit],
button.primary_cta,
button.button-primary,
a.button-primary {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 10px 30px;
  margin: 1rem 0 0 0;
  background-color: $brand-five;
  color: $white;
  line-height: 1;
  font-weight: 600;
  font-family: $font-family;
  font-size: $base-font-size / 1.2;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: rgba($brand-six, 0.5);
    color: $white;
  }
  &:active {
    background-color: $brand-six;
    color: $white;
  }
  &.disabled {
    background-color: $gray;
    cursor: default;
  }
  @media only screen and (max-width: 768px) {
    padding: 15px 25px;
  }

}


// Primary Alt Button
//
// Primary Alternative Button
//
// Weight: 3
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <a class="button-primary--alt {{modifier_class}}">Button</a>
//
// Styleguide buttons.primary-alt
a.button-primary--alt {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 10px 30px;
  margin: 1rem 0 0 0;
  background-color: $brand-seven;
  color: $white;
  line-height: 1;
  font-weight: 600;
  font-family: $font-family;
  font-size: $base-font-size / 1.2;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: rgba($brand-eight,0.5);
    color: $white;
  }
  &:active {
    background-color: $brand-eight;
    color: $white;
  }
  &.disabled {
    background-color: $gray;
    cursor: default;
  }
  @media only screen and (max-width: 768px) {
    padding: 15px 25px;
  }
}

p > a {
  &.button-primary {
    margin: 0;
    &--alt{
      margin: 0;
    }
    &--ghost{
      margin: 0;
    }
  }
  & + .button-primary{
    margin: 0;
    &--alt{
      margin: 0;
    }
    &--ghost{
      margin: 0;
    }
  }
}

// Primary Ghost Button
//
// Primary Ghost Button
//
// Weight: 4
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <a class="button-primary--ghost {{modifier_class}}">Button</a>
//
// Styleguide buttons.primary-ghost
a.button-primary--ghost {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 10px 30px;
  margin: 1rem 0 0 0;
  line-height: 1;
  font-weight: 600;
  font-family: $font-family;
  font-size: $base-font-size / 1.2;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: transparent;
  border: 1px solid $brand-five;
  color: $brand-five;
  &:hover {
    background-color: rgba($brand-five,0.5);
    color: $white;
  }
  &:active {
    background-color: $brand-five;
    color: $white;
  }
  &.disabled {
    border: 1px solid $gray;
    color: $gray;
  }
  &.disabled:hover {
    background-color: transparent;
    border: 1px solid $gray;
    color: $gray;
    cursor: default;
  }
}


// Primary Large Button
//
// Primary Large Button
//
// Weight: 5
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <a class="button-primary--large {{modifier_class}}">Button</a>
//
// Styleguide buttons.primary-large
a.button-primary--large {
  padding: 20px 40px;
  font-size: $base-font-size;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  margin: 1rem 0 0 0;
  background-color: $brand-five;
  color: $white;
  line-height: 1;
  font-weight: 600;
  font-family: $font-family;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: rgba($brand-six, 0.5);
    color: $white;
  }
  &:active {
    background-color: $brand-six;
    color: $white;
  }
  &.disabled {
    background-color: $gray;
  }
  &.disabled:hover {
    cursor: default;
  }
  @media only screen and (max-width: 768px) {
    padding: 15px 25px;
  }

}


// Primary Large Button
//
// Primary Ghost Large Button
//
// Weight: 6
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <a class="button-primary--ghostlarge {{modifier_class}}">Button</a>
//
// Styleguide buttons.primary-ghostlarge
a.button-primary--ghostlarge {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  margin: 1rem 0 0 0;
  line-height: 1;
  font-weight: 600;
  font-family: $font-family;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: transparent;
  border: 1px solid $brand-five;
  padding: 20px 40px;
  color: $brand-five;
  font-size: $base-font-size;
  &:hover {
    background-color: rgba($brand-five,0.5);
    color: $white;
  }
  &:active {
    background-color: $brand-five;
    color: $white;
  }
  &.disabled {
    border: 1px solid $gray;
    color: $gray;
  }
  &.disabled:hover {
    background-color: transparent;
    border: 1px solid $gray;
    color: $gray;
    cursor: default;
  }

}

// Secondary Styles
//
// Secondary call to action
//
// Weight: 7
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead
//
// Markup:
// <a class="secondary_cta {{modifier_class}}">Button</a>
//
// Styleguide buttons.secondary
a.secondary_cta,
span.secondary_cta > a,
a.button-secondary {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 7px 10px;

  background-color: $brand-three;
  color: $white;

  line-height: 1;
  font-family: $font-family;
  font-size: $base-font-size / 1.5;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;

  border-radius: 5px;
  border: 1px solid transparent;

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: rgba($brand-three, 0.5);
    color: $white;
  }
  &:active {
    background-color: $brand-three;
    color: $white;
  }
  &.disabled {
    background-color: $gray;
    color: $white;
    cursor: default;
  }
  @media only screen and (max-width: 768px) {
    padding: 10px 20px;
  }
}

// Secondary Ghost Styles
//
// Secondary Ghost call to action
//
// Weight: 8
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <a class="button-primary--ghost {{modifier_class}}">Button</a>
//
// Styleguide buttons.secondary-ghost
a.button-secondary--ghost {
  @extend .button-secondary;
  background-color: transparent;
  border: 1px solid $white;
  color: $brand-three;
  &:hover {
    color: $white;
  }
}

.abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.notes-toggle {
  position: fixed;
  right: 0;
  bottom: 0;
}