.slidingDiv {
  height: auto;
  padding: 20px;
  margin-top: 10px;
}

.show_hide {
  display: inline-block;
  width: 100%;
}

.call_to_action {
  text-align: center;
  border: 1px solid #DADADA;
  padding: 20px;
}

.call_to_action--block_level {
  @extend .call_to_action;
  align-items: end;

  .block {
    &:nth-child(1) {
      text-align: left;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
}

.call_to_action--steps {
  @extend .call_to_action;
  text-align: left;
  background-color: $brand-blue;
  * {
    color: $white;
  }
  .primary_cta {
    float: right;
  }
}

.post_list {
  .block.one {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #DADADA;
    &:nth-last-child(1) {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .two {
      h3 {
        text-transform: capitalize;
      }
    }
    p {
      .primary_cta {
        float: right;
      }
    }
  }
}

#tabs {
  .tabsList {
    li {
      a {
        font-weight: bold;
      }
    }
  }
  .tabPanel {
    p {
      text-align: center;
      margin-top: 20px;
      .primary_cta {

      }
    }
  }
}
#case-studies{
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: right;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $gray;
  color: $brand-blue;
}
.case-studies {
  align-items: start;
  .case-tab {
    margin-bottom: 1em;
    border: 2px solid transparent;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
    &.current {
      border: 2px solid $brand-one;
    }
  }
  .case-content {
    display: none;
    &.current {
      display: block;
    }
  }
}

.hero {
  .block {
    h2 {
      font-size: 3em;
      line-height: 0.85;
      color: $brand-blue;
    }
  }
  .block.two {
    &:nth-child(2) {
      .primary_cta {
        float: right;
      }
    }
  }
}

.hero--media-right {
  align-items: center;

  .block {

  }
}