/*********************************/
/*********************************/
// HERO STYLES
article {
  //LARGE HERO
  &.hero--sub {
    position: relative;
    align-items: stretch;
    & > div {
      grid-column-start: 2;
      grid-column-end: 8;
      grid-row: 1;
      h1 {
        margin-top: 0;
      }
    }
    figure {
      grid-column-start: 7;
      grid-column-end: -1;
      grid-row: 1;
      align-self: stretch;
      margin: 0;
      min-height: 20vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);
      position: relative;

      & > div {
        -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 35% 100%);
        clip-path: polygon(4% 0, 100% 0, 100% 100%, 35% 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    @media only screen and (max-width: 1400px) {
      figure {
        border-right: 0 solid $white;
        grid-column-start: 7;
        grid-column-end: 14;
        & > div {
          -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 33% 100%);
          clip-path: polygon(4% 0, 100% 0, 100% 100%, 33% 100%);
        }
      }
    }
    @media only screen and (max-width: 750px) {
      div {
        grid-column-start: 2;
        grid-column-end: 14;
        padding-bottom: 4rem;

      }
      figure {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        min-height: 200px;
        margin-top: -4rem;
        -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

        div {

          -webkit-clip-path: polygon(0 12%, 100% 5%, 100% 100%, 0% 100%);
          clip-path: polygon(0 12%, 100% 5%, 100% 100%, 0% 100%);
        }
      }
    }

  }
  //SMALL HERO
  &.hero--simple {
    position: relative;
    h1 {
      margin-top: 0;
    }
    .one {
    }
    .two {
      align-self: center;
    }
  }
  &.hero--montage {
    & > div {
      grid-column-start: 2;
      grid-column-end: 8;
      grid-row: 1;
      z-index: 25;
      h1 {
        margin-top: 0;
      }
    }
    figure.hero {
      grid-column-start: 7;
      grid-column-end: 14;
      align-self: stretch;
      grid-row: 1;
      position: relative;
      //-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);
      //clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);

      & div {
        &:nth-child(1) {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 22;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192.39 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23c01e2f;}%3C/style%3E%3C/defs%3E%3Ctitle%3Estripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='192.39 165.78 164.93 138.12 164.89 138.12 27.92 0.11 0 0 164.53 165.78 192.39 165.78'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;

        }
        &:nth-child(2) {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 20;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165.47 165.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ebig-triangle%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 165.47 165.47 165.47 0 0 0 165.47'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
        }
        &:nth-child(3) {
          //-webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 35% 100%);
          //clip-path: polygon(4% 0, 100% 0, 100% 100%, 35% 100%);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    figure.sub-menu {
      grid-column-start: 14;
      grid-column-end: -1;
      display: grid;
      align-self: stretch;
      grid-template-columns: repeat(12, unquote("[col]") 1fr);
      grid-gap: 1rem;
      div {
        clip-path: none;
        &:nth-child(1) {
          grid-column: col / span 6;
          grid-row-start: 1;
          grid-row-end: 1;
        }
        &:nth-child(2) {
          grid-column: col 7 / span 6;
          grid-row-start: 1;
          grid-row-end: 1;
        }
        &:nth-child(3) {
          grid-column: col / span 6;
          grid-row-start: 2;
          grid-row-end: 2;
        }
        &:nth-child(4) {
          grid-column: col 7 / span 6;
          grid-row-start: 2;
          grid-row-end: 2;
        }
      }
      @media only screen and (max-width: 1400px) {
        margin-left: -2rem;
      }
      @media only screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
}

//END OF HERO STYLES
/*********************************/
/*********************************/



/*********************************/
/*********************************/
// CASE STUDIES STYLES
article {
  &.case-studies {
    h2.sub-heading-two {
      @media only screen and (max-width: 1200px) {
        grid-row: 1 /span 1;
      }

    }

    nav {
      grid-column-start: 2;
      grid-column-end: 9;
      align-self: center;
      @media only screen and (max-width: 1200px) {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row: 2/ span 2;
        align-self: start;

      }
      @media only screen and (max-width: 700px) {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row: 2/ span 1;
        align-self: start;

      }
      .case-tab {
        margin: 0;
        position: relative;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        align-content: center;
        display: inline-grid;
        figure {
          margin: 0;
          display: inline-block;

        }
        &:nth-child(4n+1) {
          grid-column: col / span 3;
        }
        &:nth-child(4n+2) {
          grid-column: col 4 / span 3;
        }
        &:nth-child(4n+3) {
          grid-column: col 7 / span 3;
        }
        &:nth-child(4n+4) {
          grid-column: col 10/ span 3;

        }
        @media only screen and (max-width: 1200px) {
          &:nth-child(3n+1) {
            grid-column: col / span 4;
          }
          &:nth-child(3n+2) {
            grid-column: col 5 / span 4;
          }
          &:nth-child(3n+3) {
            grid-column: col 9 / span 4;
          }
        }
        @media only screen and (max-width: 900px) {
          &:nth-child(2n+1) {
            grid-column: col / span 6;
          }
          &:nth-child(2n+2) {
            grid-column: col 7 / span 6;
          }
        }
        @media only screen and (max-width: 700px) {
          &:nth-child(4n+1) {
            grid-column: col / span 6;
          }
          &:nth-child(4n+2) {
            grid-column: col 7 / span 6;
          }
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
          &:nth-child(6) {
            display: none;
          }
          &:nth-child(4n+3) {
            display: none;
          }
          &:nth-child(4n+4) {
            display: none;
          }
        }
      }
    }
    .case-wrap {
      grid-column-start: 9;
      grid-column-end: 14;
      align-self: start;
      margin: 0;
      @media only screen and (max-width: 1200px) {
        align-self: start;
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row: 2/ 3;
      }
      @media only screen and (max-width: 700px) {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row: 3/ 3;
      }
      .case-content {
        align-self: stretch;
        display: none;
        h3 {
          margin-top: 0;
          font-size: $header-size / 2;
          border-bottom: 1px solid $gray;
        }
        p {
          font-size: $base-font-size;
          font-family: $font-family;
        }
        &.current {
          flex-direction: column;
          display: flex;
          justify-content: space-around;
        }
      }
    }
    aside {
      grid-column-start: 14;
      grid-column-end: 14;
      z-index: -2;
      border-top: 1px solid $gray;
      display: inline-flex;
      justify-self: flex-start;
      align-self: start;
      flex-direction: column;
      margin-top: 2rem;
      width: 150px;
      h4 {
        margin-top: 1.5rem;
      }
      h4 {
        color: $header-color;
        font-size: $header-size / 3.75;
        text-transform: uppercase;
        margin-bottom: .5rem;
        letter-spacing: 0;
      }
      @media only screen and (max-width: 1200px) {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row: 3/ 3;
      }
      @media only screen and (max-width: 700px) {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row: 4/ 4;
        width: 100%;
      }
      p {
        margin-top: 0;
        font-size: $header-size /3.75;
      }
      .case-content {
        align-self: stretch;
        display: none;
        &.current {
          flex-direction: column;
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }

}

// END OF CALL TO ACTION STYLES
/*********************************/
/*********************************/



/*********************************/
/*********************************/
// CALL TO ACTION STYLES
article {
  &.call_to_action {
    position: relative;
    @media only screen and (max-width: 1200px) {
      grid-row-gap: 1rem;
    }
    .two, .three, .four {
      align-self: stretch;
      padding: 3rem 2rem;
      text-align: center;
      align-content: center;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      h3, h4 {
        margin-top: 0;
      }
      p {
        font-size: $base-font-size;
      }
      a {
        margin-top: 1rem;
      }
      ol {
        margin-left: 0;
      }
      &.list {
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        li {
          font-size: $base-font-size;
        }
        @media only screen and (max-width: 900px) {
          &:nth-child(2n+1) {
            grid-column: col / span 12;
          }
          &:nth-child(2n+2) {
            grid-column: col / span 12;
          }
        }
      }
    }
    .one {
      grid-row: 1;
      padding: 4rem 10rem 4rem 2rem;
      grid-column-start: 2;
      grid-column-end: 10;
      * {
        color: $white;
      }
      h3 {
        margin-top: 0;
        & + p {
          font-size: $header-size/  2.16346;
          font-family: $font-family;
        }
      }
      & + figure {
        margin: 0;
        grid-row: 1;
        grid-column-start: 7;
        grid-column-end: 14;
        align-self: stretch;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);
        position: relative;

        div {

          -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 33% 100%);
          clip-path: polygon(4% 0, 100% 0, 100% 100%, 33% 100%);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      @media only screen and (max-width: 750px) {
        padding: 4rem;
        grid-column-end: 14;
        grid-row-start: 1;
        grid-row-end: 1;
        & ~ figure {
          grid-column-start: 2;
          grid-row-start: 2;
          grid-row-end: 2;
          min-height: 200px;
          margin-top: -4rem;
          -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

          div {
            -webkit-clip-path: polygon(0 19%, 100% 8%, 100% 100%, 0% 100%);
            clip-path: polygon(0 19%, 100% 8%, 100% 100%, 0% 100%);
          }
        }
      }
    }
    .two {
      position: relative;
      padding: 3rem 5rem;
      @media only screen and (max-width: 900px) {
        padding: 3rem 4rem;
      }
      @media only screen and (max-width: 750px) {
        padding: 3rem 3rem;
      }
      h3, p {
        z-index: 2;
      }
      &:nth-child(1) {
        .line-graphic {
          left: 0;
          z-index: 1;
          svg {
            left: 0;
            max-width: 70px;
          }
        }
      }
      &:nth-child(2) {
        .line-graphic {
          right: 0;
          bottom: 0;
          z-index: 1;
          svg {
            height: 110px;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    .four {
      padding: 0.5rem 1.5rem 1rem 0;
      justify-content: flex-start;
      border-top-style: solid;
      border-top-width: 5px;
      text-align: left;
      align-items: flex-start;
      a {
        display: block;
      }
    }
    @media only screen and (max-width: 1200px) {
      .line-graphic {
        display: none;
      }
    }
    .lesson-overview {
      max-width: 150px;
      grid-column-start: 14;
      grid-column-end: 14;
      border-top: 1px solid $gray;
      margin-top: 0;
      div {
        h4 {
          color: $header-color;
          font-size: $header-size / 3.75;
          text-transform: uppercase;
          margin-bottom: 0;
          margin-top: 0;
          letter-spacing: 0;
        }
        ul {
          margin-top: 0;
          margin-bottom: 2rem;
        }
        &:nth-child(1) {
        }
        &:nth-child(2) {
        }
      }
      @media only screen and (max-width: 1200px) {
        max-width: unset;
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row: 2;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: [full-start] minmax(calc(calc(100% - 1008px) / 2), 1fr) [main-start] repeat(12, [col-start] 1fr) [main-end] minmax(calc(calc(100% - 1008px) / 2), 1fr) [full-end];
        align-items: start;
        border-top: none;

        div {
          ul {
            margin-bottom: 0;
          }
          &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 8;
          }
          &:nth-child(2) {
            grid-column-start: 8;
            grid-column-end: 15;
          }
        }
      }
    }
  }
  &.call_to_action--wide {
    @extend .call_to_action;
    .one {
      grid-column-start: 2;
      grid-column-end: 14;
      padding: 4rem;
      position: relative;
      .line-graphic {
        right: 0;
        bottom: 0;
        z-index: 1;
        svg {
          height: 110px;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  &.call_to_action--full-width {
    align-self: stretch;
    * {
      color: $white;
    }
    .sub-heading-two {
      margin-top: 4rem;
      @media only screen and (max-width: 1200px) {
        grid-column-end: -1;
        margin-bottom: -1px;
      }
      @media only screen and (max-width: 900px) {
        grid-row: 1;
      }
    }
    .one {
      padding: 4rem 0 4rem 0;
      grid-column-start: 2;
      grid-column-end: 12;
      @media only screen and (max-width: 1400px) {
        padding: 0 0 2rem 0;
      }
      @media only screen and (max-width: 900px) {
        grid-column-end: 14;
        grid-row: 2;
      }
      h3 {
        margin-top: 0;
        font-size: $header-size;
        & + p {
          font-size: $header-size/  2;
          font-family: $font-family;
        }
      }
    }

    figure {
      margin: 0;
      grid-column-start: 12;
      grid-column-end: -1;
      align-self: stretch;
      grid-row: 1/ 3;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%);
      position: relative;

      div {
        -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 33% 100%);
        clip-path: polygon(4% 0, 100% 0, 100% 100%, 33% 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    @media only screen and (max-width: 900px) {
      figure {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row: 3;
        height: 150px;
        -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

        div {

          -webkit-clip-path: polygon(0 12%, 100% 5%, 100% 100%, 0% 100%);
          clip-path: polygon(0 12%, 100% 5%, 100% 100%, 0% 100%);
        }
      }
      //figure{
      //  grid-column-start:2;
      //  grid-row-start: 2;
      //  grid-row-end: 2;
      //  min-height: 200px;
      //  margin-top: -4rem;
      //  -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
      //  clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
      //
      //  div {
      //
      //    -webkit-clip-path: polygon(0 12%, 100% 5%, 100% 100%, 0% 100%);
      //    clip-path: polygon(0 12%, 100% 5%, 100% 100%, 0% 100%);
      //  }
      //}
    }
  }
}

// END OF CALL TO ACTION STYLES
/*********************************/
/*********************************/



/*********************************/
/*********************************/
// IMAGE BREAKER STYLES
article {
  &.image-break {
    .one, .two, .three, .four {
      min-height: 200px;
    }
    .two {
      @media only screen and (max-width: 750px) {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .three {
      @media only screen and (max-width: 900px) {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
    .four {
      @media only screen and (max-width: 750px) {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
/*********************************/
/*********************************/



//NAVIGATION LIST STYLES
/*********************************/
/*********************************/
nav {
  outline: none;
  &:focus {
    outline: none;
  }

  ul.nav-style {
    margin: 1rem 0 0 0;
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    color: $brand-blue;
    li {
      margin: 0 10px;
      list-style: none;
      font-size: 0.9em;
      color: $brand-blue;
      a, a:link, a:visited {
        color: $nav-color;
        font-weight: 600;
      }
    }
    li {
      counter-increment: custom;
    }

    li:before {
      content: counter(custom) " - ";
    }

    li:first-child {
      counter-reset: custom;
    }
    li.active {
      text-decoration: underline;
      color: $brand-ten;
      a {
        color: $brand-ten;
      }
    }
  }
}

//END NAVIGATION LIST STYLES
/*********************************/
/*********************************/

//POST LIST
.post-list {
  .two {
    figure {
      margin: 0 0 1rem 0;
    }
    h3 {
      padding-top: 1rem;
      border-top-style: solid;
      border-top-width: 5px;
    }
    div {

    }
  }
}

// MEMBERS PAGE STYLES
.member-list {

  .one {
    &:nth-child(1) {
    }
    &:nth-child(2) {
      .subgrid {
        .two {
          &:nth-child(1) {
            justify-content: center;
            display: inline-flex;
            align-items: center;
          }
          &:nth-child(2) {
            a.link {
              float: right;
            }
          }
        }
      }
    }
  }
}

//STYLE FOR SHARING PAGES
.share-page {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  padding-bottom: 0.5rem;
  width: 100%;
  a {
    order: 0;
    align-self: auto;
    height: 30px;
    width: 30px;
    .svg.twitter, .svg.facebook, .svg.instagram {
      fill: $brand-one;
    }
  }
}

//STYLES FOR LEFT HAND COLUMN GRAPHIC
.line-graphic {
  position: absolute;
  height: 100%;
  svg {
    position: absolute;
    height: 100%;
    max-height: 250px;
  }
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

//BOOKING ENGINE SECTION
.booking-engines-section {
  .two {
    &:nth-child(1) {
    }
    &:nth-child(2) {
    }
  }
}

//STYLES FOR NAV ICON
/* Icon 1 */
#nav-icon3 {
  width: 43px;
  height: 37px;
  position: relative;
  margin: 0;
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* Icon 1 */
#nav-icon3 {
  width: 43px;
  height: 37px;
  position: relative;
  margin: 0;
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: $brand-one;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 3px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 27px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: $brand-one;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 3px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 27px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

// .slidingDiv {
//   height: auto;
//   padding: 20px;
//   margin-top: 10px;
// }

// .show_hide {
//   display: inline-block;
//   width: 100%;
// }

// .call_to_action {
//   padding: 2rem 0;
//   * {
//     color: $white;
//   }
//   &.one {
//     text-align: left;
//   }
//   &.three {
//     padding: 3rem 1rem;
//     text-align: center;
//     &:nth-of-type(1) {
//       background-color: $brand-three;
//     }
//     &:nth-of-type(2) {
//       background-color: $brand-seven;
//     }
//     &:nth-of-type(3) {
//       background-color: $brand-ten;
//     }
//     .primary_cta {

//     }
//   }
// }

// .call_to_action--block_level {
//   @extend .call_to_action;
//   align-items: end;

//   .block {
//     &:nth-child(1) {
//       text-align: left;
//     }
//     &:nth-child(2) {
//       text-align: right;
//     }
//   }
// }

// .call_to_action--steps {
//   @extend .call_to_action;
//   text-align: left;
//   background-color: $brand-blue;
//   * {
//     color: $white;
//   }
//   .primary_cta {
//     float: right;
//   }
// }

// .full-width {
//   .call_to_action {
//     h2 {
//       margin-bottom: 2rem;
//     }
//   }
// }

// .post_list {
//   .block.one {
//     margin-bottom: 1em;
//     padding-bottom: 1em;
//     border-bottom: 1px solid #DADADA;
//     &:nth-last-child(1) {
//       border: none;
//       margin-bottom: 0;
//       padding-bottom: 0;
//     }
//     .two {
//       h3 {
//         text-transform: capitalize;
//       }
//     }
//     p {
//       .primary_cta {
//         float: right;
//       }
//     }
//   }
// }

// #tabs {
//   text-align: center;
//   .tabsList {
//     transform: skew(-30deg);
//     display: inline-flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-content: stretch;
//     align-items: stretch;
//     margin: 0;
//     position: relative;
//     width: 96%;
//     background-color: $brand-two;
//     .slider {
//       display: inline-block;
//       width: 30px;
//       height: 100%;
//       position: absolute;
//       z-index: -1;
//       bottom: 0;
//       transition: all .4s linear;
//       background-color: $brand-five;
//     }

//     li {
//       flex: 1 1 auto;
//       align-self: auto;
//       display: inline-block;
//       text-align: center;
//       margin: 0;
//       cursor: pointer;
//       a {
//         font-weight: bold;
//         color: $white;
//         transform: skew(30deg);
//         padding: 1rem;
//         display: inline-block;
//       }
//     }

//   }
//   .tabPanel {
//     text-align: left;
//     h3 {
//       font-size: 2.7rem;
//       font-family: $font-family;
//       font-weight: 600;
//       color: $brand-blue;
//     }
//     p {
//       text-align: left;
//       margin-top: 20px;
//       .primary_cta {

//       }
//     }
//   }
//   .tabPanel {
//     display: none;
//     &.current {
//       display: block;
//     }
//   }
// }

// .case-studies {
//   align-items: start;
//   .block.twoleft.case-wrap {
//     display: inline-flex;
//     align-self: stretch;
//     align-content: stretch;
//   }
//   .subgrid{
//     grid-gap: 1rem;
//   }
//   .case-tab {
//     margin-bottom: 0;
//     border: 2px solid $gray;
//     border-radius: 50%;
//     position: relative;
//     cursor: pointer;
//     &:after {
//       content: "";
//       display: block;
//       padding-bottom: 100%;
//     }
//     img {
//       border-radius: 50%;
//       position: absolute;
//       height: 100%;
//     }
//     &.current {
//       border: 2px solid $brand-one;
//     }
//   }
//   .case-content {
//     align-self: stretch;
//     display: none;
//     h3{
//       font-family: $font-family;
//       font-size: $header-size / 2;

//     }
//     &.current {
//       flex-direction: column;
//       display: flex;
//       justify-content: space-around;
//     }
//   }
// }

// .case-study-info {
//   border-top: 1px solid $gray;
//   grid-column-start: 14;
//   grid-column-end: 14;
//   display: inline-flex;
//   justify-self: flex-start;
//   flex-direction: column;
//   align-self: flex-end;
//   h4 {
//   }
//   p {
//     margin: 0;
//   }
//   .case-content {
//     align-self: stretch;
//     display: none;
//     &.current {
//       flex-direction: column;
//       display: flex;
//       justify-content: space-around;
//     }
//   }
// }

// .hero_tab_nav {
//   grid-column-start: 1;
//   grid-column-end: 2;
//   align-self: center;
//   justify-content: flex-end;
//   display: grid;
//   div {
//     border: 1px solid $darkgray;
//     width: 10px;
//     height: 10px;
//     margin-bottom: 0.5rem;
//     border-radius: 50%;
//     display: block;
//   }
//   div.current {
//     border: 1px solid $darkgray;
//     background-color: $brand-seven;
//   }
// }

// .hero {
//   .block {
//     h1 {

//     }
//   }
//   .block.two {

//     .hero_tab_content {
//       margin: 2rem 0;
//       .hero-content {
//         display: none;
//         &.current {
//           display: block;
//         }
//         h4 {
//           font-family: $font-family;
//           color: $paragraph-color;
//           line-height: 1.8;
//         }
//       }
//     }
//   }

// }

// .hero--media-right {
//   align-items: center;

//   .block {

//   }
// }

// Post lists, news, members, case studies


