html.cssgrid,html {
  footer:not(.slim) {
  //footer {
    article {
      grid-row-gap: 0;
      &:nth-child(1) {
        .left-border {
          grid-column-start: 1;
          grid-column-end: 1;
          div {
            border-top: $header-border-thickness solid $header-border-color;
          }
        }
        .wrapper {
          grid-column-start: 2;
          grid-column-end: 11;
          .intro {
            //Fix to top border sorry G
            width: 108%;
            padding-top: 2rem;
            margin-bottom: 1rem;
            border-top: $header-border-thickness solid $header-border-color;
            display: inline-flex;
            justify-content: space-between;
            align-items: flex-end;
            h4 {
              margin: 0;
            }
            a, h4 {
              display: inline-block;
            }

            .link {
              //Fix to top border sorry G
              margin-right:7%;
            }
          }
          .members {
            width: 100%;
            figure {
              margin: 0;
            }
            .subgrid {
              .six-members {
                &:nth-child(6n+1) {
                  grid-column: col / span 2;
                }
                &:nth-child(6n+2) {
                  grid-column: col 3 / span 2;
                }
                &:nth-child(6n+3) {
                  grid-column: col 5 / span 2;
                }
                &:nth-child(6n+4) {
                  grid-column: col 7/ span 2;
                }
                &:nth-child(6n+5) {
                  grid-column: col 9/ span 2;
                }
                &:nth-child(6n+6) {
                  grid-column: col 11/ span 2;
                }
              }
            }
          }
        }

        .right-border {
          padding-top: 2rem;
          grid-column-start: 14;
          grid-column-end: 14;
          border-top: $header-border-thickness solid $header-border-color;
          .supporters {
              h6 {
                margin-top:0;
              }
            &:nth-child(1) {
              margin-bottom: 1rem;
              img {
                max-width: 90px;
                margin-bottom: 1rem;
                display: inline-block;
              }
            }
            &:nth-child(2) {
              img {
                max-width: 150px;
                margin-bottom: 1rem;
                display: inline-block;
                width:100%;
              }
            }
          }
        }

        @media only screen and (max-width: 1200px) {
          .left-border {
            display: none;
          }
          .right-border {
            margin-top: 2rem;
            grid-column-start: 2;
            grid-column-end: 14;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            .supporters {
                            h6 {
                margin-top:0;
              }
              display: inline-flex;
              &:nth-child(1) {
                margin-right: 2rem;
                img {
                  max-width: 150px;
                }
              }
              &:nth-child(2) {
                img {
                  max-width: 150px;
                }
              }
            }
          }
        }
        @media only screen and (max-width: 800px) {
          .wrapper {
            display: none;
          }
          nav {
            grid-column-start: 2;
            grid-column-end: 14;
          }
          .right-border {
            .supporters {
                            h6 {
                margin-top:0;
              }
              &:nth-child(1) {
                img {
                  max-width: 100px;
                }
              }
              &:nth-child(2) {
                img {
                  max-width: 100px;
                }
              }
            }
          }
        }
        nav {
          padding-top: 2rem;
          border-top: $header-border-thickness solid $header-border-color;
          grid-column-start: 11;
          grid-column-end: 14;
          grid-row: 1 /span 2;

          ul.nav-style {
            margin: 0 0 1rem 0;
          }
          @media only screen and (max-width: 800px) {
            grid-column-start: 2;
            grid-column-end: 14;
            ul.nav-style {
              display: grid;
              padding-left: 0;
              margin-left: 0;
              li {
                padding-left: 0;
                margin-left: 0;
                &:nth-child(4n+1) {
                  grid-column-start: 1;
                  grid-column-end: 4;
                }
                &:nth-child(4n+2) {
                  grid-column-start: 4;
                  grid-column-end: 7;
                }
                &:nth-child(4n+3) {
                  grid-column-start: 7;
                  grid-column-end: 10;
                }
                &:nth-child(4n+4) {
                  grid-column-start: 10;
                  grid-column-end: 14;
                }
              }
              li:before {
                content: ''
              }
            }
          }
          @media only screen and (max-width: 600px) {
            ul.nav-style {
              display: grid;
              li {
                border-left: 1px solid $gray;
                padding-left: 1rem;
                margin-left: 0;
                &:nth-child(2n+1) {
                  grid-column: col / span 6;
                }
                &:nth-child(2n+2) {
                  grid-column: col 7 / span 6;
                }
              }
            }
          }
        }
      }
    }
  }
}

html.no-cssgrid {
  footer:not(.slim) {
    article {
      &:nth-child(1) {
        .left-border {
          display: none;
        }
        .wrapper {
          display: inline-block;
          vertical-align: top;
          width:60%;
          .intro {
            //Fix to top border sorry G
            width: 108%;
            padding-top: 2rem;
            margin-bottom: 1rem;
            border-top: $header-border-thickness solid $header-border-color;
            display: inline-flex;
            justify-content: space-between;
            align-items: flex-end;
            .link{
              padding-right:1rem;
              //Fix to top border sorry G
              margin-right:7%;
            }
            h4 {
              margin: 0;
            }
            a, h4 {
              display: inline-block;
            }
          }
          .members {
            width: 100%;
            figure {
              margin: 0;
            }
            .subgrid {
              .six-members {
                //adjust in line with margins
                width: 14.5%;
                //adjust to fit needs then set media queries below
                margin-bottom: 1%;
                box-sizing: initial;
                display: inline-block;
                vertical-align: top;
                img {
                  max-width: 100%;
                }
                &:nth-child(6n+1) {
                  margin-right: 1%;
                }
                &:nth-child(6n+2) {
                  margin-left: 1%;
                  margin-right: 1%;
                }
                &:nth-child(6n+3) {
                  margin-left: 1%;
                  margin-right: 1%;
                }
                &:nth-child(6n+4) {
                  margin-left: 1%;
                }
                &:nth-child(6n+5) {
                  margin-left: 1%;
                }
                &:nth-child(6n+6) {
                  margin-left: 1%;
                }
                //@media only screen and (max-width: 664px) {
                //  width: 48.8%;
                //  margin-bottom: 4%;
                //
                //  &:nth-child(6n+1) {
                //    margin-right: 1%;
                //    margin-left: 0%;
                //  }
                //  &:nth-child(6n+2) {
                //    margin-right: 0%;
                //    margin-left: 1%;
                //  }
                //  &:nth-child(6n+3) {
                //    margin-right: 1%;
                //    margin-left: 0%;
                //  }
                //  &:nth-child(6n+4) {
                //    margin-right: 0%;
                //    margin-left: 1%;
                //  }
                //  &:nth-child(6n+5) {
                //    margin-left: 1%;
                //  }
                //  &:nth-child(6n+6) {
                //    margin-left: 1%;
                //  }
                //}
                //@media only screen and (max-width: 400px) {
                //  width: 100%;
                //  &:nth-child(6n+1) {
                //    margin-right: 0%;
                //    margin-left: 0%;
                //  }
                //  &:nth-child(6n+2) {
                //    margin-right: 0%;
                //    margin-left: 0%;
                //  }
                //  &:nth-child(6n+3) {
                //    margin-right: 0%;
                //    margin-left: 0%;
                //  }
                //  &:nth-child(6n+4) {
                //    margin-right: 0%;
                //    margin-left: 0%;
                //  }
                //  &:nth-child(6n+5) {
                //    margin-left: 1%;
                //  }
                //  &:nth-child(6n+6) {
                //    margin-left: 1%;
                //  }
                //}
              }
            }
          }
        }

        .right-border {
          display: inline-block;
          vertical-align: top;
          width:24%;
          padding-top: 2rem;
          border-top: 1px solid $gray;
          .supporters {
                          h6 {
                margin-top:0;
              }
            img{
              width:100%;
            }
            &:nth-child(1) {
              margin-bottom: 1rem;
              img {
                max-width: 90px;
                margin-bottom: 1rem;
                display: inline-block;
              }
            }
            &:nth-child(2) {
              img {
                max-width: 150px;
                margin-bottom: 1rem;
                display: inline-block;
                width:100%;
              }
            }
          }
        }

        @media only screen and (max-width: 1200px) {
          .left-border {
            display: none;
          }
          .right-border {
            margin-top: 2rem;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            .supporters {
                            h6 {
                margin-top:0;
              }
              display: inline-flex;
              &:nth-child(1) {
                margin-right: 2rem;
                img {
                  max-width: 150px;
                  width:100%;
                }
              }
              &:nth-child(2) {
                img {
                  max-width: 150px;
                  width:100%;
                }
              }
            }
          }
        }
        @media only screen and (max-width: 800px) {
          .wrapper {
            display: none;
          }
          nav {
          }
          .right-border {
            .supporters {
                            h6 {
                margin-top:0;
              }
              &:nth-child(1) {
                img {
                  max-width: 100px;
                }
              }
              &:nth-child(2) {
                img {
                  max-width: 100px;
                }
              }
            }
          }
        }
        nav {
          display: inline-block;
          vertical-align: top;
          width:15%;
          padding-top: 2rem;
          border-top: 1px solid $gray;

          ul.nav-style {
            margin: 0 0 1rem 0;
          }

          @media only screen and (max-width: 800px) {
            ul.nav-style {
              display: grid;
              padding-left: 0;
              margin-left: 0;
              li {
                padding-left: 0;
                margin-left: 0;
                &:nth-child(4n+1) {

                }
                &:nth-child(4n+2) {

                }
                &:nth-child(4n+3) {

                }
                &:nth-child(4n+4) {

                }
              }
              li:before {
                content: ''
              }
            }
          }
          @media only screen and (max-width: 600px) {
            ul.nav-style {
              display: grid;
              li {
                border-left: 1px solid $gray;
                padding-left: 1rem;
                margin-left: 0;
                &:nth-child(2n+1) {
                }
                &:nth-child(2n+2) {
                }
              }
            }
          }
        }
      }
    }
  }
}

.slim {
  margin-top: 2rem;
  border-top: 1px solid $gray;
  article {
    padding: 2rem 0;
    margin-bottom: 0;
    .two {
      align-self: center;
    }
  }
  img {
    max-width: 200px;
  }


}