footer {
  article {
    grid-row-gap: 1rem;

  }
  .intro {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row: 1/ 2;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    h4 {
      margin: 0;
    }
    a, h4{
      display: inline-block;
    }
  }
  .members {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row: 2/ 2;
    figure {
      margin: 0;
    }
    .subgrid{
      .six-members{
        &:nth-child(6n+1) {
          grid-column: col / span 2;
        }
        &:nth-child(6n+2) {
          grid-column: col 3 / span 2;
        }
        &:nth-child(6n+3) {
          grid-column: col 5 / span 2;
        }
        &:nth-child(6n+4) {
          grid-column: col 7/ span 2;
        }
        &:nth-child(6n+5) {
          grid-column: col 9/ span 2;
        }
        &:nth-child(6n+6) {
          grid-column: col 11/ span 2;
        }
      }
    }
  }
  @media only screen and (max-width: 800px) {
    .intro,.members{
      display: none;
    }
    nav{
      grid-column-start: 2;
      grid-column-end: 14;
    }
  }
  nav {
    grid-column-start: 11;
    grid-column-end: 14;
    grid-row: 1/ span 2;
    ul.nav-style {
      margin: 0 0 1rem 0;
    }
  }
}