footer {
  article {
    grid-row-gap: 1rem;

  }
  .intro {
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row: 1/ 2;
    h4 {
      margin: 0;
    }
    a, h4{
      display: inline-block;
    }
  }
  .members {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row: 2/ 2;
    figure {
      margin: 0;
    }
  }
  nav {
    grid-column-start: 11;
    grid-column-end: 14;
    grid-row: 1/ span 2;
    ul.nav-style {
      margin: 0 0 0 0;
    }
  }
}