//
//.block {
//  background-color: red;
//  margin: 10px 0;
//  padding: 10px;
//  * {
//    color: white;
//  }
//}



@supports (display: grid) {
  .page,
  .collection {
    display: grid;
    grid-gap: 4em;
    grid-template-columns:
            [full-start] minmax(calc(calc(100% - 1008px) / 2), 1fr)
            [main-start] repeat(12, [col-start] 1fr)
            [main-end] minmax(calc(calc(100% - 1008px) / 2), 1fr)
            [full-end];
    align-items: start;

    .block {
      margin-bottom: 1em;
      *:not(hr) {
        &:nth-child(1) {
          margin-top: 0;
        }
      }
    }
    .block.one {
      grid-column: col / span 12;
      grid-row: auto;
    }
    .block.two {
      &:nth-child(2n+1) {
        grid-column: col / span 6;
      }
      &:nth-child(2n+2) {
        grid-column: col 7 / span 6;
      }
      @media only screen and (max-width: 750px) {
        &:nth-child(2n+1) {
          grid-column: col / span 12;
        }
        &:nth-child(2n+2) {
          grid-column: col / span 12;
        }
      }
      &.tworight {
        &:nth-child(2n+1) {
          grid-column: col / span 4;
        }
        &:nth-child(2n+2) {
          grid-column: col 5 / span 8;
        }
        @media only screen and (max-width: 750px) {
          &:nth-child(2n+1) {
            grid-column: col / span 12;
          }
          &:nth-child(2n+2) {
            grid-column: col / span 12;
          }
        }
      }
      &.twoleft {
        &:nth-child(2n+1) {
          grid-column: col / span 8;
        }
        &:nth-child(2n+2) {
          grid-column: col 9 / span 4;
        }
        @media only screen and (max-width: 750px) {
          &:nth-child(2n+1) {
            grid-column: col / span 12;
          }
          &:nth-child(2n+2) {
            grid-column: col / span 12;
          }
        }
      }

    }
    .block.three {
      &:nth-child(3n+1) {
        grid-column: col / span 4;
      }
      &:nth-child(3n+2) {
        grid-column: col 5 / span 4;
      }
      &:nth-child(3n+3) {
        grid-column: col 9/ span 4;
      }
      @media only screen and (max-width: 750px) {
        &:nth-child(3n+1) {
          grid-column: col / span 12;
        }
        &:nth-child(3n+2) {
          grid-column: col / span 6;
        }
        &:nth-child(3n+3) {
          grid-column: col 7/ span 6;
        }
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(3n+1) {
          grid-column: col / span 12;
        }
        &:nth-child(3n+2) {
          grid-column: col / span 12;
        }
        &:nth-child(3n+3) {
          grid-column: col / span 12;
        }
      }

      &.threeright {
        &:nth-child(3n+1) {
          grid-column: col / span 6;
          grid-row: 1/ span 2;
        }
        &:nth-child(3n+2) {
          grid-column: col 7 / span 6;
          grid-row: 1/2;
        }
        &:nth-child(3n+3) {
          grid-column: col 7/ span 6;
          grid-row: 2/2;
        }
        @media only screen and (max-width: 750px) {
          &:nth-child(3n+1) {
            grid-column: col / span 12;
            grid-row: 1/2;
          }
          &:nth-child(3n+2) {
            grid-column: col / span 6;
            grid-row: 2/2;
          }
          &:nth-child(3n+3) {
            grid-column: col 7/ span 6;
            grid-row: 2/2;
          }
        }
        @media only screen and (max-width: 600px) {
          &:nth-child(3n+1) {
            grid-column: col / span 12;
            grid-row: 1/2;
          }
          &:nth-child(3n+2) {
            grid-column: col / span 12;
            grid-row: 2/2;
          }
          &:nth-child(3n+3) {
            grid-column: col / span 12;
            grid-row: 3/3;
          }
        }
      }
      &.threeleft {
        &:nth-child(3n+1) {
          grid-column: col/span 6;
          grid-row: 1/2;
        }
        &:nth-child(3n+2) {
          grid-column: col/span 6;
          grid-row: 2/2;
        }
        &:nth-child(3n+3) {
          grid-column: col 7/span 6;
          grid-row: 1/ span 2;
        }
        @media only screen and (max-width: 750px) {
          &:nth-child(3n+1) {
            grid-column: col / span 6;
            grid-row: 2/2;
          }
          &:nth-child(3n+2) {
            grid-column: col 7/ span 6;
            grid-row: 2/2;
          }
          &:nth-child(3n+3) {
            grid-column: col / span 12;
            grid-row: 1/2;
          }
        }
        @media only screen and (max-width: 600px) {
          &:nth-child(3n+1) {
            grid-column: col / span 12;
            grid-row: 1/2;
          }
          &:nth-child(3n+2) {
            grid-column: col / span 12;
            grid-row: 2/2;
          }
          &:nth-child(3n+3) {
            grid-column: col / span 12;
            grid-row: 3/3;
          }
        }
      }
      &.threeleft-split {
        &:nth-child(3n+1) {
          grid-column: col/span 3;
          grid-row: 1;
        }
        &:nth-child(3n+2) {
          grid-column: col 4/span 3;
          grid-row: 1;

        }
        &:nth-child(3n+3) {
          grid-column: col 7/span 6;
          grid-row: 1;

        }
        @media only screen and (max-width: 600px) {
          &:nth-child(3n+1) {
            grid-column: col / span 12;
            grid-row: 1/2;
          }
          &:nth-child(3n+2) {
            grid-column: col / span 12;
            grid-row: 2/2;
          }
          &:nth-child(3n+3) {
            grid-column: col / span 12;
            grid-row: 3/3;
          }
        }
      }
      &.threeright-split {
        &:nth-child(3n+1) {
          grid-column: col/span 6;
          grid-row: 1;

        }
        &:nth-child(3n+2) {
          grid-column: col 7/span 3;
          grid-row: 1;
        }
        &:nth-child(3n+3) {
          grid-column: col 10/span 3;
          grid-row: 1;

        }
        @media only screen and (max-width: 600px) {
          &:nth-child(3n+1) {
            grid-column: col / span 12;
            grid-row: 1/2;
          }
          &:nth-child(3n+2) {
            grid-column: col / span 12;
            grid-row: 2/2;
          }
          &:nth-child(3n+3) {
            grid-column: col / span 12;
            grid-row: 3/3;
          }
        }
      }
    }
    .block.four {
      &:nth-child(4n+1) {
        grid-column: col / span 3;
      }
      &:nth-child(4n+2) {
        grid-column: col 4 / span 3;
      }
      &:nth-child(4n+3) {
        grid-column: col 7 / span 3;
      }
      &:nth-child(4n+4) {
        grid-column: col 10/ span 3;

      }
      @media only screen and (max-width: 900px) {
        &:nth-child(2n+1) {
          grid-column: col / span 6;
        }
        &:nth-child(2n+2) {
          grid-column: col 7 / span 6;
        }
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(2n+1) {
          grid-column: col / span 12;
        }
        &:nth-child(2n+2) {
          grid-column: col / span 12;
        }
      }
    }
    .block.six {
      &:nth-child(6n+1) {
        grid-column: col / span 2;
      }
      &:nth-child(6n+2) {
        grid-column: col 3 / span 2;
      }
      &:nth-child(6n+3) {
        grid-column: col 5 / span 2;
      }
      &:nth-child(6n+4) {
        grid-column: col 7/ span 2;
      }
      &:nth-child(6n+5) {
        grid-column: col 9/ span 2;
      }
      &:nth-child(6n+6) {
        grid-column: col 11/ span 2;

      }
      @media only screen and (max-width: 1200px) {
      &:nth-child(6n+1) {
        grid-column: col / span 4;
        grid-row: auto;
      }
      &:nth-child(6n+2) {
        grid-column: col 5 / span 4;
        grid-row: auto;
      }
      &:nth-child(6n+3) {
        grid-column: col 9/ span 4;
        grid-row: auto;
      }
      &:nth-child(6n+4) {
        grid-column: col / span 4;
        grid-row: auto;
      }
      &:nth-child(6n+5) {
        grid-column: col 5 / span 4;
        grid-row: auto;
      }
      &:nth-child(6n+6) {
        grid-column: col 9/ span 4;
        grid-row: auto;
      }
    }
      @media only screen and (max-width: 750px) {
        &:nth-child(2n+1) {
          grid-column: col / span 6;
          grid-row: auto;
        }
        &:nth-child(2n+2) {
          grid-column: col 7 / span 6;
          grid-row: auto;
        }
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(2n+1) {
          grid-column: col / span 12;
          grid-row: auto;
        }
        &:nth-child(2n+2) {
          grid-column: col / span 12;
          grid-row: auto;
        }
      }
    }

    article.full-width {
      grid-column-start: 1;
      grid-column-end: 15;
      display: grid;
      grid-gap: 4em;
      grid-template-columns:
              [full-start] minmax(calc(calc(100% - 1008px) / 2), 1fr)
              [main-start] repeat(12, [col-start] 1fr)
              [main-end] minmax(calc(calc(100% - 1008px) / 2), 1fr)
              [full-end];
      .one{
        grid-column-start: 2;
        grid-column-end: 14;
      }
    }
    .subgrid{
      display: grid;
      grid-template-columns: repeat(12, unquote("[col]") 1fr);
      grid-gap: 2rem;
      grid-template-rows: auto [last-line];
    }
    section{
      align-items: stretch;
    }
  }

}

html.no-cssgrid {
  .grid_layouts {
    max-width: 1400px;
    padding-right: 10%;
    padding-left: 10%;
    margin: auto;
    @media only screen and (max-width: 768px) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  .grid_layouts.full_width {
    max-width: none;
    padding: 0;
  }
  .block.one {
    width: 100%;
    margin-bottom: 1%;
  }
  .block.two {
    width: 49%;
    min-width: 280px;
    &:nth-child(2n+1) {
      margin-right: 1%;
      margin-left: 0;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
      margin-left: 1%;
    }
    &.tworight {
      min-width: 150px;
      &:nth-child(2n+1) {
        width: 29%;
      }
      &:nth-child(2n+2) {
        width: 69%;
      }
    }
    &.twoleft {
      min-width: 150px;
      &:nth-child(2n+1) {
        width: 69%;
      }
      &:nth-child(2n+2) {
        width: 29%;
      }
    }
    @media only screen and (max-width: 600px) {
      &:nth-child(1n) {
        width: 100% !important;
      }
      &:nth-child(2n+1) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 1em;
      }
      &:nth-child(2n+2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }
    }
  }

  .block.three {
    //adjust in line with margins
    width: 32%;
    //adjust to fit needs then set media queries below
    min-width: 220px;
    box-sizing: initial;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    img {
      max-width: 100%;
    }
    &:nth-child(3n+1) {
      margin-right: 0;
    }
    &:nth-child(3n+2) {
      margin-left: 2%;
      margin-right: 2%;
    }
    &:nth-child(3n+3) {
      margin-left: 0;
    }
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-bottom: 1em;
      &:nth-child(2n+1) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }
      &:nth-child(2n+2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }
    }
    &.threeleft-split, &.threeleft {
      min-width: 120px;
      &:nth-child(3n+1) {
        width: 24%;
        margin-right: 0;
      }
      &:nth-child(3n+2) {
        width: 24%;
        margin-left: 2%;
        margin-right: 2%;
      }
      &:nth-child(3n+3) {
        width: 48%;
        margin-left: 0;
        margin-right: 0;
      }
      @media only screen and (max-width: 600px) {
        &:nth-child(1n) {
          width: 100%;
        }
        &:nth-child(3n+1) {
          margin-left: 0;
          margin-right: 0;
        }
        &:nth-child(3n+2) {
          margin-left: 0;
          margin-right: 0;
        }
        &:nth-child(3n+3) {
          margin-left: 0;
          margin-right: 0;
        }
        &:nth-last-child(1) {
          margin-bottom: 0;
          font-size: 100%;
        }
      }
    }
    &.threeright-split, &.threeright {
      min-width: 120px;
      &:nth-child(3n+1) {
        width: 48%;
        margin-right: 0;
      }
      &:nth-child(3n+2) {
        width: 24%;
        margin-left: 2%;
        margin-right: 2%;
      }
      &:nth-child(3n+3) {
        width: 24%;
        margin-left: 0;
        margin-right: 0;

      }
      @media only screen and (max-width: 600px) {
        &:nth-child(1n) {
          width: 100%;
        }
        &:nth-child(3n+1) {
          margin-left: 0;
          margin-right: 0;
        }
        &:nth-child(3n+2) {
          margin-left: 0;
          margin-right: 0;
        }
        &:nth-child(3n+3) {
          margin-left: 0;
          margin-right: 0;
        }
        &:nth-last-child(1) {
          margin-bottom: 0;
          font-size: 100%;

        }
      }
    }

  }

  .block.four {
    //adjust in line with margins
    width: 23.5%;
    //adjust to fit needs then set media queries below
    min-width: 150px;
    box-sizing: initial;
    display: inline-block;
    vertical-align: top;
    img {
      max-width: 100%;
    }
    &:nth-child(4n+1) {
      margin-right: 1%;
    }
    &:nth-child(4n+2) {
      margin-left: 1%;
      margin-right: 1%;
    }
    &:nth-child(4n+3) {
      margin-left: 1%;
      margin-right: 1%;
    }
    &:nth-child(4n+4) {
      margin-left: 1%;
    }
    @media only screen and (max-width: 664px) {
      width: 48%;
      margin-bottom: 4%;

      &:nth-child(4n+1) {
        margin-right: 1%;
        margin-left: 0%;
      }
      &:nth-child(4n+2) {
        margin-right: 0%;
        margin-left: 1%;
      }
      &:nth-child(4n+3) {
        margin-right: 1%;
        margin-left: 0%;
      }
      &:nth-child(4n+4) {
        margin-right: 0%;
        margin-left: 1%;
      }
    }
    @media only screen and (max-width: 400px) {
      width: 100%;
      &:nth-child(4n+1) {
        margin-right: 0%;
        margin-left: 0%;
      }
      &:nth-child(4n+2) {
        margin-right: 0%;
        margin-left: 0%;
      }
      &:nth-child(4n+3) {
        margin-right: 0%;
        margin-left: 0%;
      }
      &:nth-child(4n+4) {
        margin-right: 0%;
        margin-left: 0%;
      }
    }
  }

  .block.six {
    //adjust in line with margins
    width: 15.33%;
    //adjust to fit needs then set media queries below
    margin-bottom: 1%;
    box-sizing: initial;
    display: inline-block;
    vertical-align: top;
    img {
      max-width: 100%;
    }
    &:nth-child(6n+1) {
      margin-right: 1%;
    }
    &:nth-child(6n+2) {
      margin-left: 1%;
      margin-right: 1%;
    }
    &:nth-child(6n+3) {
      margin-left: 1%;
      margin-right: 1%;
    }
    &:nth-child(6n+4) {
      margin-left: 1%;
    }
    &:nth-child(6n+5) {
      margin-left: 1%;
    }
    &:nth-child(6n+6) {
      margin-left: 1%;
    }
    @media only screen and (max-width: 664px) {
      width: 48%;
      margin-bottom: 4%;

      &:nth-child(6n+1) {
        margin-right: 1%;
        margin-left: 0%;
      }
      &:nth-child(6n+2) {
        margin-right: 0%;
        margin-left: 1%;
      }
      &:nth-child(6n+3) {
        margin-right: 1%;
        margin-left: 0%;
      }
      &:nth-child(6n+4) {
        margin-right: 0%;
        margin-left: 1%;
      }
      &:nth-child(6n+5) {
        margin-left: 1%;
      }
      &:nth-child(6n+6) {
        margin-left: 1%;
      }
    }
    @media only screen and (max-width: 400px) {
      width: 100%;
      &:nth-child(6n+1) {
        margin-right: 0%;
        margin-left: 0%;
      }
      &:nth-child(6n+2) {
        margin-right: 0%;
        margin-left: 0%;
      }
      &:nth-child(6n+3) {
        margin-right: 0%;
        margin-left: 0%;
      }
      &:nth-child(6n+4) {
        margin-right: 0%;
        margin-left: 0%;
      }
      &:nth-child(6n+5) {
        margin-left: 1%;
      }
      &:nth-child(6n+6) {
        margin-left: 1%;
      }
    }
  }
}
