---
layout: default
---

<div class="collection page global-template" id="blog-page">

    <article markdown="0" class="hero--sub">

        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>

        <div>

            {% assign thePosts = site.posts | where: "is_featured", "true" %}

            {% for post in thePosts limit:1 %}

            <h2>{{ post.title | escape }}</h2>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <p class="post-snippet">{{post.excerpt}}</p><a href="{{ post.url | relative_url }}" class="button-primary">Read more</a>
        </div>
        <figure>
            <div class="mask">{% include hero-mask_1.svg %}</div>
            <div class="image" style="background: url({{post.thumbnail_image | relative_url}})top center / cover no-repeat;"></div>
        </figure>


        {% endfor %}
    </article>
    <article>
        <div class="one">
            <ul>
            {% assign categories_list = site.categories %}
              {% if categories_list.first[0] == null %}
                {% for category in categories_list %}
                  <li><a href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
                {% endfor %}
              {% else %}
                {% for category in categories_list %}
                  <li><a href="#{{ category[0] | downcase }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
                {% endfor %}
              {% endif %}
            {% assign categories_list = nil %}
            </ul>

            {% for tag in site.categories %}
              <h3 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h3>
              <ul>
                {% assign pages_list = tag[1] %}
                {% for post in pages_list %}
                  {% if post.title != null %}
                  {% if group == null or group == post.group %}
                  <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>
                  {% endif %}
                  {% endif %}
                {% endfor %}
                {% assign pages_list = nil %}
                {% assign group = nil %}
              </ul>
            {% endfor %}
        </div>
    </article>

    <article class="post-list title-row">
        <h2 class="sub-heading-two">Featured Posts</h2>


        {% for post in site.posts limit:4 offset:2 %}

        <div class="two" id="featured-post-{{ forloop.index }}">
            <figure role="group">
                <img src="{{post.thumbnail_image | relative_url}}" alt="{{ post.title | escape }}-post-thumbnail">
            </figure>
            <h3>{{ post.title | escape }}</h3>
            <div class="subgrid brand-one-b">
                <div class="two twoleft">
                    <!--{{ post.content | strip_html | truncatewords:75 }} -->
                    {{ post.excerpt}}

                    <a class="button-primary" href="{{ post.url | relative_url }}">Read Post</a>
                </div>

                <div class="two twoleft">
                    {% include share-page.html %}
                    <p>{{post.author}}</p>
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    <p class="date">{{post.date | date: date_format}}</p>

                </div>
            </div>
        </div>
        {% endfor %}
    </article>

    <article class="post-list title-row">
        <h2 class="sub-heading-two">All Posts</h2>
        {% for post in site.posts limit:4 offset:5 %}
        {% if post.is_featured %}
        <div class="two" id="post-{{ forloop.index }}">
            <h3>{{ post.title | escape }}</h3>
            <div class="subgrid brand-one-b">
                <div class="two twoleft">
                    {{ post.excerpt}}
                    <a class="button-primary" href="{{ post.url | relative_url }}">Read Post</a>
                </div>

                <div class="two twoleft">
                    {% include share-page.html %}
                    <p>{{post.author}}</p>
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    <p class="date">{{post.date | date: date_format}}</p>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </article>


</div>

