---
layout: default
---

<div class="collection page"  id="blog-page">

    <article markdown="0" class="hero--sub">

        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
            
        <div>
                {% for post in site.posts limit:1 %}  
        <h1>{{ post.title | escape }}</h1>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <p class="post-snippet">{{post.excerpt}}</p><a href="{{ post.url | relative_url }}" class="button-primary" >Read more</a> 
            
            </div>
        <figure>
            <div style="background: url({{post.thumbnail_image | relative_url}})center center / cover no-repeat;"></div>
        </figure>

        {% endfor %}   
    </article>

            


    {% if site.posts %}
    {% for post in site.posts %}
    {% assign num = forloop.length %}
    {% endfor %}
    <aside>
        <h3>All Posts({{num}})</h3>
        <ul class="post-list">

            {% for post in site.posts %}
            <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <a class="post-title post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
            {% endfor %}
        </ul>

    </aside>
    {% endif %}
</div>

