---
layout: default
---

<div class="page global-template" id="booking-engines-page">
    <article class="page-content">
        <div class="one">
            <header class="page-header">
                <h1 class="page-title">{{ page.title | escape }}</h1>
            </header>
            {{ content }}
        </div>
    </article>
    {% assign posts = site.booking_engines | where:"is_enabled", true %}}
    {% for post in posts %}
    {% assign num = forloop.length %}
    {% endfor %}


    <article class="member-list">
        <div class="one">
            <h4>Open Active has {{num}} Booking Systems which have already adopted the standards</h4>
        </div>
        <div class="one">

            {% assign sortedPosts = site.booking_engines | sort: 'title' %}
            {% for post in sortedPosts %}
            {% if post.is_enabled %}
            {% assign theImage = post.thumbnail_image %}
            {% if post.member %}
            {% assign theMember = site.members | where:"title", post.member  | first %}
            {% assign theImage = theMember.thumbnail_image %} 
            {% endif %}
            <div class="subgrid" id="member-{{ forloop.index }}">
                <figure role="group" class="two tworight">
                    <img role="logo" src="{{theImage | relative_url}}">
                </figure>
                <div class="two tworight">
                    <div class="wrap">
                        <h3><a class="post-title post-link" href="{{ post.url | relative_url }}">{{
                            post.title |
                            escape
                            }}</a></h3>
                        {{ post.excerpt }}
                    </div>
                    <!-- <a class="button-secondary" href="{{ post.url | relative_url }}">Read Booking Engine</a> -->
                </div>
            </div>
            <hr>
            {% endif %}
            {% endfor %}

        </div>
    </article>


    <article class="member-list invert">
        <div class="one">
            <h4>Open Active's other associated Booking Systems listed below are yet to adopt the standards</h4>
            <p>Please click through to read more about each booking engines's current status</p>
        </div>
        <div class="one freegrid-six">

            {% assign sortedPosts = site.booking_engines | sort: 'title' %}
            {% for post in sortedPosts %}
            {% if post.is_enabled == false %}
            {% assign theImage = post.thumbnail_image %}
            {% if post.member %}
            {% assign theMember = site.members | where:"title", post.member  | first %}
            {% assign theImage = theMember.thumbnail_image %}
            {% endif %}

            <figure role="group">
                <a class="post-title post-link" href="{{ post.url | relative_url }}">
                <img role="logo" src="{{theImage | relative_url}}">
                </a>
            </figure>

            {% endif %}
            {% endfor %}

        </div>
    </article>
   


</div>