---
layout: default
---

{% assign theImage = page.thumbnail_image %}

{% if page.member %}
{% assign theMember = site.members | where:"title", page.member  | first %}
{% assign theImage = theMember.thumbnail_image %}
{% endif %}


{% if page.is_enabled %}


<article>
    <h2 class="sub-heading-two">More OpenActive-enabled booking systems</h2>
    <div class="one">
        <div class="subgrid" id="member-{{ forloop.index }}">
            <figure role="group" class="two tworight">
                <img role="logo" src="{{ theImage | relative_url}}">
            </figure>
            <div class="two tworight">
                <div class="wrap">
                    <h5><a class="post-title post-link" href="{{ page.website }}" rel="noopener" target="_blank">{{
                        page.title |
                        escape
                        }}</a></h5>
                    {{ page.content }}
                    <p></p>
                    <p><a class="link" href="{{ page.website }}" rel="noopener" target="_blank">Visit Website</a></p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</article>

<article>
    <div class='one'>
        <div class="subgrid">
            {% assign sortedPosts = site.bookingsystems | sort: 'title' %}
            {% for post in sortedPosts %}
            {% if post.is_enabled %}
            {% assign theImage = post.thumbnail_image %}
            {% if post.member %}
            {% assign theMember = site.members | where:"title", post.member | first %}
            {% assign theImage = theMember.thumbnail_image %}
            {% endif %}
            <div class="six">
                <figure role="group">
                    <a class="post-title post-link" href="{{ post.url | relative_url }}"><img role="logo"
                                                                                              src="{{theImage | relative_url}}"></a>
                </figure>
            </div>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</article>


<!--  ---------------->
<!-- COMMUNITY CALL TO ACTION -->
<!--  ---------------->
<article class="call_to_action--full-width">
<h2 class="sub-heading-two">Join our community</h2>
<div class="one">

### OpenActive Community
If you're using this booking system and have opened your data, we welcome you to join the OpenActive community.

[Find out more]( {{ site.baseurl }}{% link community.md %}){: .button-primary}
    
</div>
<figure>
<div class="mask"></div>
<div class="image" style="background: url({{ site.baseurl }}{{ item.thumbnail_image }})center center / cover no-repeat;"></div>
</figure>

</article>


{% else %}


<article id="booking-engine" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="two twoleft">
        <h3>{{ page.title | escape }} does not yet have OpenActive publishing built-in?</h3>
        <p>As with any booking systems, {{ page.title | escape }} depends on customer demand to inform their
            roadmap.</p>
        <p> {{ page.title | escape }} is aware of the OpenActive initiative, but they need to see sufficient customer
            demand for them to prioritise doing the work required.</p>

        <h5>Can I help spread the word to other {{ page.title | escape }} customers?</h5>
        <p>Absolutely, just send them to this website, and see if they want to add their vote to this page!</p>

        <h5>What work does {{ page.title | escape }} need to do to be compatible with OpenActive?</h5>
        <p>They need to have their developers build an API which conforms with the OpenActive standards.</p>

        <h5>Do you work for {{ page.title | escape }} ? </h5>
        <a href="{{ site.baseurl }}{% link developer.md %}" class="button-primary">Visit the Developer section</a>

    </div>


    <div class="two twoleft inset-call-to-action">




            <figure role="group" class="two tworight">
                <img role="logo" src="{{ theImage | relative_url}}">
            </figure>

            {% assign comments = site.data.comments[page.slug] %}
            {% for comment in comments %}
            {% assign num = forloop.length %}
            {% endfor %}
            {% assign thesize = num.size %}


            {% if thesize > 1 %}
            <h4>{{ page.title | escape }} has {{thesize}} Votes</h4>

            {% else %}

            <h4>{{ page.title | escape }} has no Votes :( </h4>

            {% endif %}


            <form method="POST"
                  action="https://api.staticman.net/v2/entry/{{site.repository}}/{{site.staticman.branch}}/comments">
                <input name="options[redirect]" type="hidden" value="http://staging.openactive.io/thanks">
                <!-- e.g. "2016-01-02-this-is-a-post" -->
                <input name="options[slug]" type="hidden" value="{{ page.slug }}">
                <input name="fields[replying_to]" type="hidden" id="comment-parent" value="">

                <p>You can vote to add your organisation to the list by voting. Enter your name and email
                    below.</p>


                <label>Name <input name="fields[name]" type="text"></label>
                <label>E-mail <input name="fields[email]" type="email"></label>

                <!--<input type="hidden" name="options[reCaptcha][siteKey]" value="6Lc3GkkUAAAAAGpkfzgRtDMfEZAJyTLEiXsdJJHi">-->
                <!--<input type="hidden" name="options[reCaptcha][secret]" value="6Lc3GkkUAAAAAO2BVkX_w6KrqHfJ68BPUi-GqlHM">-->
                <!--<div class="g-recaptcha" data-sitekey="6Lc3GkkUAAAAAGpkfzgRtDMfEZAJyTLEiXsdJJHi" data-theme="light" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->

                <button type="submit">Go!</button>

            </form>





    </div>
</article>
{% endif %}
