---
layout: default
---

{% if page.is_enabled %}

{% assign theImage = page.thumbnail_image %}

        {% if page.member %}
        {% assign theMember = site.members | where:"title", page.member  | first %}
        {% assign theImage = theMember.thumbnail_image %} 
        {% endif %}


<article>
    <div class="one">
        <div class="subgrid" id="member-{{ forloop.index }}">
            <figure role="group" class="two tworight">
                <img role="logo" src="{{ theImage | relative_url}}">
            </figure>
            <div class="two tworight">
                <div class="wrap">
                    <h3><a class="post-title post-link" href="{{ page.website }}" rel="noopener" target="_blank">{{
                        page.title |
                        escape
                        }}</a></h3>
                    {{ page.content }}
                
                <p><a class="link" href="{{ page.website }}" rel="noopener" target="_blank">Visit Website</a></p>
            </div>
            </div>
        </div>
        <hr>
    </div>
</article>

<article>
    <div class='one'>
        <div class="subgrid">
        {% assign sortedPosts = site.booking_engines | sort: 'title' %}
        {% for post in sortedPosts %}
        {% if post.is_enabled %}
        {% assign theImage = post.thumbnail_image %}
        {% if post.member %}
        {% assign theMember = site.members | where:"title", post.member  | first %}
        {% assign theImage = theMember.thumbnail_image %} 
        {% endif %}
        <div class="six" >
            <figure role="group" >
                    <a class="post-title post-link" href="{{ post.url | relative_url }}"><img role="logo" src="{{theImage | relative_url}}"></a>
            </figure>
        </div>

        {% endif %}
        {% endfor %}
    </div>
    </div>
</article>
{% else %}
<article id="booking-engine" itemscope itemtype="http://schema.org/BlogPosting">
<div class="one">
    <h3 itemprop="name headline">{{ page.title | escape }}</h3>
    {{ content }}
<h5>{{ page.title | escape }} does not yet have OpenActive publishing built-in?</h5>
<p>As with any booking systems, {{ page.title | escape }} depends on customer demand to inform their roadmap. Gladstone is aware of the OpenActive initiative, but they need to see sufficient customer demand for them to prioritise doing the work required.</p>

<h5>Can I vote for {{ page.title | escape }} to implement OpenActive publishing?</h53>
<p>Yes, simply add your organisation to the list on the right-hand side of this page by clicking the link on the right.</p>

<h5>Can I help spread the word to other {{ page.title | escape }} customers?</h5>
<p></p>Absolutely, just send them to this website, and see if they want to add their vote to this page!</p>

<h5>What work does {{ page.title | escape }} need to do to be compatible with OpenActive?</h5>
<p>They need to have their developers build an API which conforms with the OpenActive standards. Please find more information in the <a href="{{ site.baseurl }}{% link developer.md %}">developers</a> section.</p>
</div>

<h5>VOTE TECH</h5>
<form method="POST" action="https://api.staticman.net/v2/entry/{{site.repository}}/master">
  <input name="options[redirect]" type="hidden" value="http://staging.openactive.io/thanks">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <button type="submit">Go!</button>
</form>

</article>
{% endif %}