---
layout: default
---

{% assign theImage = page.thumbnail_image %}

{% if page.member %}
{% assign theMember = site.members | where:"title", page.member  | first %}
{% assign theImage = theMember.thumbnail_image %}
{% endif %}

{% assign bookingsystemKey = page.title | slugify %}

{% if page.is_enabled %}


<article id="booking-engine-enabled">
    <div class="one">
        <div class="subgrid" id="member-{{ forloop.index }}">
            <figure role="group" class="two tworight">
                <img role="logo" src="{{ theImage | relative_url}}">
            </figure>
            <div class="two tworight">
                <div class="wrap">
                    <h5><a class="post-title post-link" href="{{ page.website }}" rel="noopener" target="_blank">{{
                        page.title |
                        escape
                        }}</a></h5>
                    {{ page.content }}
                    <p></p>
                    <p><a class="link" href="{{ page.website }}" rel="noopener" target="_blank">Visit Website</a></p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</article>

<article>
    <h2 class="sub-heading-two">More compatible systems</h2>
    <div class='one'>
        <div class="subgrid">
            {% assign sortedPosts = site.bookingsystems | sort: 'title' %}
            {% for post in sortedPosts %}
            {% if post.is_enabled %}
            {% assign theImage = post.thumbnail_image %}
            {% if post.member %}
            {% assign theMember = site.members | where:"title", post.member | first %}
            {% assign theImage = theMember.thumbnail_image %}
            {% endif %}
            <div class="six">
                <figure role="group">
                    <a class="post-title post-link" href="{{ post.url | relative_url }}"><img role="logo"
                                                                                              src="{{theImage | relative_url}}"></a>
                </figure>
            </div>

            {% endif %}
            {% endfor %}

        </div>
        <a class="button-primary" href="{{ site.baseurl }}{% link bookingsystems.md %}">All Booking Systems</a>

    </div>
</article>


<!--  ---------------->
<!-- COMMUNITY CALL TO ACTION -->
<!--  ---------------->
<article class="call_to_action--full-width">
<h2 class="sub-heading-two">Join our community</h2>
    
{% assign subpage = site.pages | where: 'title', 'Community' %}
{% for item in subpage %}

<div class="one">
    <h3>Community</h3>
    <p>If you have opened your data, we welcome you to join the OpenActive community.</p>
    <a href="{{ site.baseurl }}{{ item.permalink }}" class="button-primary">Find out more</a>
</div>
<figure>
    <div class="mask"></div>
    <div class="image" style="background: url({{ site.baseurl }}{{ item.thumbnail_image }})center center / cover no-repeat;"></div>
</figure>

{% endfor %}
    
</article>


{% else %}


<article id="booking-engine-not-enabled" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="two twoleft">
        <h3>{{ page.title | escape }} does not yet have OpenActive publishing built-in?</h3>
        <p>As with any booking systems, {{ page.title | escape }} depends on customer demand to inform their
            roadmap.</p>
        <p> {{ page.title | escape }} is aware of the OpenActive initiative, but they need to see sufficient customer
            demand for them to prioritise doing the work required.</p>

        <h5>Can I help spread the word to other {{ page.title | escape }} customers?</h5>
        <p>Absolutely, just send them to this website, and see if they want to add their vote to this page!</p>

        <h5>What work does {{ page.title | escape }} need to do to be compatible with OpenActive?</h5>
        <p>They need to have their developers build an API which conforms with the OpenActive standards.</p>

        <h5>Do you work for {{ page.title | escape }} ? </h5>
        <a href="{{ site.baseurl }}{% link developer.md %}" class="button-primary">Visit the Developer section</a>

    </div>


    <div class="two twoleft inset-call-to-action">

            <figure role="group" class="two tworight">
                <img role="logo" src="{{ theImage | relative_url}}">
            </figure>

            <script>
              window.addEventListener("load", function() {
                const database = firebase.firestore();
                database.collection("bookingsystems").doc("{{bookingsystemKey}}").get().then(function(system) {
                  var votes = system.exists ? system.data().votes || 0 : 0;
                  if (votes > 0) document.getElementById("votes").innerHTML = "has " + votes + " vote" + (votes > 1 ? "s" : "");
                });
              });
            </script>
        
            <h4>{{ page.title | escape }} <span id="votes"></span></h4>

            <p>You can help show demand for OpenActive in this booking system by voting, simply <a href="/join">join</a> OpenActive to vote!</p>
    </div>
</article>
{% endif %}
