---
layout: default
---

<div class="page global-template" id="booking-engines-page">
    <article class="page-content">
        <div class="one">
            <header class="page-header">
                <h1 class="page-title">{{ page.title | escape }}</h1>
            </header>
            {{ content }}
        </div>
    </article>
    <!--  ---------------->
    <!-- BOOKING SYSTEMS -->
    <!--  ---------------->
    {% include in-booking-systems.html %}


    {% assign posts = site.bookingsystems | where:"is_enabled", true %}
    {% for post in posts %}
    {% assign num = forloop.length %}
    {% endfor %}


    <article class="member-list">
        <div class="one">
            <h4>{{num}} booking systems have already adopted the OpenActive standards</h4>
        </div>
        <div class="one">

            {% assign sortedPosts = site.bookingsystems | sort: 'title' %}
            {% for post in sortedPosts %}
            {% if post.is_enabled %}
            {% assign theImage = post.thumbnail_image %}
            {% if post.member %}
            {% assign theMember = site.members | where:"title", post.member  | first %}
            {% assign theImage = theMember.thumbnail_image %}
            {% endif %}
            <div class="subgrid" id="member-{{ forloop.index }}">
                <figure role="group" class="two tworight">
                    <img role="logo" src="{{theImage | relative_url}}" alt="{{ post.title }}">
                </figure>
                <div class="two tworight">
                    <div class="wrap">
                        <h5><a class="post-title post-link" href="{{ post.url | relative_url }}">{{
                            post.title |
                            escape
                            }}</a></h5>
                            <p></p>
                        {{ post.excerpt }}
                    </div>
                    <!-- <a class="button-secondary" href="{{ post.url | relative_url }}">Read Booking Engine</a> -->
                </div>
            </div>
            <hr>
            {% endif %}
            {% endfor %}

        </div>
    </article>


    <article class="member-list not-enabled invert">
        <div class="one">
            <h4>Other booking systems not yet compliant with OpenActive are listed below</h4>
            <p>Please click on each to read more about each booking system's current status, and feel free to help influence any of these too to join the OpenActive community and adopt the standards.</p>
        </div>
        <div class="one freegrid-six">

            {% assign sortedPosts = site.bookingsystems | sort: 'title' %}
            {% for post in sortedPosts %}
            {% if post.is_enabled == false %}
            {% assign theImage = post.thumbnail_image %}
            {% if post.member %}
            {% assign theMember = site.members | where:"title", post.member  | first %}
            {% assign theImage = theMember.thumbnail_image %}
            {% endif %}

            <figure role="group">
                <a class="post-title post-link" href="{{ post.url | relative_url }}">
                <img role="logo" src="{{theImage | relative_url}}">
                </a>
            </figure>

            {% endif %}
            {% endfor %}

        </div>
    </article>



</div>
