---
layout: default
---

<div class="page global-template">

    <article markdown="0" class="hero--montage">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>Developer</h1>
            <p>Discover how to use data with OpenActive</p>
            <p>Know what your here for? <a href="#resources">Jump to Resources</a></p>
            <p>Not a developer? Learn how to <a href="( {{ site.baseurl }}{% link getting-started.md %})">Get
                Started</a></p>
        </div>
        <figure class="hero">
            <div></div>
            <div></div>
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
        <figure class="sub-menu">
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
    </article>

    <article markdown="0" class="hero--sub">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>Developer</h1>
            <p>Discover how to use data with OpenActive</p>
            <p>Know what your here for? <a href="#resources">Jump to Resources</a></p>
            <p>Not a developer? Learn how to <a href="( {{ site.baseurl }}{% link getting-started.md %})">Get
                Started</a></p>
        </div>
        <figure>
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
    </article>


    <article markdown="0" class="hero--simple">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div class="one">
            <h1>{{ page.title | escape }}</h1>
            <p>OpenActive is community-led initiative with an ambition to help people in England get active using open
                data. </p>
            <p>The initiative is stewarded by the Open Data Institute (ODI), supported by Sport England, and formed of
                organisations and engaged individuals working within the sport and physical activity sector.</p>
        </div>

    </article>

    <article class="call_to_action--full-width">
        <h2 class="sub-heading-two">Join</h2>
        <div class="one">

            <h3> The Accelerator Program</h3>
            <p>OpenActive makes it as easy as possible for people to discover and participate in your activities. It
                does this by making your activities available everywhere. From websites and apps that attract millions
                of users, through chieved using the concept of "open data". </p>
            <br/>
            <a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Start Ups</a>


        </div>

        <figure>
            <div></div>
            <div></div>
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>

    </article>

    <article class="call_to_action--wide">
        <div class="one blue-gradient-bc">

            <h3>Open Data Essentials</h3>
            <p>Open Data Institute's e-Learning programme developed for the European Commission. This programme has been
                designed to enable you to discover what open data is and how it is changing the lives of everyone on our
                planet.</p>
            <p>There are 13 lessons for you to explore covering the essentials of open data, how to plan and measure
                success and how to implement an open data programme technically. This programme is free and should take
                a maximum of 2-3 hours to complete.</p>
            <br/>
            <a class="button-primary" href="http://accelerate.theodi.org/#/" target="_blank" rel="noopener">Learn About
                Open Data</a>
            <i class="line-graphic">{% include line-graphic-corner.svg %}</i>

        </div>
    </article>

    <article class="call_to_action">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div class="one blue-gradient-bc">

            <h3> The Accelerator Program</h3>
            <p>Take the first step enabling open data publishing in your system</p>
            <br/>
            <a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Start Ups</a>


        </div>

        <figure class="brand-three-bc">
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>

    </article>

    <article class="call_to_action">
        <div class="subgrid">
            <div class="two blue-gradient-bc">
                <i class="line-graphic">{% include slim-line-graphic.svg %}</i>

                <h3>Publish Data</h3>
                <p>Take the first step enabling open data publishing in your system</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
            <div class="two purple-gradient-bc">
                <i class="line-graphic">{% include line-graphic-corner.svg %}</i>
                <h3>Developer</h3>
                <p>Take the first step enabling open data publishing in your system.</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
        </div>
    </article>


    <article class="call_to_action">
        <div class="subgrid">
            <div class="three blue-gradient-bc">
                <h4>Getting Started</h4>
                <p>Take the first step enabling open data in your system.</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link getting-started.md %}">Getting Started</a>
            </div>
            <div class="three purple-gradient-bc">
                <h4>Developer</h4>
                <p>Get stuck into the docs and start using or publishing data today!</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link developer.md %}">Developer</a>
            </div>
            <div class="three red-gradient-bc ">
                <h4>Community</h4>
                <p>What's happening in the community, and how you can get involved!</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
        </div>
    </article>

    <article class="call_to_action title-row">
        <h2 class="sub-heading-two">Title</h2>

        <div class="subgrid">
            <div class="four brand-three-b">

                <h3>How to's</h3>
                <p>Aspernatur exercitationem commodi nobis laborum incidunt sunt qui delectus.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">How to's</a>

            </div>
            <div class="four brand-six-b">

                <h3>Discussions</h3>
                <p>Sapiente voluptatem quia fuga optio. Dignissimos et occaecati consequatur accusamus in.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">Discussions</a>

            </div>
            <div class="four brand-ten-b">

                <h3>References</h3>
                <p>Facilis assumenda officiis dicta. Rerum dolor ullam reprehenderit molestiae.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">References</a>

            </div>
            <div class="four brand-eight-b">

                <h3>Tutorials</h3>
                <p>Natus sit architecto rerum fugit alias aut magnam. Impedit est ea eaque voluptas aliquid magnam
                    alias.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">Tutorials</a>

            </div>
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Block Quote</h2>
        <blockquote>
            <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                delectus natus voluptas. Qui omnis vitae atque sequi.</p>
        </blockquote>

    </article>

    <article class="title-row featured brand-blue-bc">
        <i class="quote">
            {% include quote.svg %}
        </i>
        <blockquote>
            <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                delectus natus voluptas. Qui omnis vitae atque sequi.</p>
            <h6>Bob Smith</h6>
            <h6>Health Center</h6>
        </blockquote>
        <div></div>
    </article>

    <article>
        <div class="two brand-blue-bc">
            <blockquote class="featured ">
                <i class="quote brand-ten-b">
                    {% include quote.svg %}
                </i>
                <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                    delectus natus voluptas. Qui omnis vitae atque sequi.</p>
                <h6>Bob Smith</h6>
                <h6>Health Center</h6>
            </blockquote>
        </div>
        <div class="two">
            <h3>Nam itaque aperiam fugit. </h3>
            <p>In et doloribus et in. Maiores aut commodi quae sit veniam tempora et. Enim dolorem et cumque id vel.</p>
            <p>In et doloribus et in. Maiores aut commodi quae sit veniam tempora et. Enim dolorem et cumque id vel.</p>
        </div>
    </article>

    <article class="image-break">
        <div class="one"
             style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

        </div>
    </article>
    <article class="image-break">
        <div class="subgrid">
            <div class="two"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">
            </div>
            <div class="two"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

            </div>
        </div>
    </article>

    <article class="image-break">
        <div class="subgrid">
            <div class="three"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

            </div>
            <div class="three"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

            </div>
            <div class="three"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">
            </div>
        </div>
    </article>
    <article class="image-break">
        <div class="subgrid">
            <div class="four"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

            </div>
            <div class="four"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

            </div>
            <div class="four"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

            </div>
            <div class="four"
                 style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

            </div>
        </div>
    </article>

</div>
