---
layout: default
---

<div class="collection" id="case-studies-page">
    <article class="page-content">
        <header class="page-header">
            <h1 class="page-title">{{ page.title | escape }}</h1>
        </header>
        {{ content }}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </article>
    <article class="news-content">
        <h3>Latest Case Study</h3>
        {% for post in site.case_studies limit:1 %}

        <a class="post-title post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <p class="post-snippet">{{post.content}}</p>
        <a href="{{ post.url | relative_url }}">Read more</a>

        {% endfor %}
    </article>


    {% if site.case_studies %}
    {% for post in site.case_studies %}
    {% assign num = forloop.length %}
    {% endfor %}
    <aside>
        <h3>All Cases({{num}})</h3>
        <ul class="post-list">

            {% for post in site.case_studies %}
            <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <a class="post-title post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
            {% endfor %}
        </ul>

    </aside>
    {% endif %}


</div>


