---
layout: default
---

<article id="case-study" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div itemprop="articleBody">
    
    {{ content | replace: '/uploads/', '/openactive/uploads/' }}
    <hr>
    <h4>Facts and Figures</h4>
    <div class="notes">
      <h5>Section Notes</h5>
      <p><strong>Purpose</strong>:Provides a quick insight<br />
        <strong>Design</strong>:   <br />
        <strong>Copy-writing Notes</strong>:3 or 5 high level facts and figures about the case study from all the sections below, focus on key takeaways, benefits, lessons</p>
    </div>
    {{page.facts_figures | markdownify }}

    <hr>
    <h4>The Challenge</h4>
    <div class="notes">
      <h5>Section Notes</h5>
      <p><strong>Purpose</strong>:Provides a overview of the challenge as faced by the subject<br />
        <strong>Design</strong>:   <br />
        <strong>Copy-writing Notes</strong>:Provide specific figures or anecdotes associated with the problem. Link to wider more generic problems faced by similar people/organisations</p>
    </div>
    {{page.the_challenge_text | markdownify }}

    <hr>
    <h4>Solving the Problem</h4>
    {{page.solving_the_problem_text | markdownify }}

    <hr>
    <h4>The Impact</h4>
    {{page.the_impact_text | markdownify }}

    <hr>
    <h4>What lessons were learned</h4>
    {{page.lessons_learned_text | markdownify }}

  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
