---
layout: default
---

<article id="case-study" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div itemprop="articleBody">
    
    {{ content }}
    <h4>Facts and Figures</h4>
    {{page.facts_figures | markdownify }}
    <h4>The Challenge</h4>
    {{page.the_challenge_text | markdownify }}
    <h4>Solving the Problem</h4>
    {{page.solving_the_problem_text | markdownify }}
    <h4>The Impact</h4>
    {{page.the_impact_text | markdownify }}
    <h4>What lessons were learned</h4>
    {{page.lessons_learned_text | markdownify }}

  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
