---
layout: default
---

<div class="page" id="case-studies-page">
    <article class="page-content">
        <div class="one">
            <header class="page-header">
                <h1 class="page-title">{{ page.title | escape }}</h1>
            </header>
            {{ content }}
        </div>
    </article>

    {% if site.case_studies %}
    {% for post in site.case_studies %}
    {% assign num = forloop.length %}
    {% endfor %}


    <article class="member-list">
        <div class="one">
            <h3>Open Active has {{num}} case studies</h3>
        </div>
        <div class="one">

            {% assign sortedPosts = site.case_studies | sort: 'title' %}
            {% for post in sortedPosts %}
            <div class="subgrid" id="member-{{ forloop.index }}">
                <figure role="group" class="two tworight">
                    <img role="logo" src="{{post.thumbnail_image | relative_url}}">
                </figure>
                <div class="two tworight">
                    <div class="wrap">
                        <h3><a class="post-title post-link" href="{{ post.website }}">{{post.title | escape }}</a></h3>
                        {{ post.excerpt }}
                    </div>
                    <a class="link" href="{{ post.url | relative_url }}">Read Case Study</a>
                </div>
            </div>
            <hr>
            {% endfor %}

        </div>
    </article>


    </aside>
    {% endif %}


</div>


