---
layout: default
---

<div class="page global-template">

    {{content}}


    <div class="fixed">
        <div class="buttons">
            <a class="global-btn button-primary global-palette">Global Colours</a>
            <a class="use-btn button-primary use-palette">Use Colours</a>
            <a class="publish-btn button-primary publish-palette">Publish Colours</a>
            <a class="start-ups-btn button-primary startups-palette">Start Ups Colours</a>
        </div>
        <!--COLOURS-->
        <div class="colours">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!--HERO'S-->
    <article class="hero--large collapse-bottom"
             style="margin-bottom: 4rem; background: linear-gradient(to right, #2b2b2b 0%, transparent 100%),  url({{ site.baseurl }}/resources/images/sideplank.jpg)center 43% / cover no-repeat;">
        <div class="one">
            <h1>Accelerator</h1>
            <p>Eligendi aspernatur saepe non tempore voluptate. Amet voluptas aut officiis autem dignissimos.</p>
            <p><a class="button-primary" href="mailto:Lisa.ellwood@theodi.org?subject=OpenActive application query">get
                in touch.</a>&nbsp;<a class="button-primary--ghost" href="{{ site.baseurl }}{% link faqs.md %}">Visit
                our FAQs</a></p>
        </div>
    </article>
    <article class="hero--thin">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>

        <div class="one"
             style="background:linear-gradient(to right, #2b2b2b 0%, transparent 70%),  url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;">
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
    </article>
    <article class="hero--montage">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
        <figure class="hero">
            <div class="mask">{% include video-overlay.svg %}</div>
            <div class="image"
                 style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
        <figure class="sub-menu">
            <div style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
    </article>
    <article class="hero--sub">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
        <figure>
            <div class="mask">{% include video-overlay.svg %}</div>
            <div style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
    </article>
    <article class="hero--simple">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div class="one">
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>

    </article>


    <!--TEXT-->
    <article class="title-row">
        <h2 class="sub-heading-two">Heading One</h2>

        <div class="one">
            <h1>Welcome to OpenActive</h1>
            <p>Increase the health of the nation by joining open data revolution. Increase the health of the nation by
                joining open data revolution.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque
                eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae.</p>
            <p>Praesentium qui voluptatem eveniet consequatur. Omnis voluptate necessitatibus repellat. Nemo itaque
                repellat cumque sunt. Sed sint omnis eum sint quidem non.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Two</h2>
        <div class="one">
            <h2>Our Mission</h2>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Three</h2>
        <div class="one">
            <h3>How it Works</h3>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Four</h2>
        <div class="one">
            <h4>Getting Started</h4>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Five</h2>
        <div class="one">
            <h5>Developer</h5>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Six</h2>
        <div class="one">
            <h6>Community</h6>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>


    <!--PRIMARY BUTTONS-->
    <article class="title-row">
        <h2 class="sub-heading-two">Primary Buttons</h2>

        <div class="one">
            <p>
                <a class="button-primary">Button Primary</a>
                <a class="button-primary--ghost">Button Primary Ghost</a>&nbsp;
                <a class="button-primary--alt">Button Primary Alt</a>
                <a class="button-primary--ghostlarge">Ghost Large</a>
            </p>

        </div>
    </article>
    <!--SECONDARY BUTTONS-->
    <article class="title-row">
        <h2 class="sub-heading-two">Secondary Buttons</h2>

        <div class="one">
            <p>
                <a class="button-secondary">Button Secondary</a>&nbsp;
                <a class="button-secondary--ghost">Button Secondary Ghost</a>
            </p>

        </div>
    </article>
    <!--LINKS BUTTONS-->
    <article class="title-row">
        <h2 class="sub-heading-two">Links</h2>

        <div class="one">
            <p><a class="link">Link</a>&nbsp;<a>Plain Link</a></p>

        </div>
    </article>


    <article class="title-row">
        <h2 class="sub-heading-two">Block Quote</h2>
        <blockquote>
            <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                delectus natus voluptas. Qui omnis vitae atque sequi.</p>
            <h6>Caption text name</h6>
        </blockquote>

    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Block Quote & Gradient</h2>
        <div class="two">
            <blockquote class="featured ">
                <div class="quote"></div>
                <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                    delectus natus voluptas. Qui omnis vitae atque sequi.</p>
                <h6>Bob Smith</h6>
                <p>Health Center</p>
            </blockquote>
        </div>
        <div class="two inset-call-to-action ">
            <h3>Developer</h3>
            <p>Take the first step enabling open data publishing in your system.</p>
            <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
        </div>
    </article>

    <article class="title-row featured">
        <div class="quote"></div>
        <blockquote>
            <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                delectus natus voluptas. Qui omnis vitae atque sequi.</p>
            <h6>Bob Smith</h6>
            <p>Health Center</p>
        </blockquote>
        <div class="border"></div>
    </article>


    <!--CALL TO ACTION-->

    <article class="call_to_action--full-width">
        <h2 class="sub-heading-two">Join</h2>
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div class="one">

            <h3> The Accelerator Program</h3>
            <p>OpenActive makes it as easy as possible for people to discover and participate in your activities. It
                does this by making your activities available everywhere. From websites and apps that attract millions
                of users, through chieved using the concept of "open data". </p>
            <br/>
            <a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Start Ups</a>


        </div>

        <figure>
            <div class="mask"></div>
            <div class="image"
                 style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>

    </article>


    <article class="call_to_action--wide">
        <div class="one">
            <h3>Open Data Essentials</h3>
            <p>Open Data Institute's e-Learning programme developed for the European Commission. This programme has been
                designed to enable you to discover what open data is and how it is changing the lives of everyone on our
                planet.</p>
            <p>There are 13 lessons for you to explore covering the essentials of open data, how to plan and measure
                success and how to implement an open data programme technically. This programme is free and should take
                a maximum of 2-3 hours to complete.</p>
            <br/>
            <a class="button-primary" href="http://accelerate.theodi.org/#/" target="_blank" rel="noopener">Learn About
                Open Data</a>
            <div class="line-graphic">{% include line-graphic-corner.svg %}</div>

        </div>
    </article>

    <article class="call_to_action">
        <div class="one stripe">
            <h3> The Accelerator Program</h3>
            <p>Take the first step enabling open data publishing in your system</p>
            <br/>
            <a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Start Ups</a>
        </div>
        <figure>
            <div class="mask"></div>
            <div style="background: url({{ site.baseurl }}/resources/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
        <div class="line-graphic"></div>
    </article>


    <!--NON-REACTIVE -->
    <article class="title-row">
        <h2 class="sub-heading-two">Buttons (Override)</h2>
        <div class="one">
            <a class="global-btn button-primary">Global</a>
            <a class="use-btn button-primary">Use</a>
            <a class="publish-btn button-primary">Publish</a>
            <a class="start-ups-btn button-primary">Start Ups</a>
        </div>
    </article>

    <article class="call_to_action title-row">
        <h2 class="sub-heading-two">Call To Action (Override)</h2>
        <div class="subgrid">
            <div class="two publish gradient list">

                <h3>Publish Your Data</h3>
                <ol>
                    <li>Open your organisation&rsquo;s data to allow customers to easily access events and services</li>
                    <li>With open data, your activities can be discovered, shared, and engaged with by people
                        nationwide
                    </li>
                    <li>By publishing your data, your activities will be shared across websites and apps that attract
                        millions of users, to communities and services that engage local people
                    </li>
                </ol>

            </div>
            <div class="two use gradient list">

                <h3>Using Data</h3>
                <ol>
                    <li>Developers and innovators can use data to create new products and services to benefit the sports
                        and physical sector
                    </li>
                    <li>By harnessing open data, we can build growth and reach across the sector</li>
                    <li>Easy access to opportunity data can help people to get active, and boost participation in
                        activities nationwide
                    </li>
                    <li>We encourage you to explore the data published so far, and discover what&rsquo;s useful for
                        you
                    </li>
                </ol>

            </div>
        </div>
    </article>

    <article class="call_to_action">
        <div class="subgrid">
            <div class="two publish">
                <i class="line-graphic">{% include slim-line-graphic.svg %}</i>

                <h3>Publish Data</h3>
                <p>Take the first step enabling open data publishing in your system</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
            <div class="two use">
                <i class="line-graphic">{% include line-graphic-corner.svg %}</i>
                <h3>Use Data</h3>
                <p>Take the first step enabling open data publishing in your system.</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
        </div>
    </article>

    <article class="call_to_action">
        <div class="subgrid">
            <div class="three publish">
                <h4>Getting Started</h4>
                <p>Take the first step enabling open data in your system.</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link getting-started.md %}">Getting Started</a>
            </div>
            <div class="three use">
                <h4>Developer</h4>
                <p>Get stuck into the docs and start using or publishing data today!</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link developer.md %}">Developer</a>
            </div>
            <div class="three startup">
                <h4>Community</h4>
                <p>What's happening in the community, and how you can get involved!</p>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
        </div>
    </article>

    <article class="call_to_action title-row">
        <h2 class="sub-heading-two">Title</h2>

        <div class="subgrid">
            <div class="four">

                <h3>How to's</h3>
                <p>Aspernatur exercitationem commodi nobis laborum incidunt sunt qui delectus.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">How to's</a>

            </div>
            <div class="four">

                <h3>Discussions</h3>
                <p>Sapiente voluptatem quia fuga optio. Dignissimos et occaecati consequatur accusamus in.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">Discussions</a>

            </div>
            <div class="four">

                <h3>References</h3>
                <p>Facilis assumenda officiis dicta. Rerum dolor ullam reprehenderit molestiae.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">References</a>

            </div>
            <div class="four">

                <h3>Tutorials</h3>
                <p>Natus sit architecto rerum fugit alias aut magnam. Impedit est ea eaque voluptas aliquid magnam
                    alias.</p>
                <a class="link" href="{{ site.baseurl }}{% link community.md %}">Tutorials</a>

            </div>
        </div>
    </article>


</div>


