---
layout: default
---

<div class="collection page global-template" id="faqs">


    <article class="news-content">
        {% assign aboutOpen = site.faqs | where: "categories", "About OpenActive" %}
        <h2 class="sub-heading-two">About OpenActive</h2>
        {% for post in aboutOpen %}
        
        <div class="one">
            <h3>{{ post.title | escape }}</h3>
            <span class="post-meta">{{post.category}}</span>
            <p class="post-snippet">{{post.content}}</p>
        </div>
        {% endfor %}
   
    </article>

    <article class="news-content">
        <h2 class="sub-heading-two">About OpenActive Data</h2>
        {% assign aboutOpenData = site.faqs | where: "categories", "About OpenActive Data" %}
        {% for post in aboutOpenData %}
        <div class="one">
            <h3>{{ post.title | escape }}</h3>
            <span class="post-meta">{{post.category}}</span>
            <p class="post-snippet">{{post.content}}</p>
        </div>
        {% endfor %}
    </article>

    <article class="news-content">
        <h2 class="sub-heading-two">OpenActive Accelerator</h2>
        {% assign aboutAccelerator = site.faqs | where: "categories", "OpenActive Accelerator" %}
        {% for post in aboutAccelerator %}
        <div class="one">
            <h3>{{ post.title | escape }}</h3>
            <span class="post-meta">{{post.category}}</span>
            <p class="post-snippet">{{post.content}}</p>
        </div>
        {% endfor %}
    </article>

    <article class="news-content">
        <h2 class="sub-heading-two">OpenActive Community</h2>
        {% assign openActiveCommunity = site.faqs | where: "categories", "OpenActive Community" %}
        {% for post in openActiveCommunity %}
        <div class="one">
            <h3>{{ post.title | escape }}</h3>
            <span class="post-meta">{{post.category}}</span>
            <p class="post-snippet">{{post.content}}</p>
        </div>
        {% endfor %}
    </article>

    <article class="news-content">
        <h2 class="sub-heading-two">Using Open Opportunity Data</h2>
        {% assign usingOpportunityData = site.faqs | where: "categories", "Using Open Opportunity Data" %}
        {% for post in usingOpportunityData %}
        <div class="one">
            <h3>{{ post.title | escape }}</h3>
            <span class="post-meta">{{post.category}}</span>
            <p class="post-snippet">{{post.content}}</p>
        </div>
        {% endfor %}
    </article>

    <article class="news-content">
        <h2 class="sub-heading-two">Publishing Open Opportunity Data</h2>
        {% assign publishOpportunityData = site.faqs | where: "categories", "Publishing Open Opportunity Data" %}
        {% for post in publishOpportunityData %}
        <div class="one">
            <h3>{{ post.title | escape }}</h3>
            <span class="post-meta">{{post.category}}</span>
            <p class="post-snippet">{{post.content}}</p>
        </div>
        {% endfor %}
    </article>





</div>
