---
layout: default
---

<div class="page" id="home-page">

    {{ content }}

</div>


<div class="test">
    <article id="tabs">
        <ul class="tabsList" role="tablist">
            <div class="slider"></div>
            <li role="presentation" aria-selected="true"><a href="#how-it-works">How it Works</a></li>
            <li role="presentation" aria-selected="false"><a href="#booking-systems">Booking Systems</a></li>
            <li role="presentation" aria-selected="false"><a href="#activity-provider">Activity Providers</a></li>
            <li role="presentation" aria-selected="false"><a href="#use-data">Use Data</a></li>
        </ul>
        <div role="tabpanel" id="how-it-works" class="tabPanel" aria-hidden="false" aria-labelledby="how-it-works">


            + OpenActive makes it as easy as possible for people to discover and participate in your activities. It does this by making your activities available everywhere. From websites and apps that attract millions of users, through to communities and services that engage local people. This is achieved using the concept of "open data".
            + "SVG Animation of how it works"

            [How it Works]( {{ site.baseurl }}{% link how-it-works.md %}){: .primary_cta}

        </div>
        <div role="tabpanel" id="booking-systems" class="tabPanel" aria-hidden="true" aria-labelledby="booking-systems">

            This tab should give advice for booking systems to get involved in the initiative
            1. You add a tick-box to your system to allow your customers turn on open data publishing
            2. You build a simple open API to allow customers to publish thier activity listings information using the OpenActive data standards as a “ *dataset* “
            3. Your customers’ dataset is listed in our directory, for anyone to access, use or share.
            4. Your customers’ activities are available everywhere. From websites and apps that attract millions of users, through to communities and services that engage local people.

            [Getting Started]( {{ site.baseurl }}{% link getting-started.md %}){: .primary_cta}

        </div>
        <div role="tabpanel" id="activity-provider" class="tabPanel" aria-hidden="true" aria-labelledby="activity-provider">

            This Tab should give advice for activity providers to get involved in the initiative by opening their data
            1. You list details of activities in your existing website or booking system
            2. You use your website or booking system to publish your activity listings information using the OpenActive data standards as a “ *dataset* “
            3. Your dataset is listed in our directory, for anyone to access, use or share.
            4. Your activities are available everywhere. From websites and apps that attract millions of users, through to communities and services that engage local people.

            [Getting Started]( {{ site.baseurl }}{% link getting-started.md %}){: .primary_cta}

        </div>
        <div role="tabpanel" id="use-data" class="tabPanel" aria-hidden="true" aria-labelledby="use-data">

            This Tab should give advice for individuals or organisations to get involved in the initiative using data
            1. Pick a data source from the list available on OpenActive.
            2. Join their mailing list and review the documentation.
            3. Pull in the data to your website or app. If you need help reach out to the OpenActive Community.

            [Getting Started]( {{ site.baseurl }}{% link getting-started.md %}){: .primary_cta}

        </div>
    </article>

</div>