---
layout: default
---

<div class="page global-template" id="join-partner">

    <article markdown="0" class="hero--sub ">

        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
        <figure>
            <div class="mask"></div>
            <div class="image" style="background: url({{site.baseurl}}{{page.thumbnail_image}})top center / cover no-repeat;"></div>
        </figure>
    </article>


    <article>
        <div class="two">
            {{ content }}
        </div>
        <div class="two">
            <div class="w-embed w-script">

                <script>
                    function joinSuccess() {
                        var interests = "";
                        $(".mc-checkboxes li input[type=checkbox]:checked").each(function (index, e) {
                            interests += (interests != "" ? "\n" : "") + "- " + $(this).parent().find('label').text();
                        });
                        var formMap = {
                            "fname": $("#mce-FNAME").val(),
                            "lname": $("#mce-LNAME").val(),
                            "org": $("#mce-ORG").val(),
                            "phone": $("#mce-PHONE").val(),
                            "email": $("#mce-EMAIL").val(),
                            "info": $("#mce-INFO").val(),
                            "interests": interests
                        };
                        try {
                            FS.identify(formMap["email"], {
                                displayName: formMap["fname"] + " " + formMap["lname"],
                                email: formMap["email"]
                            });
                        }
                        catch (err) {
                            console.log("FS error: " + err.message);
                        }
                        $.post("https://hooks.zapier.com/hooks/catch/1828761/twmgjw/", formMap)
                            .done(function () {
                                window.location.href = '/thank-you';
                            })
                            .fail(function () {
                                $("#mce-error-response").text("Error sending form contents, please try sending again.");
                                $("#mce-success-response").hide();
                                $("#mce-error-response").show();
                            });
                    }
                </script>
                <style>
                    .mc-checkboxes input[type='checkbox'] {
                        display: block;
                        position: absolute;
                        margin-top: 6px!important;
                    }

                    .mc-checkboxes label {
                        display: block;
                        margin-left: 20px;
                        font-weight: normal;
                    }

                    .mc-checkboxes li {
                        margin-top: 15px;
                        list-style: none;
                    }
                    #mce-success-response {
                        background-color: #ddd;
                    }
                </style>
                <div id="mc_embed_signup">
                    <form action="//openactive.us13.list-manage.com/subscribe/post?u=9e6648557f84731796a4ac873&amp;id=1665f95799"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          onreset="joinSuccess();" class="validate" target="_blank" novalidate="novalidate">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <label for="mce-FNAME" class="form-label">First Name </label>
                                <input type="text" value="" name="FNAME" class="required form-field w-input"
                                       id="mce-FNAME" aria-required="true">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME" class="form-label">Last Name </label>
                                <input type="text" value="" name="LNAME" class="required form-field w-input"
                                       id="mce-LNAME" aria-required="true">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-ORG" class="form-label">Organisation </label>
                                <input type="text" value="" name="ORG" class="required form-field w-input" id="mce-ORG"
                                       aria-required="true">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL" class="form-label">Contact e-mail address </label>
                                <input type="email" value="" name="EMAIL" class="required email form-field w-input"
                                       id="mce-EMAIL" aria-required="true">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-PHONE" class="form-label">Contact phone number </label>
                                <input type="text" name="PHONE" class="form-field w-input" value="" id="mce-PHONE">
                            </div>
                            <div class="mc-field-group input-group">
                                <label class="form-label">Are you interested in: </label>
                                <ul class="mc-checkboxes interests-wrapper">
                                    <li><input type="checkbox" value="1" name="group[10889][1]"
                                               id="mce-group[10889]-10889-0"><label for="mce-group[10889]-10889-0">Making
                                        my activities more visible to consumers</label></li>
                                    <li><input type="checkbox" value="2" name="group[10889][2]"
                                               id="mce-group[10889]-10889-1"><label for="mce-group[10889]-10889-1">Building
                                        apps or services using data about activities</label></li>
                                    <li><input type="checkbox" value="4" name="group[10889][4]"
                                               id="mce-group[10889]-10889-2"><label for="mce-group[10889]-10889-2">Allowing
                                        users of my booking system or platform to publish data</label></li>
                                    <li><input type="checkbox" value="8" name="group[10889][8]"
                                               id="mce-group[10889]-10889-3"><label for="mce-group[10889]-10889-3">Contributing
                                        to data standards</label></li>
                                    <li><input type="checkbox" value="16" name="group[10889][16]"
                                               id="mce-group[10889]-10889-4"><label for="mce-group[10889]-10889-4">Spreading
                                        the word</label></li>
                                    <li><input type="checkbox" value="32" name="group[10889][32]"
                                               id="mce-group[10889]-10889-5"><label for="mce-group[10889]-10889-5">Learning
                                        about open data and standards</label></li>
                                </ul>
                            </div>
                            <div class="mc-field-group input-group">
                                <label class="form-label">Would you like to receive: </label>
                                <ul class="mc-checkboxes interests-wrapper">
                                    <li><input type="checkbox" checked="checked" value="2048" name="group[11705][2048]"
                                               id="mce-group[11705]-11705-0"><label for="mce-group[11705]-11705-0">Monthly
                                        updates</label></li>
                                </ul>
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-INFO" class="form-label">Please add any further information
                                    here </label>
                                <textarea value="" name="INFO" class="form-field text-area w-input"
                                          id="mce-INFO"></textarea>
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>

                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                      name="b_9e6648557f84731796a4ac873_1665f95799"
                                                                                                      tabindex="-1"
                                                                                                      value=""></div>
                            <div class="clear"><input type="submit" value="Send" name="subscribe"
                                                      id="mc-embedded-subscribe"
                                                      class="button full-width w-button send-button"></div>
                        </div>
                    </form>
                </div>
                <script type="text/javascript"
                        src="https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                <script type="text/javascript">(function ($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[4] = 'ORG';
                    ftypes[4] = 'text';
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[3] = 'PHONE';
                    ftypes[3] = 'phone';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);</script>

            </div>
        </div>
    </article>
</div>
