---
layout: default
---

<div class="page global-template" id="join-partner">

    <article markdown="0" class="hero--sub ">

        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
        <figure>
            <div class="mask"></div>
            <div class="image" style="background: url({{site.baseurl}}{{page.thumbnail_image}})top center / cover no-repeat;"></div>
        </figure>
    </article>


    <article>
        <div class="two">
            {{ content }}
        </div>
        <div class="two">
            <div class="w-embed w-script">
                <div>
                    <script type="text/javascript">
                        // FirebaseUI config.
                        var uiConfig = {
                          signInSuccessUrl: '/profile',
                          signInOptions: [
                            {
                              provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                              //requireDisplayName: false
                            }
                          ],

                          credentialHelper: firebaseui.auth.CredentialHelper.NONE,
                          // Terms of service url.
                          tosUrl: '/tos'
                        };

                        firebase.auth().onAuthStateChanged(function(user) {
                          if (!user) {
                            document.getElementById("logged-in-container").style.cssText = "display:none;";
                            ui.start('#firebaseui-auth-container', uiConfig);
                          } else {
                            document.getElementById("logged-in-container").style.cssText = "display:block;";
                            document.getElementById("email").innerHTML = user.email;
                          }
                        });
                    </script>

                    <h3>Login or signup to join the community</h3>
                    <div id="firebaseui-auth-container"></div>
                    <div id="logged-in-container" style="display:none;">
                        <p>You are logged in as <span id="email"></span>.</p>
                        <a class="button" href="/profile">Visit profile</a>
                        <a class="button" id="logout" href="#" onclick="firebase.auth().signOut(); return false;">Log out</a>
                    </div>
            </div>
        </div>
    </article>
</div>
