---
layout: default
is_secondary_navigation: true
---

<div class="page" id="members-page">
    <article class="page-content">
        <div class="one">
            <header class="page-header">
                <h1 class="page-title">{{ page.title | escape }}</h1>
            </header>
            {{ content }}
        </div>
    </article>

    {% if site.members %}
    {% for post in site.members %}
    {% assign num = forloop.length %}
    {% endfor %}


    <article class="member-list">
        <div class="one">
            <h3>OpenActive has {{num}} members.</h3>
        </div>
        <div class="one">

            {% assign sortedPosts = site.members | sort: 'title' %}
            {% for post in sortedPosts %}
            <div class="subgrid" id="member-{{ forloop.index }}">
                <figure role="group" class="two tworight">
                    <img role="logo" src="{{post.thumbnail_image | relative_url}}">
                </figure>
                <div class="two tworight">
                    <div class="wrap">
                        <h5><a class="post-title post-link" href="{{ post.url | relative_url }}" >{{
                            post.title |
                            escape
                            }}</a></h5>
                            <p></p>
                        {{ post.content }}
                    </div>
                    <a class="link" href="{{ post.website }}" rel="noopener" target="_blank">Visit Website</a>
                </div>
            </div>
            <hr>
            {% endfor %}

        </div>
    </article>


    </aside>
    {% endif %}


</div>


