---
layout: default
---

<div class="page">


    <article class="note-wrap">
        <div class="notes">

            ##### Page Notes ~ {{ page.title | escape }}

            Content for this page is detailed in the
            [Google Doc](https://drive.google.com/open?id=1LJxp7jbt6r5jTTZqoSJ5WK6yjZDpqhaXNVi-Rx_cSjA){:target="_blank"}

        </div>
    </article>
    <article class="note-wrap">
        <div class="notes">

            ##### Section Notes
            **Purpose**:

            **Functionality**:

            **Design**:

            **Copy-writing Notes**:

        </div>
    </article>

    <article markdown="0" class="hero--sub">

        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
        <figure>
            <div style="background: url({{site.baseurl}}{{page.thumbnail_image}})center center / cover no-repeat;"></div>
        </figure>
    </article>


    {{ content }}

</div>
