---
layout: default
---

<div class="page startup-template">

    <article markdown="0" class="hero--montage">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
        <figure class="hero">
            <div></div>
            <div></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
        <figure class="sub-menu">
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
    </article>



    <article>
        <div class="two brand-blue-bc">
            <blockquote class="featured ">
                <i class="quote brand-ten-b">
                    {% include quote.svg %}
                </i>
                <p>6.2 million adults don’t exercise regularly enough to improve health and wellbeing</p>
                <h6>Bob Smith</h6>
                <h6>Health Center</h6>
            </blockquote>
        </div>
        <div class="two">
            <p class="h3-copy">Developments in <strong>data</strong>, social media, VR and AI are having a huge impact on lots of aspects of people’s
                lives, removing pain points and creating <strong>better experiences for customers.</strong></p>
            <p>In the sport and physical activity sector, services designed to get people <strong>more active</strong> often don’t offer
                the seamless experiences we are used to in other industries such as travel or entertainment. <strong>Information</strong>
                about what’s available is mostly contained in silos and little <strong>collaboration</strong> happens between the
                different stakeholders in the ecosystem, such as gyms and sport clubs.</p>        </div>
    </article>




    <article class="call_to_action--full-width">
        <h2 class="sub-heading-two">Use Cases</h2>
        <div class="one">

            <h3> The Accelerator Program</h3>
            <p>Join the ODI&rsquo;s OpenActive Accelerator and take part in a unique opportunity to challenge old
                thinking with new innovation and help more people <strong>get active</strong> using open data.</p>
            <br/>
            <a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Use Cases</a>


        </div>

        <figure>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>

    </article>

    <article id="hover-blocks" class="title-row">
        <h2 class="sub-heading-two">What startups get</h2>
        <div class="one non-grid">
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong><p>Open data</p></strong>
                    <figcaption>Unique access from key physical activity providers.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Office space</strong>
                    <figcaption>Including day-to-day business support.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Mentorship</strong>
                    <figcaption>Matched with industry leaders that are the best fit for your startup.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Workshops</strong>
                    <figcaption>From business modelling to marketing, you’ll hone skills to succeed.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>1:1s</strong>
                    <figcaption>Weekly sessions with the OpenActive Accelerator team.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Perks</strong>
                    <figcaption>Access to professional services inc. data hosting.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Networking</strong>
                    <figcaption>Weekly opportunities to grow your network</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Partners</strong>
                    <figcaption>Supporters and business leads.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Investors</strong>
                    <figcaption>We’ll connect you with the right people and advice at the right time.</figcaption>
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.baseurl }}/assets/images/features.png">
                    <strong>Demo Day</strong>
                    <figcaption>Demonstrate your products and services at an invite-only pitch to investors.</figcaption>
                </figure>
            </div>
        </div>
    </article>

    <article class="image-break">
        <div class="one"
             style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;">

        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Our experience supporting startups</h2>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/experience.png">
                <figcaption>5 Years</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/experience.png">
                <figcaption>124 startups</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/experience.png">
                <figcaption>24 countries worldwide</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/experience.png">
                <figcaption>23 cohorts</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/experience.png">
                <figcaption>£30m investment raised</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/experience.png">
                <figcaption>400 jobs</figcaption>
            </figure>
        </div>
    </article>

    <article class="title-row">
        <div class="one">
            <p>From fighting pollution using AI to allowing developers to build transport solutions to helping clients
                bring traceability to their products and processing big data to drive better decision making, past
                <strong>ODI startup alumni are passionate and diverse.</strong></p>
            <p>This diversity makes for a <strong>powerful peer-to-peer network</strong> and offers valuable
                opportunities for collaboration, innovation and impact.</p>
        </div>
    </article>

    <article class="title-row" id="mentors">
        <h2 class="sub-heading-two">Mentors</h2>
        {% assign sortedPosts = site.mentors | sort: 'title' %}
        {% for post in sortedPosts %}
        {% assign theImage = post.thumbnail_image %}

        <div class="four">

                <figure>
                    <img src="{{ theImage  | relative_url}}" alt="{{ post.title | escape }} Icon"/>
                    <figcaption>{{ post.title | escape }}</figcaption>
                </figure>
               {% if post.twitter %} 
                                    <a target="_blank" rel="noopener" href="{{ post.twitter }}">
                                        <span class="icon icon--twitter">
                                            {% include twitter.svg %}
                                        </span>
                                        <span class="hidden" aria-hidden="true">
                                            Twitter
                                        </span>
                                    </a>
                {% endif %}
                {% if post.linkedin %}
                                    <a href="{{ post.linkedin }}" target="_blank">
                                        <span class="icon icon--twitter">
                                            {% include linkedin.svg %}
                                        </span>
                                        <span class="hidden" aria-hidden="true">
                                            LinkedIn
                                        </span>
                                    </a>
                {% endif %}
        </div>
        
  
        
        {% endfor %}
 
    </article>
    <hr/>

    <article class="title-row">
        <h2 class="sub-heading-two">Partners</h2>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>SendGrid</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>AWS</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>Google Cloud Platform</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>BPE</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>TechBikers</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>Geovation</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>London Sport</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>ukactive</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>Project Awesome</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>Our Parks</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>Seedrs</figcaption>
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/partners.png">
                <figcaption>Knowledge Transfer Network</figcaption>
            </figure>
        </div>
    </article>


    <article class="title-row">
        <h2 class="sub-heading-two">How we select startups</h2>
        <div class="three">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/one.png">
                <figcaption>Written application via F6S</figcaption>
            </figure>
        </div>
        <div class="three">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/two.png">
                <figcaption>f2f 4-day bootcamp and pitch in London for shortlisted startups</figcaption>
            </figure>
        </div>
        <div class="three">
            <figure>
                <img src="{{ site.baseurl }}/assets/images/rocknroll.png">
                <figcaption>Up to 10 selected startups invited to join the programme by an expert panel</figcaption>
            </figure>
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Timeline</h2>
        <div class="one">
            {% include blank.svg %}
        </div>
    </article>

    <article class="call_to_action">
        <div class="subgrid">
            <div class="three blue-gradient-bc">
                <h4>Apply as a startup</h4>
                <a class="button-primary" href="{{ site.baseurl }}{% link getting-started.md %}">Getting Started</a>
            </div>
            <div class="three purple-gradient-bc">
                <h4>Become a mentor </h4>
                <a class="button-primary" href="{{ site.baseurl }}{% link developer.md %}">Developer</a>
            </div>
            <div class="three red-gradient-bc ">
                <h4>Join as a partner</h4>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
        </div>
    </article>


    {{ content }}

</div>
