---
layout: default
---

<div class="page">
    <article markdown="0" class="hero--sub">

        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>{{page.title}}</h1>
            <p>{{page.strapline}}</p>
        </div>
        <figure>
            <div style="background: url({{site.baseurl}}{{page.thumbnail_image}})center center / cover no-repeat;"></div>
        </figure>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Quote</h2>
        <div class="one">
            <blockquote>
                <p>6.2 million adults don’t exercise regularly enough to improve health and wellbeing</p>
            </blockquote>
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Intro Copy</h2>
        <div class="one">
            <p>Developments in data, social media, VR and AI are having a huge impact on lots of aspects of people’s
                lives, removing pain points and creating better experiences for customers.</p>
            <p>In the sport and physical activity sector, services designed to get people more active often don’t offer
                the seamless experiences we are used to in other industries such as travel or entertainment. Information
                about what’s available is mostly contained in silos and little collaboration happens between the
                different stakeholders in the ecosystem, such as gyms and sport clubs.</p>
        </div>
    </article>

    <article class="call_to_action--full-width brand-five-bc">
        <h2 class="sub-heading-two">Sign Up</h2>
        <div class="one">

            <h3> The Accelerator Program</h3>
            <p>Join the ODI&rsquo;s OpenActive Accelerator and take part in a unique opportunity to challenge old
                thinking with new innovation and help more people get active using open data.</p>
            <br/>
            <a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Start Ups</a>


        </div>

        <figure class="brand-ten-bc">
            <div style="background: url({{ site.url }}/openactive/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>

    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">What startups get</h2>
        <div class="one non-grid">
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
            <div class="five">
                <figure>
                    <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                </figure>
            </div>
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Full Width Image</h2>
        <div class="one">
            {% include blank.svg %}
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Our experience supporting startups</h2>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
    </article>

    <article class="title-row">
        <div class="one">
            <p>From fighting pollution using AI to allowing developers to build transport solutions to helping clients
                bring traceability to their products and processing big data to drive better decision making, past
                <strong>ODI startup alumni are passionate and diverse.</strong></p>
            <p>This diversity makes for a <strong>powerful peer-to-peer network</strong> and offers valuable
                opportunities for collaboration, innovation and impact.</p>
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Mentors</h2>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
        <div class="four">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>MENTOR NAME</figcaption>
            </figure>
        </div>
    </article>
    <hr/>

    <article class="title-row">
        <h2 class="sub-heading-two">Partners</h2>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
        <div class="six">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
            </figure>
        </div>
    </article>


    <article class="title-row">
        <h2 class="sub-heading-two">HOW WE SELECT STARTUPS</h2>
        <div class="three">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>STEP ONE</figcaption>
            </figure>
        </div>
        <div class="three">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>STEP TWO</figcaption>
            </figure>
        </div>
        <div class="three">
            <figure>
                <img src="{{ site.url }}/openactive/assets/images/sideplank.jpg">
                <figcaption>STEP THREE</figcaption>
            </figure>
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Timeline</h2>
        <div class="one">
            {% include blank.svg %}
        </div>
    </article>

    <article class="call_to_action">
        <div class="subgrid">
            <div class="three blue-gradient-bc">
                <h4>Apply as a startup</h4>
                <a class="button-primary" href="{{ site.baseurl }}{% link getting-started.md %}">Getting Started</a>
            </div>
            <div class="three purple-gradient-bc">
                <h4>Become a mentor </h4>
                <a class="button-primary" href="{{ site.baseurl }}{% link developer.md %}">Developer</a>
            </div>
            <div class="three red-gradient-bc ">
                <h4>Join as a partner</h4>
                <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
            </div>
        </div>
    </article>

    {{ content }}

</div>
