---
layout: default
---

<div class="page publish-template">



    <article class="publish-colours title-row">
        <h2 class="sub-heading-two">Publish Palette</h2>
        <div class="six"></div>
        <div class="six"></div>
        <div class="six"></div>
        <div class="six"></div>
        <div class="six"></div>
    </article>


    <article class="title-row">
        <h2 class="sub-heading-two">Heading One</h2>

        <div class="one">
            <h1>Welcome to OpenActive</h1>
            <p>Increase the health of the nation by joining open data revolution. Increase the health of the nation by
                joining open data revolution.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque
                eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae.</p>
            <p>Praesentium qui voluptatem eveniet consequatur. Omnis voluptate necessitatibus repellat. Nemo itaque
                repellat cumque sunt. Sed sint omnis eum sint quidem non.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Two</h2>
        <div class="one">
            <h2>Our Mission</h2>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Three</h2>
        <div class="one">
            <h3>How it Works</h3>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Four</h2>
        <div class="one">
            <h4>Getting Started</h4>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Five</h2>
        <div class="one">
            <h5>Developer</h5>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Heading Six</h2>
        <div class="one">
            <h6>Community</h6>
            <p>Vitae adipisci facilis quas tenetur ut. Ad illum quidem quia recusandae omnis. Eum et quis culpa. Vitae
                officiis quae qui eaque veniam fuga quia. Dicta et reiciendis ratione.</p>
            <p>Aut ratione autem libero voluptas sed voluptas. Enim ipsam nihil eum ab et rerum praesentium. Occaecati
                omnis in suscipit repudiandae. Rerum provident magnam ut vitae inventore.</p>
            <p>Alias magni dicta hic architecto officia amet quia. Et dignissimos illum asperiores est ad. Culpa culpa
                et rerum odio. Temporibus eum facere omnis aut velit.</p>
        </div>
    </article>
    <article class="title-row">
        <h2 class="sub-heading-two">Buttons</h2>

        <div class="one">
            <p><a class="button-primary">Button Primary</a>&nbsp;<a class="button-primary--ghost">Button Primary
                Ghost</a>&nbsp;<a class="button-primary--alt">Button Primary Alt</a></p>

            <p><a class="button-secondary">Button Secondary</a>&nbsp;<a class="button-secondary--ghost">Button Secondary
                Ghost</a></p>

            <p><a class="link">Link</a>&nbsp;<a>Plain Link</a></p>

            <p></p>
        </div>
    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Block Quote</h2>
        <blockquote>
            <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                delectus natus voluptas. Qui omnis vitae atque sequi.</p>
        </blockquote>

    </article>

    <article class="title-row">
        <h2 class="sub-heading-two">Block Quote & Gradient</h2>
        <div class="two">
            <blockquote class="featured">
                <i class="quote">
                    {% include quote.svg %}
                </i>
                <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                    delectus natus voluptas. Qui omnis vitae atque sequi.</p>
                <h6>Bob Smith</h6>
                <p>Health Center</p>
            </blockquote>
        </div>
        <div class="two inset-call-to-action">
            <h3>Developer</h3>
            <p>Take the first step enabling open data publishing in your system.</p>
            <a class="button-primary" href="{{ site.baseurl }}{% link community.md %}">Community</a>
        </div>
    </article>

    <article class="title-row featured">
        <i class="quote">
            {% include quote.svg %}
        </i>
        <blockquote>
            <p>Dolore nulla voluptas natus et sapiente. Deserunt sequi eius culpa labore. Totam quam nihil alias
                delectus natus voluptas. Qui omnis vitae atque sequi.</p>
            <h6>Bob Smith</h6>
            <p>Health Center</p>
        </blockquote>
        <div></div>
    </article>

    <article class="hero--large" style="background: linear-gradient(to right, #2b2b2b 0%, transparent 70%),  url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;">
        <div class="two">
            <h1>Accelerator</h1>
            <p>Eligendi aspernatur saepe non tempore voluptate. Amet voluptas aut officiis autem dignissimos.</p>
            <p><a class="button-primary" href="mailto:Lisa.ellwood@theodi.org?subject=OpenActive application query">get
                in touch.</a>&nbsp;<a class="button-primary--ghost" href="{{ site.baseurl }}{% link faqs.md %}">Visit
                our FAQs</a></p>
        </div>
    </article>

    <article markdown="0" class="hero--montage">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>Developer</h1>
            <p>Discover how to use data with OpenActive</p>
            <p>Know what your here for? <a href="#resources">Jump to Resources</a></p>
            <p>Not a developer? Learn how to <a href="( {{ site.baseurl }}{% link getting-started.md %})">Get
                Started</a></p>
        </div>
        <figure class="hero">
            <div class="triangle"></div>
            <div class="stripe thick"></div>

            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
        <figure class="sub-menu">
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
    </article>

    <article markdown="0" class="hero--sub">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div>
            <h1>Developer</h1>
            <p>Discover how to use data with OpenActive</p>
            <p>Know what your here for? <a href="#resources">Jump to Resources</a></p>
            <p>Not a developer? Learn how to <a href="( {{ site.baseurl }}{% link getting-started.md %})">Get
                Started</a></p>
        </div>
        <figure>
            <div class="triangle"></div>
            <div class="stripe thick"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>
    </article>


    <article markdown="0" class="hero--simple">
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div class="one">
            <h1>{{ page.title | escape }}</h1>
            <p>OpenActive is community-led initiative with an ambition to help people in England get active using open
                data. </p>
            <p>The initiative is stewarded by the Open Data Institute (ODI), supported by Sport England, and formed of
                organisations and engaged individuals working within the sport and physical activity sector.</p>
        </div>

    </article>

    <article class="call_to_action--full-width">
        <h2 class="sub-heading-two">Join</h2>
        <i class="line-graphic">{% include slim-line-graphic.svg %}</i>
        <div class="one">

            <h3> The Accelerator Program</h3>
            <p>OpenActive makes it as easy as possible for people to discover and participate in your activities. It
                does this by making your activities available everywhere. From websites and apps that attract millions
                of users, through chieved using the concept of "open data". </p>
            <br/>
            <a class="button-primary" href="{{ site.baseurl }}{% link start-ups.md %}">Start Ups</a>


        </div>

        <figure>
            <div class="triangle"></div>
            <div class="stripe"></div>
            <div style="background: url({{ site.baseurl }}/assets/images/sideplank.jpg)center center / cover no-repeat;"></div>
        </figure>

    </article>


</div>
