fieldset {
  font-family: sans-serif;
  border: 5px solid $brand-three;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
}

fieldset legend {
  background: $brand-three;
  padding: 5px 10px;
  font-size: 32px;
  border-radius: 5px;
  margin-left: 20px;
}

form {
  grid-column: col / span 12;
  input[type=submit] {
    display: block;
  }
}

input,
select,
textarea,
label {
  font-size: 15px;
  margin-bottom: 2px;
}

label {
  display: inline-block;
}

input,
select,
textarea {
  width: 100%;
  border: 1px solid $brand-three;
  margin-bottom: 20px;
  padding: 4px;
  box-sizing: border-box;
}

input[type=radio] {
  display: inline-block;
  width: auto;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid $brand-three;
  background-color: #EBF2F4;
}

textarea {
  height: 150px;
  resize: none;
}

label {
  display: block;
}

.required {
  font-weight: bold;
  color: #F00;
}

#loading {
  width: 32px;
  height: 32px;
  background-image: url(../img/loading.gif);
  display: block;
  position: absolute;
  right: 130px;
  bottom: 16px;
  display: none;
}

#errors {
  border: solid 1px #E58E8E;
  padding: 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
  display: none;
}

#errors li {
  padding: 2px;
  list-style: none;
}

#errors li:before {
  content: ' - ';
}

#errors #info {
  font-weight: bold;
}

#errors #info:before {
  content: '';
}

#success {
  border: solid 1px #83D186;
  padding: 25px 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
  font-weight: bold;
  display: none;
}

#errors.visible, #success.visible {
  display: block;
}

#req-field-desc {
  font-style: italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
  color: #CCC;
  font-style: italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #CCC;
  font-style: italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text {
  color: #CCC;
  font-style: italic;
}