//BEM
//.block            represents the higher level of an abstraction or component.
//.block__element   represents a descendent of .block that helps form .block as a whole.
//.block--modifier  represents a different state or version of .block.

.block {
}

.block__element {
}

.block--modifier {
}

//SECTION WRAPPING, EACH NEW ROW SHOULD HAVE A NEW SECTION, OR IF RELATED OR SHARING A BACKGROUND REPLACE THE INNER WRAPPER

//.constrain, footer {
//  max-width: calc(100% - calc(100% - 1008px));
//  margin: auto;
//  padding: 0 1em;
//  box-sizing: border-box;
//}
section {
  align-items: start;

}

body {
  img {
    margin: 0 auto;
  }
}

//figure{
//  margin: 0!important;
//}
main {
  margin-top: 2rem;
  @media only screen and (max-width: 1400px) {
    margin-top: 1rem;
  }
}

.large-screen-side-nav {
  display: none;
  grid-gap: 3rem;
  grid-template-columns: [full-start] minmax(calc(calc(100% - 1008px) / 2), 1fr) [main-start] repeat(12, [col-start] 1fr) [main-end] minmax(calc(calc(100% - 1008px) / 2), 1fr) [full-end];
  align-items: start;
  position: fixed;
  top: 100px;
  pointer-events: none;
  &.on-scroll {
    display: grid;
  }
  nav {
    grid-column-start: 14;
    grid-column-end: -1;
    background-color: white;
    padding: 1rem;
    pointer-events: inherit;
    ul {
      margin: 0;
      padding: 0;
      li{
        list-style: none;

      }
    }
  }
  @media only screen and (max-width: 1400px) {
    display: none!important;
  }
}