//BEM
//.block            represents the higher level of an abstraction or component.
//.block__element   represents a descendent of .block that helps form .block as a whole.
//.block--modifier  represents a different state or version of .block.

.block {
}

.block__element {
}

.block--modifier {
}

//SECTION WRAPPING, EACH NEW ROW SHOULD HAVE A NEW SECTION, OR IF RELATED OR SHARING A BACKGROUND REPLACE THE INNER WRAPPER

.constrain {
  max-width: 1600px;
  padding-right: 10%;
  padding-left: 10%;
  margin: auto;
  @media only screen and (max-width: 768px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}
