/*------------------------------------*\
    # Type
\*------------------------------------*/



// Make type normal across browsers
*, html, body {
  font-size: $base-font-size;

  @media only screen and (max-width: 500px) {
    font-size: $mobile-base-font-size;
  } 
  
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  margin: $header-margin * 1.5 0 $header-margin 0;
  color: $header-color;
  line-height: $header-line-height;
  font-weight: 800;
  font-family: $heading-font-family;
  letter-spacing: -1px;
}

// Headers
#page-header {
  border-bottom: 1px solid $black;
  padding-bottom: 5px;
  display: inline-block;
  grid-column: col / span 12;

}

#alt-h1 {
  border-bottom: 1px solid $black;
  padding-bottom: 5px;
}

// Headers
#alt-h2 {
  text-decoration: underline;

}


h1 {
  font-size: $header-size;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -1.5px;
  margin: $header-margin * 1.5 0 $header-margin/1.1 0;
}

h1 + p,
h1 + ul li,
h1 + ol li,
h1 + ol + p,
.h1-copy {
  //font-size: $header-size/  1.9;
  font-family: $font-family;
  font-size: 1.5rem;
  line-height: 1.3;
}

.hero-sub {
  font-size: $header-size/  1.7;
}
h1 + h2 {
  margin-bottom: 1rem;
}




// Heading Two
h2 {
  font-size: $header-size / 1.4;
  font-weight: 800;
  margin: $header-margin * 1.2 0 1rem 0;
}

h2 + p,
h2 + ul li,
h2 + ol li,
h2 + ol + p,
.h2-copy {
  font-size: 1.25rem;
  font-family: $font-family;
  margin-top: 0;
}

// Sub Heading Two Styles
@supports (display: grid) {
  .sub-heading-two {
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: start;
    @media only screen and (max-width: 1400px) {
      grid-column-start: 2;
      grid-column-end: 14;
      grid-row: 1/ 2;
    }
  }
}

.sub-heading-two {
  text-align: right;
  padding-top: 0.5rem;
  border-top: 2px solid $brand-three;
  margin: 0;
  font-family: $font-family;
  line-height: 1;
  font-size: $header-size / 2;
  font-weight: 700;
  width: 150px;
  justify-self: end;
  @media only screen and (max-width: 1400px) {
    border-bottom: 1px solid $gray;
    border-top: 0 solid $gray;
    padding: 0 0 0.5rem 0;
    text-align: left;
    width: 100%;
    br {
      display: none;
    }
  }
  &.margin-top{
    margin-top: 2rem;
  }
}

html.no-cssgrid {
  .sub-heading-two {
    width: 100%;
    text-align: left;
    border-top: 0;
    border-bottom: 1px solid $gray;
    margin-bottom: 1rem;
    @media only screen and (max-width: 1200px) {

    }
  }
}

// Heading Three
h3 {
  font-size: $header-size / 1.5;
  //line-height: 2.3rem;
  line-height:1;
  margin: $header-margin * 1.5 0 $header-margin / 1.4 0;
  a {
    font-weight: 800;
  }
  & + p {
    margin-top: 0;
    font-size: $header-size /3.75;
  }
}
h3 + p,
h3 + ul li,
h3 + ol li,
h3 + ol + p,
.h3-copy {
  font-size: $header-size/  2.3;
  font-family: $font-family;
}

// Heading Four
h4 {

  font-size: $header-size / 1.7;
}
h4 + p,
h4 + ul li,
h4 + ol li,
h4 + ol + p,
.h4-copy {
  font-size: $header-size/  2.3;
  font-family: $font-family;
  margin: $header-margin * 1.5 0 $header-margin / 1.5 0;
}


// Heading Five
h5 {
  font-size: 1.2rem;
  margin: $header-margin * 1.2 0 0 0;
  font-family: $font-family;
  letter-spacing: -0.5px;
  & + p {
    margin-top: 0;
    //font-size: $header-size /3.75;
  }
}
//h5 + p,
//h5 + ol li,
//h5 + ol + p,
//.h5-copy {
//  font-size: $header-size/  2.4;
//  font-family: $font-family;
//}

// Heading Six
h6, blockquote > h6 {
  font-size: $header-size / 3.75;
  text-transform: uppercase;
  margin-bottom: .5rem;
  letter-spacing: 0;
  font-weight: 800;
  line-height: $paragraph-line-height;
}
h6 + p, .h6-copy  {
  margin-top: 0;
  font-size: $header-size /3.75;
}

// Paragraph Text
p, li {
  margin-top: $paragraph-margin;
  //font-size: $paragraph-size;
  line-height: $paragraph-line-height;
  color: $paragraph-color;
  font-size: 1rem;

  &:first-of-type {
    margin-top: 0;
  }
}
p + h6 {
  margin-top: 1rem;
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  @include transition(all .2s ease);

  &:hover {
    color: darken($link-color, 10%);
  }
  &:focus {
    //outline: 3px dotted #811d15!important;
  }
  &.link {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
  }
}

// Lists
ul, ol {
  margin: $paragraph-margin 0 10px 20px;
  li {
    margin-top: 0;
    line-height: $paragraph-line-height;
    color: $paragraph-color;
    ol, ul {

    }
  }

  ul, ol {
    margin-top: 0;
  }
}


ul {

  li {
    list-style: disc;
  }

  ul {

    li {
      list-style: circle;
    }
  }
}

ol {

  li {
    list-style: decimal;
  }
}

legend {
  margin-top: $paragraph-margin;
  font-size: $paragraph-size * 1.5;
  line-height: $paragraph-line-height;
  color: $white;

}

// hr
hr {
  height: 1px;
  margin: $hr-margin 0;
  border: none;
  background-color: $border-color;
}

// Blockquote
blockquote {
  grid-column-start: 2;
  grid-column-end: 14;
  margin-top: 1rem;
  border-left: 1px solid;
  p {
    margin: $blockquote-margin 0;
    color: $blockquote-color;
    padding-left: 2rem;
    font-style: italic;
    font-size: $blockquote-size;
    font-family: $font-family;
    margin-bottom:0.5rem
  }
  h6{
    padding-left: 2rem;
    margin-bottom:0;
    color: $black!important;
    font-family: $font-family;
  }
  &.featured {
    border-left: 1px solid white;
    padding: 2rem;
    background-color: $brand-blue;
    .quote {
      width: 100px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: $brand-seven;
      display: inline-block;
      margin-bottom: 1rem;
    }
    svg {
      width: 30px;
      height: 30px;
      margin-bottom: 1rem;
    }
    .quote-svg {
      fill: $white;
    }
    p {
      padding: 0;
      margin: 0;
      grid-column-start: 2;
      grid-column-end: 14;
      border-left: none;
      color: $white;
    }
    h6 {
      margin: 0;
      color: $white;
      padding-left: 0;
      &:nth-of-type(1) {
        margin: 1rem 0 0 0;
      }
      &:nth-of-type(2) {
        font-weight: 100;
      }
    }
    a {
      color: $white;
    }
  }
}

article.featured {
  grid-row-gap: 0;
  background-color: $brand-darkblue;
  .quote {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 14;
    margin-top: 2rem;
    background: url('images/quote.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 30px;
    height: 30px;
    margin-bottom: 1rem;
  }
  blockquote {
    grid-row: 2;
    margin-top: 0;
    margin-bottom: 2rem;
    grid-column-start: 2;
    grid-column-end: 14;
    p {
      padding: 0;
      margin: 0;
      grid-column-start: 2;
      grid-column-end: 14;
      border-left: none;
      color: $white;
      font-size: $header-size/  2.16346;
      font-family: $font-family;
    }
    h6 {
      color: $white;
      margin: 0;
      padding-left: 0;
      &:nth-of-type(1) {
        margin: 1rem 0 0 0;
      }
      &:nth-of-type(2) {
        font-weight: 100;
      }
      & + p {
        margin-top: 0;
        font-size: $header-size /3.75;
      }
    }


  }
  div.border {
    margin-top: 0;
    grid-row: 2;
    border-color: $brand-seven;
    border-top-style: solid;
    border-top-width: 1px;
    text-align: right;
    padding-top: 0.5rem;
    color: #253882;
    font-family: "Source+Sans+Pro", sans-serif;
    line-height: 1;
    font-size: 1.40625rem;
    font-weight: 700;
    width: 150px;
    justify-self: end;

  }
}

blockquote {
  &.featured--alt {
    padding: 1rem 2rem 1rem 2rem;
    .quote {
      width: 50px;
      display: inline-block;
      margin-bottom: 4rem;
      float: left;
      clear: both;
      @media only screen and (max-width: 600px) {
        margin-bottom: 8rem;
      }
      @media only screen and (max-width: 500px) {
        display: none;
      }
    }
    svg {
      width: 30px;
      height: 30px;
      margin-bottom: 0;
    }
    .quote-svg {
      fill: $paragraph-color;
    }
    p {
      padding: 0;
      margin: 0;
      grid-column-start: 2;
      grid-column-end: 14;
      border-left: none;
      color: $paragraph-color;
    }
    h6 {
      margin: 0;
      color: $paragraph-color;
      &:nth-of-type(1) {
        margin: 1rem 0 0 0;
      }
      &:nth-of-type(2) {
        font-weight: 100;
      }
    }
    a {
      color: $paragraph-color;
    }
  }
}

// Tables
table {
  width: 100%;
  margin: $blockquote-margin 0;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid $border-color;
  text-align: left;
}

th {
  font-weight: $font-weight-bold;
}

th, td {
  padding: 15px;
}

// Figure
figure {
  margin: $blockquote-margin 0;

  img {
    margin: 0;
  }
}

figcaption {
  margin-top: 10px;
  color: lighten($paragraph-color, 10%);
  font-size: $paragraph-margin * 0.8;
}

.terminal{
  background-image: url('/resources/images/mac-os-window-frame.png');
  padding: 2rem 0 0 0;
  a{
    margin-top: auto;
  }
}

// Code
pre {
  display: block;
  padding: 0;
  margin: 0;

  code {
    position: relative;
    padding: 3px;
    font-family: Courier New, Courier, monospace;
    font-size: $paragraph-size / 1.3;
    color: darken($border-color, 40%);
    line-height: 1.5em;
    pointer-events: none;
    border: 1px solid $border-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

// Misc Styles
em, i, .italic {
  font-style: italic;
}

strong, b, .bold {
  font-weight: $font-weight-bold;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

div article.note-wrap {
  display: none;
  .notes {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #DADADA;
    border-radius: 3px;
    margin: 0 0 20px 0;
    grid-column-start: 2;
    grid-column-end: 14;

    p {
      margin-bottom: 0em;
      color: #747474;
      font-size: 80%;
      font-family: Courier New, Courier, monospace;

    }
    h5 {
      margin-top: 0;
      color: #747474;
    }
  }
}

