// FROM LOGO
$logo-one: #74cbf3;
$logo-two: #009ee3;
$logo-three: #0067b1;
$logo-four: #433d90;
$logo-five: #931e80;
$logo-six: #e11482;
$logo-seven: #e63b2e;
$logo-eight: #f6a635;


// Base Colors
//
// Weight: 1
//
// Base primary colors for branding.
//
// $paragraph-color - #505050;
// $heading-color - #253882;
// $white -  #ffffff;
// $grey -  #ccc;
// $darkgrey -  #777f88;
// $black - #2b2b2b;
// $blockquote-color - #505050;
// $link-color - #4eaff6;
// $brand-red -   #B20037;
// $brand-blue -   #253882;
// $brand-darkblue -   #0b193e;
//
// Styleguide colours.base

$white: #ffffff;
$gray: #ccc;
$darkgray: #777f88;
$black: #2b2b2b;
$brand-red: #B20037;
$brand-blue: #253882;
$brand-darkblue: #0b193e;

//@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');

$brand-one: #3B3089;
$brand-two: #146ebb;
$brand-three: #2da6dd;
$brand-four: #64d4f5;
$brand-five: #832b94;
$brand-six: #f2389b;
$brand-seven: #ff4731;
$brand-eight: #ffa244;

// Global Colors
//
// Weight: 2
//
// Global template colours
//
// $global -  #3B3089; Global One
// $globalTwo  -  #146ebb; Global Two
// $globalThree -  #2da6dd; Global Three
// $globalFour  -  #64d4f5; Global Four
// $globalFive  -  #832b94; Global Five
// $globalSix -     #f2389b; Global Six
// $globalSeven -   #ff4731; Global Seven
// $globalEight -   #ffa244; Global Eight
//
// Styleguide colours.global

$global: $brand-one;
$globalTwo: $brand-two;
$globalThree: $brand-three;
$globalFour: $brand-four;
$globalFive: $brand-five;
$globalSix: $brand-six;
$globalSeven: $brand-seven;
$globalEight: $brand-eight;


.invert{
  svg:not(.ignore) {
    path, polygon, circle, ellipse,rect.devices-4 {
      fill:$white;
    }
    .devices-3{
      fill:transparent;
    }
    .pickdata-2,.pickdata-3, rect.signup-3,rect.signup-2,rect.signup-1, .devices-2, rect.devices-4{
      stroke:$white;
    }
  }

}

.global {
  &.a {
    background-color: $global;
  }
  &.call_to_action--full-width {
    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $globalThree;
    }
    figure {
      background-color: $globalThree;
    }
  }
  .three {

  }
  &.gradient {
    background: $globalFour; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $globalTwo 16%, $globalFive 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $globalTwo 16%, $globalFive 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $globalTwo 16%, $globalFive 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69c5e3', endColorstr='#33377c', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
  }

}

.global-btn {
  background-color: $global !important;
  color: $white !important;
}

.global-template {
  h1, h2, h3, h4, h5, h6 {
    color: $global;
  }
  .hero--sub, .hero--montage {
    h1 {
      color: $global;
    }
    @media only screen and (max-width: 750px) {
      figure {
        background-color: $globalFive;
      }
    }
  }
  .sub-heading-two {
    color: $global;
  }
  .link {
    color: $global;
  }

  .button-primary {
    background-color: $globalFive;
    &:hover {
      background-color: $globalSix;
    }
  }
  a.button-primary--ghost {
    background-color: transparent;
    border-color: $globalFive;
    color: $globalFive;
  }
  a.button-primary--ghostlarge {
    background-color: transparent;
    border-color: $globalFive;
    color: $globalFive;
  }

  .button-secondary {
    background-color: $globalFour;
    &:hover {
      background-color: $globalThree;
    }
  }
  a.button-secondary--ghost {
    background-color: transparent;
    border-color: $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $brand-darkblue;
    }
  }

  .call_to_action--full-width {
    //background-color: $global;
    background-color: $brand-darkblue;
    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $globalFive;
      &:hover {
        background-color: $globalSix;
      }
    }
    figure {
      background-color: $globalThree;
    }
  }
  .call_to_action {
    .one, .one.stripe {
      background: none $brand-darkblue !important;
      .button-primary {
        background-color: $globalFive;
        &:hover {
          background-color: $globalSix;
        }
      }
    }
    .two, .three {
      * {
        color: $white;
      }
    }
    .button-primary {
      background-color: $globalFive;
    }
  }
  .call_to_action--wide {
    .one {
      background: none $brand-darkblue !important;
      .button-primary {
        background-color: $globalFive;
        &:hover {
          background-color: $globalSix;
        }
      }
    }
  }
  .inset-call-to-action {
    background: $globalFour; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $globalFour 16%, $global 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $globalFour 16%, $global 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $globalFour 16%, $global 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69c5e3', endColorstr='#33377c', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
    .button-primary {
      background-color: $globalFour;
      &:hover {
        background-color: $globalThree;

      }
    }
    input{
      color: #5A5A5A;
    }
  }

  blockquote.featured {
    background-color: $brand-darkblue;

  }
  .featured {
    background-color: $brand-darkblue;
  }

  .faq-snippet {
    .show_hide {
      border-color: $white;
    }
  }

  .invert {
    background-color: $brand-darkblue;
    padding: 4rem 0;

    .sub-heading-two {
      color: $white;
    }

    a.button-primary {
      background-color: $brand-two;
      &:hover {
        background-color: transparent;
        border-color: white;
        color: white;
      }
    }
    a.button-primary--ghost {
      background-color: transparent;
      border-color: white;
      color: white;
      &:hover {
        border-color: transparent;
        background-color: $brand-two;
      }

    }
    a.button-primary--ghostlarge {
      background-color: transparent;
      border-color: white;
      color: white;
      &:hover {
        border-color: transparent;
        background-color: $brand-two;
      }

    }
    .tabPanel {
      h4 {
        color: $white;
      }
    }
    blockquote {
      .quote-svg {
        fill: $white;
      }
      p {
        color: $white;
      }
      h6 {
        margin: 0;
        color: $white;
      }
    }
    span[class^="odometer-"] {
      color: $white;
    }
    .arrow{
      svg{
        path{
          fill:$white;
        }
      }
    }
    figcaption {
      color: $white;
    }
    h1,h2,h3,h4,h5,h6,p,li{
      color: $white;
    }
  }
  .invert-2 {
    @extend .invert;
    background-color: $brand-darkblue;
  }
  .invert-3 {
    @extend .invert;
    background-color: $global;
  }
  .invert-4 {
    @extend .invert;
    background-color: $logo-six;
  }
  .invert-5 {
    @extend .invert;
    background-color: $logo-six;
  }
  .invert-5 {
    // @extend .invert;
    background-color: $brand-two;
  }

  .colours {
    div {
      height: 100px;
      &:nth-child(1) {
        background-color: $global;
      }
      &:nth-child(2) {
        background-color: $globalTwo;
      }
      &:nth-child(3) {
        background-color: $globalThree;
      }
      &:nth-child(4) {
        background-color: $globalFour;
      }
      &:nth-child(5) {
        background-color: $globalFive;
      }
      &:nth-child(6) {
        background-color: $globalSix;
      }
      &:nth-child(7) {
        background-color: $globalSeven;
      }
      &:nth-child(8) {
        background-color: $globalEight;
      }
    }
  }

}

.global, .global-template {
  .triangle {
    //BLUE TRAINGLE
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165.47 165.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%233a3188;}%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 7%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 165.47 165.47 165.47 0 0 0 165.47'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .stripe {
    //BLUE STRIPE
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 178.86 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%237d338a;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ethin-stripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='14.39 0.05 0 0 164.53 165.78 178.86 165.78 14.39 0.05'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    &.thick {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192.39 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%237d338a;}%3C/style%3E%3C/defs%3E%3Ctitle%3Estripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='192.39 165.78 164.93 138.12 164.89 138.12 27.92 0.11 0 0 164.53 165.78 192.39 165.78'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

// Use Colors
//
// Weight: 3
//
// Using template colours
//
// $using  -  #2541a2; Using One
// $usingTwo -  #3B3089; Global One
// $usingThree -  #832b94; Global Five
// $usingFour  -  #984da7; Using Four
// $usingFive  -  #f2389b; Global Six
//
// Styleguide colours.use

$using: #2541a2;
$usingTwo: $brand-one;
$usingThree: $brand-five;
$usingFour: #984da7;
$usingFive: $brand-six;
article.use, div.use {
  background-color: $using;
  &.call_to_action--full-width {
    //background-color: $using;
    background-color: $brand-blue;
    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $usingFive;
    }
    figure {
      background-color: $usingThree;
    }
  }
  &.gradient {
    background: $using; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $usingFive 16%, $usingThree 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $usingFive 16%, $usingThree 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $usingFive 16%, $usingThree 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e61990', endColorstr='#922a8f', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
  }
  .button-primary {
    background-color: $usingFive;
  }
}

.use-btn {
  background-color: $usingFour !important;
  color: $white !important;
}

.use-template {
  h1, h2, h3, h4, h5, h6 {
    color: $usingThree;
  }
  .hero--sub, .hero--montage {
    h1 {
      color: $usingThree;
    }
    @media only screen and (max-width: 750px) {
      figure {
        background-color: $globalFive;
      }
    }
  }
  .sub-heading-two {
    color: $usingThree;
  }

  .link {
    color: $usingFour;
  }

  .button-primary {
    background-color: $usingThree;
    &:hover {
      background-color: $globalSix;
    }
  }
  a.button-primary--ghost, a.button-primary--ghostlarge {
    background-color: transparent;
    border-color: $usingThree;
    color: $usingThree;
  }

  .button-secondary {
    background-color: $usingFive;
    &:hover {
      background-color: $usingFour;
    }
  }
  a.button-secondary--ghost {
    background-color: transparent;
    border-color: $usingFive;
    color: $usingFive;
    &:hover {
      background-color: $usingFour;
    }
  }

  .call_to_action--full-width {
    //background-color: $usingThree;
    background-color: $brand-blue;

    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $usingFive;
      &:hover {
        background-color: $usingFour;
      }
    }
    figure {
      background-color: $usingFive;
    }
  }
  .call_to_action {
    .one, .one.stripe {
      background: none $usingThree;
      .button-primary {
        background-color: $usingFive;
        &:hover {
          background-color: $usingFour;
        }
      }
    }
    .two, .three {
      * {
        color: $white;
      }
    }
  }
  .call_to_action--wide {
    .one {
      background: none $usingThree !important;
    }
    .button-primary {
      background-color: $usingFive;
      &:hover {
        background-color: $usingFour;
      }
    }
  }

  .inset-call-to-action {
    background: $using; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $usingFive 16%, $usingThree 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $usingFive 16%, $usingThree 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $usingFive 16%, $usingThree 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e61990', endColorstr='#922a8f', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
    .button-primary {
      background-color: $usingFive;
      &:hover {
        background-color: $usingFour;
      }
    }
    input{
      color: #5A5A5A;
    }
  }

  blockquote.featured {
    background-color: $usingFive;

  }
  .featured {
    background-color: $usingFive;
  }

  .faq-snippet {
    .show_hide {
      border-color: $white;
    }
  }

  .invert {
    background-color: $usingFour;
    padding: 3rem 0 2rem 0;
    .sub-heading-two {
      color: $white;
    }
    svg {
      path {
        fill: $white;
      }
    }
    h1, h2, h3, h4, h5, p {
      color: $white;
    }
    .tabPanel {
      h4 {
        color: $white;
      }
    }
    blockquote {
      .quote-svg {
        fill: $white;
      }
      p {
        color: $white;
      }
      h6 {
        margin: 0;
        color: $white;
      }
    }
    span[class^="odometer-"] {
      color: $white;
    }
    figcaption {
      color: $white;
    }
    h1,h2,h3,h4,h5,h6,p,li{
      color: $white;
    }
    .arrow{
      svg{
        path{
          fill:$white;
        }
      }
    }
  }
  .invert-2 {
    @extend .invert;
    background-color: $using;
  }
  .invert-3 {
    @extend .invert;
    background-color: $usingTwo;
  }
  .invert-4 {
    @extend .invert;
    background-color: $usingThree;
  }
  .invert-5 {
    @extend .invert;
    background-color: $usingFour;
  }
  .invert-5 {
    // @extend .invert;
    background-color: $usingFive;
  }

  .colours {
    div {
      height: 100px;
      &:nth-child(1) {
        background-color: $using;
      }
      &:nth-child(2) {
        background-color: $usingTwo;
      }
      &:nth-child(3) {
        background-color: $usingThree;
      }
      &:nth-child(4) {
        background-color: $usingFour;
      }
      &:nth-child(5) {
        background-color: $usingFive;
      }
    }
  }

}

.use, .use-template {
  .triangle {
    //BLUE TRAINGLE
    //background-color: $usingThree;
    //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165.47 165.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%237d338a;}%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 7%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 165.47 165.47 165.47 0 0 0 165.47'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165.47 165.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%233a3188;}%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 7%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 165.47 165.47 165.47 0 0 0 165.47'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  }
  .stripe {
    //BLUE STRIPE
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 178.86 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23e11582;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ethin-stripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='14.39 0.05 0 0 164.53 165.78 178.86 165.78 14.39 0.05'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    &.thick {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192.39 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23e11582;}%3C/style%3E%3C/defs%3E%3Ctitle%3Estripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='192.39 165.78 164.93 138.12 164.89 138.12 27.92 0.11 0 0 164.53 165.78 192.39 165.78'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

// Publish Colors
//
// Weight: 4
//
// Publish template colours
//
// $publish  -  #3B3089; Global One
// $publishTwo -  #074474; Publish Two
// $publishThree -  #146ebb; Global Three
// $publishFour  -  #00b4cf; Publish Four
// $publishFive  -  #64d4f5; Global Four
//
// Styleguide colours.publish


$publish: $brand-one;
$publishTwo: #074474;
$publishThree: $brand-two;
$publishFour: #00b4cf;
$publishFive: $brand-four;

article.publish, div.publish {
  background-color: $publish;
  &.call_to_action--full-width {
    background-color: $publish;
    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $publishTwo;
    }
    figure {
      background-color: $publishThree;
    }
  }
  &.gradient {
    background: $publishFive; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $publishFive 16%, $publishThree 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $publishFive 16%, $publishThree 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $publishFive 16%, $publishThree 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bccf5', endColorstr='#006fb9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
  }
  .button-primary {
    background-color: $publishTwo;
  }
}

.publish-btn {
  background-color: $publishFour !important;
  color: $white !important;
}

.publish, .publish-template {
  .triangle {
    //BLUE TRAINGLE
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165.47 165.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23054474;}%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 7%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 165.47 165.47 165.47 0 0 0 165.47'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .stripe {
    //BLUE STRIPE
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 178.86 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%2300b4cf;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ethin-stripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='14.39 0.05 0 0 164.53 165.78 178.86 165.78 14.39 0.05'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    &.thick {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192.39 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%2300b4cf;}%3C/style%3E%3C/defs%3E%3Ctitle%3Estripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='192.39 165.78 164.93 138.12 164.89 138.12 27.92 0.11 0 0 164.53 165.78 192.39 165.78'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}




.publish-template {
  h1, h2, h3, h4, h5, h6 {
    color: $publishFour;
  }
  .sub-heading-two {
    color: $publishFour;
  }

  .link {
    color: $publishFour;
  }

  .button-primary {
    background-color: $publish;
    &:hover {
      background-color: $publishThree;
    }
  }
  a.button-primary--ghost, a.button-primary--ghostlarge {
    background-color: transparent;
    border-color: $publish;
    color: $publish;
  }

  .button-secondary {
    background-color: $publishFour;
    &:hover {
      background-color: $publishThree;
    }
  }
  a.button-secondary--ghost {
    background-color: transparent;
    border-color: $publishFour;
    color: $publishFour;
    &:hover {
      background-color: $publishThree;
    }
  }

  .hero--sub, .hero--montage {
    h1 {
      color: $publishFour;
    }
    @media only screen and (max-width: 750px) {
      figure {
        background-color: $publishFive;
      }
    }
  }

  .call_to_action--full-width {
    background-color: $publishTwo;
    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $publishFour;
      &:hover {
        background-color: $publishThree;
      }
    }
    figure {
      background-color: $publishFour;
    }
  }
  .call_to_action {
    .one, .one.stripe {
      background: none $publishTwo;
      .button-primary {
        background-color: $publishFour;
        &:hover {
          background-color: $publishThree;
        }
      }
    }
    .two, .three {
      * {
        color: $white;
      }
    }
  }
  .call_to_action--wide {
    .one {
      background: none $publishTwo !important;
      .button-primary {
        background-color: $publishFour;
        &:hover {
          background-color: $publishThree;
        }
      }
    }
  }
  .inset-call-to-action {
    background: $publishFive; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $publishFive 16%, $publishThree 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $publishFive 16%, $publishThree 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $publishFive 16%, $publishThree 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bccf5', endColorstr='#006fb9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
    .button-primary {
      background-color: $publishFour;
      &:hover {
        background-color: $publishThree;

      }
    }
    input{
      color: #5A5A5A;
    }
  }

  blockquote.featured {
    background-color: $publishThree;

  }
  .featured {
    background-color: $publishThree;
  }

  .faq-snippet {
    .show_hide {
      border-color: $white;
    }
  }

  .invert {
    background-color: $publishFour;
    padding: 3rem 0;
    .sub-heading-two {
      color: $white;
    }
    svg {
      path {
        fill: $white;
      }
    }
    .tabPanel {
      h4 {
        color: $white;
      }
    }
    blockquote {
      .quote-svg {
        fill: $white;
      }
      p {
        color: $white;
      }
      h6 {
        margin: 0;
        color: $white;
      }
    }
    span[class^="odometer-"] {
      color: $white;
    }
    figcaption {
      color: $white;
    }
    h1,h2,h3,h4,h5,h6,p,li{
      color: $white;
    }
    .arrow{
      svg{
        path{
          fill:$white;
        }
      }
    }
  }
  .invert-2 {
    @extend .invert;
    background-color: $publish;
  }
  .invert-3 {
    @extend .invert;
    background-color: $publishTwo;
  }
  .invert-4 {
    @extend .invert;
    background-color: $publishThree;
  }
  .invert-5 {
    @extend .invert;
    background-color: $publishFour;
  }
  .invert-5 {
    // @extend .invert;
    background-color: $publishFive;
  }

  .colours {
    div {
      height: 100px;
      &:nth-child(1) {
        background-color: $publish;
      }
      &:nth-child(2) {
        background-color: $publishTwo;
      }
      &:nth-child(3) {
        background-color: $publishThree;
      }
      &:nth-child(4) {
        background-color: $publishFour;
      }
      &:nth-child(5) {
        background-color: $publishFive;
      }
    }
  }
}

// Start Up Colors
//
// Weight: 5
//
// Start-Up template colours
//
// $startUp  -  #984da7; Start Up One
// $startUpTwo -  #f2389b; Brand Six
// $startUpThree -  #d02724; Start Up Three
// $startUpFour  -  #ff4731; Brand Seven
// $startUpFive  -  #ffa244; Brand Eight
//
// Styleguide colours.startup

$startUp: #984da7;
$startUpTwo: $brand-six;
$startUpThree: #d02724;
$startUpFour: $brand-seven;
$startUpFive: $brand-eight;

article.startup, div.startup, a.button-primary.startup {
  background-color: $startUpFour;
  &.call_to_action--full-width {
    background-color: #e9493b;
    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $startUpFive;
    }
    @media only screen and (max-width: 750px) {
      figure {
        background-color: $startUpFive;
      }
    }
  }
  &.gradient {
    background: $startUpFour; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $startUpFour 16%, $startUpFive 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $startUpFour 16%, $startUpFive 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $startUpFour 16%, $startUpFive 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef4939', endColorstr='#faa742', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
  }
}

.start-ups-btn {
  background-color: $startUpFour !important;
  color: $white !important;
}

.startup-template {

  h1, h2, h3, h4, h5, h6 {
    color: $startUpFour;
  }
  .hero--sub, .hero--montage {
    h1 {
      color: $startUpFour;
    }
    @media only screen and (max-width: 750px) {
      figure {
        background-color: $globalFive;
      }
    }
  }
  .sub-heading-two {
    color: $startUpFour;
  }

  .link {
    color: $startUpFour;
  }

  .button-primary {
    background-color: $startUpFour;
    &:hover {
      background-color: $startUpFive;
    }
  }
  a.button-primary--ghost, a.button-primary--ghostlarge {
    background-color: transparent;
    border-color: $startUpFour;
    color: $startUpFour;
  }

  .button-secondary {
    background-color: $startUpFive;
    &:hover {
      background-color: $startUpFour;
    }
  }
  a.button-secondary--ghost {
    background-color: transparent;
    border-color: $startUpFive;
    color: $startUpFive;

  }

  .call_to_action {
    .one, .one.stripe {
      background: none #e9493b !important;
      .button-primary {
        background-color: $startUpFive;
        &:hover {
          background-color: $startUpThree;
        }
      }
    }
    .two, .three {
      * {
        color: $white;
      }
    }
  }
  .call_to_action--wide {
    .one {
      background: none $startUpThree;
      .button-primary {
        background-color: $startUpFive;
        &:hover {
          background-color: $startUpFour;
        }
      }
    }
  }
  .call_to_action--full-width {
    //background-color: #e9493b;
    background-color: $brand-blue;

    .sub-heading-two {
      color: $white;
    }
    .button-primary {
      background-color: $startUpFive;
      &:hover {
        background-color: $startUpThree;
      }
    }
    figure {
      background-color: $startUpFive;
    }
  }
  .inset-call-to-action {
    background: $publishFive; /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% 20%, $startUpFive 16%, $startUpThree 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(ellipse at 50% 20%, $startUpFive 16%, $startUpThree 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 20%, $startUpFive 16%, $startUpThree 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bccf5', endColorstr='#006fb9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    * {
      color: $white;
    }
    .button-primary {
      background-color: $startUpFive;
      &:hover {
        background-color: $startUpThree;

      }
    }
    input{
      color: #5A5A5A;
    }
  }

  .hero--montage {
    h1 {
      color: $startUpFour;
    }
    figure:not(.sub-menu) {
      background-color: $startUpThree;
    }
  }

  blockquote.featured {
    background-color: $startUpThree;

  }
  .featured {
    background-color: $startUpThree;
  }

  .faq-snippet {
    .show_hide {
      border-color: $white;
    }
  }

  .invert {
    background-color: $startUpThree;
    padding: 2rem 0;
    .sub-heading-two {
      color: $white;
    }
    svg {
      path {
        fill: $white;
      }
    }
    .tabPanel {
      h4 {
        color: $white;
      }
    }
    blockquote {
      .quote-svg {
        fill: $white;
      }
      p {
        color: $white;
      }
      h6 {
        margin: 0;
        color: $white;
      }
    }
    span[class^="odometer-"] {
      color: $white;
    }
    figcaption {
      color: $white;
    }
    h1,h2,h3,h4,h5,h6,p,li{
      color: $white;
    }
    .arrow{
      svg{
        path{
          fill:$white;
        }
      }
    }
  }
  .invert-2 {
    @extend .invert;
    background-color: $startUp;
  }
  .invert-3 {
    @extend .invert;
    background-color: $startUpTwo;
  }
  .invert-4 {
    @extend .invert;
    background-color: $startUpThree;
  }
  .invert-5 {
    @extend .invert;
    background-color: $startUpFour;
  }
  .invert-5 {
    background-color: $startUpFive;
  }

  .colours {
    div {
      height: 100px;
      &:nth-child(1) {
        background-color: $startUp;
      }
      &:nth-child(2) {
        background-color: $startUpTwo;
      }
      &:nth-child(3) {
        background-color: $startUpThree;
      }
      &:nth-child(4) {
        background-color: $startUpFour;
      }
      &:nth-child(5) {
        background-color: $startUpFive;
      }
    }
  }
}

.startup-template, article.startup, div.startup {
  .triangle {
    //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165.47 165.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23e94a3b;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ebig-triangle%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 165.47 165.47 165.47 0 0 0 165.47'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165.47 165.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%233a3188;}%3C/style%3E%3C/defs%3E%3Ctitle%3EAsset 7%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 165.47 165.47 165.47 0 0 0 165.47'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .stripe {
    //BLUE STRIPE
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 178.86 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23f7a644;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ethin-stripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='14.39 0.05 0 0 164.53 165.78 178.86 165.78 14.39 0.05'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    &.thick {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192.39 165.78'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23f7a644;}%3C/style%3E%3C/defs%3E%3Ctitle%3Estripe%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='192.39 165.78 164.93 138.12 164.89 138.12 27.92 0.11 0 0 164.53 165.78 192.39 165.78'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:800,400|Source+Sans+Pro:300,400,700&subset=latin-ext');

// Font Family
$font-family: 'Source+Sans+Pro', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

// Base Font for HTML
$base-font-size: 16px;

$mobile-base-font-size: 13px;

// Paragraph Styles
$paragraph-color: #5A5A5A;
$paragraph-size: rem(17px);
$paragraph-line-height: 1.5;
$paragraph-margin: 1.3rem;

// Header Styles
$header-color: #253882;
$header-size: rem(45px);
$header-line-height: 1.8rem;
$header-margin: $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color: #5A5A5A;
$blockquote-size: rem(18px);
$blockquote-line-height: 1.6;
$blockquote-margin: $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;
//Nav Links
$nav-color: $brand-blue;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;

.svg {
  &.twitter {
    fill: $brand-blue;
  }
  &.youtube {
    fill: $brand-blue;
  }
  &.medium {
    fill: $brand-blue;
  }
}

//UTILITY CLASSES
//****************************BRAND BACKGROUND COLOUR
.brand-one-bc {
  background-color: $brand-one;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-eight;
    }
  }
}

.brand-two-bc {
  background-color: $brand-two;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-eight;
    }
  }
}

.brand-three-bc {
  background-color: $brand-three;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-eight;
    }
  }
}

.brand-four-bc {
  background-color: $brand-four;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-eight;
    }
  }
}

.brand-five-bc {
  background-color: $brand-five;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-eight;
    }
  }
}

.brand-six-bc {
  background-color: $brand-six;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-six;
    }
  }
}

.brand-seven-bc {
  background-color: $brand-seven;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-five;
    }
  }
}

.brand-eight-bc {
  background-color: $brand-eight;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      //background-color: $brand-four;
    }
  }
}

.brand-red-bc {
  background-color: $brand-red;
  &.call_to_action--full-width {
    a.button-primary {
      background-color: $brand-one;
    }
  }
  * {
    color: $white;
  }
}

.brand-blue-bc {
  background-color: $brand-blue;
  * {
    color: $white;
  }
  &.call_to_action--full-width {
    a.button-primary {
      background-color: $brand-two;
    }
  }
}

//****************************BRAND COLOUR
.brand-one-c {
  color: $brand-one;
}

.brand-two-c {
  color: $brand-two;
}

.brand-three-c {
  color: $brand-three;
}

.brand-four-c {
  color: $brand-four;
}

.brand-five-c {
  color: $brand-five;
}

.brand-six-c {
  color: $brand-six;
}

.brand-seven-c {
  color: $brand-seven;
}

.brand-eight-c {
  color: $brand-eight;
}

//****************************BRAND BORDER COLOUR
.brand-one-b {
  border-color: $brand-one;
  &.four {
    a:link, a:visited {
      color: $brand-one;
    }
  }
}

.brand-two-b {
  border-color: $brand-two;
  &.four {
    a:link, a:visited {
      color: $brand-two;
    }
  }
}

.brand-three-b {
  border-color: $brand-three;
  &.four {
    a:link, a:visited {
      color: $brand-three;
    }
  }
}

.brand-four-b {
  border-color: $brand-four;
  &.four {
    a:link, a:visited {
      color: $brand-four;
    }
  }
}

.brand-five-b {
  border-color: $brand-five;
  &.four {
    a:link, a:visited {
      color: $brand-five;
    }
  }
}

.brand-six-b {
  border-color: $brand-six;
  &.four {
    a:link, a:visited {
      color: $brand-six;
    }
  }
}

.brand-seven-b {
  border-color: $brand-seven;
  &.four {
    a:link, a:visited {
      color: $brand-seven;
    }
  }
}

.brand-eight-b {
  border-color: $brand-eight;
  &.four {
    a:link, a:visited {
      color: $brand-eight;
    }
  }
}

.brand-red-b {
  border-color: $brand-red;
  &.four {
    a:link, a:visited {
      color: $brand-red;
    }
  }
}

.brand-blue-b {
  border-color: $brand-blue;
  &.four {
    a:link, a:visited {
      color: $brand-blue;
    }
  }
}

//GRADIENTS
.blue-gradient-bc {
  background: #30a9cc; /* Old browsers */
  background: -moz-radial-gradient(ellipse at 50% 20%, #30a9cc 16%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(ellipse at 50% 20%, #30a9cc 16%, #1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at 50% 20%, #30a9cc 16%, #1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30a9cc', endColorstr='#1e5799', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  * {
    color: $white;
  }
  //.button-primary {
  //  background-color: #00c0f8;
  //}
  //&:hover {
  //  background-color: #1e5799;
  //}
}

.purple-gradient-bc {
  background: #d243b4; /* Old browsers */
  background: -moz-radial-gradient(ellipse at 50% 20%, #d243b4 16%, #331681 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(ellipse at 50% 20%, #d243b4 16%, #331681 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at 50% 20%, #d243b4 16%, #331681 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d243b4', endColorstr='#331681', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  * {
    color: $white;
  }
  //.button-primary {
  //  background-color: #d243b4;
  //}
  //&:hover {
  //  background-color: #331681;
  //}
}

.red-gradient-bc {
  background: #db4640; /* Old browsers */
  background: -moz-radial-gradient(ellipse at 50% 20%, #db4640 16%, #a92633 65%); /* FF3.6-15 */
  background: -webkit-radial-gradient(ellipse at 50% 20%, #db4640 16%, #a92633 65%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at 50% 20%, #db4640 16%, #a92633 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4640', endColorstr='#a92633', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  * {
    color: $white;
  }
  //.button-primary {
  //  background-color: #db4640;
  //  &:hover {
  //    background-color: #a92633;
  //  }
  //}
}


