@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');

// Primary Colors
//
// Weight: 1
//
// The primary colors used in the logo.
//
//$brand-one  -  #69c5e3;
//$brand-two  -  #1ba5d8;
//$brand-three -  #0d65a0;
//$brand-four  -  #263d75;
//$brand-five  -  #33377c;
//$brand-six -     #7f307a;
//$brand-seven -   #904d8c;
//$brand-eight -   #d12d81;
//$brand-nine -    #a92633;
//$brand-ten -     #db4640;
//$brand-eleven - #ec9e52;
//
// Styleguide colours.brand

// Colors
$brand-one: #69c5e3;
$brand-two: #1ba5d8;
$brand-three: #0d65a0;
$brand-four: #263d75;
$brand-five: #33377c;
$brand-six: #7f307a;
$brand-seven: #904d8c;
$brand-eight: #d12d81;
$brand-nine: #a92633;
$brand-ten: #db4640;
$brand-eleven: #ec9e52;


// Base Colors
//
// Weight: 2
//
// Base primary colors for branding.
//
// $paragraph-color - #505050;
// $heading-color - #000000;
// $white -  #ffffff;
// $black - #2b2b2b;
// $blockquote-color - #505050;
// $link-color - #4eaff6;
//
// Styleguide colours.base

$white: #ffffff;
$gray: gray;
$black: #2b2b2b;


// Sharing Colors
//
// Weight: 3
//
// Colours for Sharing User Routes
//
// $share - #ec9e52;
//
// Styleguide colours.sharing

$share: $brand-eleven;


// Using Colors
//
// Weight: 4
//
// Colours for sharing user routes
//
// $use - #7f307a;
//
// Styleguide colours.use

$use: $brand-six;

// General Colors
//
// Weight: 5
//
// Colours for general user routes
//
// $general - #69c5e3;
//
// Styleguide colours.general

$general: $brand-one;

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Source+Sans+Pro:400,700&subset=latin-ext');

// Font Family
$font-family: 'Source+Sans+Pro', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color: #505050;
$paragraph-size: rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin: 10px;

// Header Styles
$header-color: #000000;
$header-size: rem(40px);
$header-line-height: 1.25em;
$header-margin: $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color: #505050;
$blockquote-size: rem(25px);
$blockquote-line-height: 1.5em;
$blockquote-margin: $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;


